{% extends "base.html" %}
{% block head %}
{{ super() }}
<meta name="description"
  content="Здесь я делюсь всеми дополнительными материалами, где так или иначе я принимал участие. Например, давая интервью или будучи гостем наа каком-то подкасте." />
{% endblock %}
{% block title %} Экстра - различные сторонние появления меня и моего материала (интервью,
подкасты, и т.п.) | Адам Леос
{% endblock %}

{% block header_style %}header--secondary{% endblock %}

{% block content %}
<section class="main__section">
  <h2 class="main__heading main__heading--tall">Экстра</h2>

  <section class="main__section videos">
    <div class="videos__grid">
      <div class="videos__container">
        <iframe src="https://www.youtube-nocookie.com/embed/of-8kriAwvo" title="Голодание" loading="lazy"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="videos__container">
        <iframe src="https://www.youtube-nocookie.com/embed/7tmloOjVa6M" title="Сон" loading="lazy"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </section>
</section>
{% endblock %}