{% extends "base.html" %}
{% block head %}
{{ super() }}
<meta name="description"
  content="Кусочки из полноценных роликов" />
{% endblock %}
{% block title %}
Все мои видео | Адам Леос
{% endblock %}

{% block header_style %}header--secondary{% endblock %}

{% block content %}
<section class="main__section">
  <h2 class="main__heading main__heading--tall">Кусочки</h2>

  <section class="main__section videos">
    <div class="videos__grid">
      <div class="videos__container">
        <iframe src="https://www.youtube-nocookie.com/embed/bDJ-DYA-q9M" title="Рекомендации при бессоннице, ночных работах, и прочих нарушениях сна" loading="lazy"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="videos__container">
        <iframe src="https://www.youtube-nocookie.com/embed/khtBFt1n6ag" title="Кофе, алкоголь, и другие враги сна" loading="lazy"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="videos__container">
        <iframe src="https://www.youtube-nocookie.com/embed/yI7pqd490BE" title="Как улучшить сон? Освещение, температура, и другие факторы" loading="lazy"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="videos__container">
        <iframe src="https://www.youtube-nocookie.com/embed/BU4_6OlNf70" title="На что влияет сон? Иммунитет, метаболизм, мозг" loading="lazy"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="videos__container">
        <iframe src="https://www.youtube-nocookie.com/embed/1PDN33LVx-w" title="Как работает сон? Фазы сна, циркадные ритмы, гормоны" loading="lazy"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="videos__container">
        <iframe src="https://www.youtube-nocookie.com/embed/fkolLbrpHEE" title="Что будет, если не спать или не досыпать?" loading="lazy"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="videos__container">
        <iframe src="https://www.youtube-nocookie.com/embed/qv1GU8lQUfk" title="Правильное питание и прочие факторы микрофлоры кишечника" loading="lazy"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="videos__container">
        <iframe src="https://www.youtube-nocookie.com/embed/y5wM2lbpOQk" title="Отчего зависит качество микрофлоры кишечника?" loading="lazy"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="videos__container">
        <iframe src="https://www.youtube-nocookie.com/embed/GzPaWezsQvI" title="Польза от здоровой микрофлоры кишечника" loading="lazy"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="videos__container">
        <iframe src="https://www.youtube-nocookie.com/embed/ilGTem38mFo" title="Что такое микрофлора кишечника?" loading="lazy"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </section>
</section>
{% endblock %}