<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/videos.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta
      name="description"
      content="Все сделанные мною видео, с целью поделиться собранными знаниями и сделать мир немного лучше"
    />
    <title>Все мои видео | Адам Леос</title>
  </head>

  <body>
    <header class="header header--secondary">
      <nav class="header__nav nav">
        <input type="checkbox" id="hamburger" class="nav__hamburger-checkbox" />
        <label for="hamburger" class="nav__hamburger">
          <span class="nav__bar-one"></span>
          <span class="nav__bar-two"></span>
          <span class="nav__bar-three"></span>
        </label>
        <a href="../index.html" class="header__link header__link--mobile">
          <img
            src="../img/logo.png"
            alt="graphic brain with mustache"
            class="header__logo"
          />
        </a>
        <ul class="nav__list">
          <li class="nav__item">
            <a href="../index.html" class="nav__link">Главная</a>
          </li>
          <li class="nav__item">
            <a href="./index.html" class="nav__link">Темы</a>
          </li>
          <li class="nav__item nav__item--logo">
            <a href="../index.html" class="header__link">
              <img
                src="../img/logo.png"
                alt="graphic brain with mustache"
                class="header__logo"
              />
            </a>
          </li>
          <li class="nav__item">
            <a href="../media/index.html" class="nav__link">Медиа</a>
          </li>
          <li class="nav__item">
            <a href="../contacts/index.html" class="nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main">
      <section class="main__section">
        <h2 class="main__heading main__heading--tall">Видео</h2>

        <section class="main__section videos">
          <div class="videos__grid">
            <div class="videos__container">
              <iframe
                src="https://www.youtube-nocookie.com/embed/lfTmfrPGx50"
                title="Голодание"
                loading="lazy"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>

            <div class="videos__container">
              <iframe
                src="https://www.youtube-nocookie.com/embed/Pz_8yxa916I"
                title="Сон"
                loading="lazy"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>

            <div class="videos__container">
              <iframe
                src="https://www.youtube-nocookie.com/embed/hecklBJlNSo"
                title="Микрофлора"
                loading="lazy"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </section>
      </section>
    </main>
  </body>
</html>
