{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Как закалиться без проблем | Адам Леос" />
{% endblock %}
{% block title %} Как закалиться без проблем | Адам Леос {% endblock %}
{% block content %}
<section class="main__section">
    <h2 class="main__heading main__heading--post"> <span class="main__subheading"> <a
                href="/topics/temperature-stress-cold.html"><span>Температурный Стресс: Холод</span></a>
            <div class="post__delimiter"></div>
        </span> Как закалиться без проблем </h2>
    <article class="post">
        <div class="post__imagewrapper"> <img class="post__image"
                src="{{ url_for('static', filename='img/posts/adapting-to-cold.jpg')}}" alt="adapting-to-cold" /> </div>
        </div>
        <p class="post__text">Значит, вы однозначно решили улучшить свое сопротивление холоду. Возможно, чтобы поменьше
            болеть.
            Либо же вы захотели улучшить метаболические показатели таким образом. А может, вас просто заинтересовало
            улучшение
            настроения и сопротивления стрессу. Какой бы не была причина, сейчас мы обсудим, как это сделать эффективно
            и, самое
            главное, безопасно.</p>
        <p class="post__text">Кто внимательно изучал текущую тему, знает, что основой адаптации к холоду у человека
            является
            коричневый жир. Но значит ли это, что вам необходимо усиленно наращивать данный жир, чтобы получить
            положительные
            эффекты, упомянутые в начале поста? Вовсе нет.</p>
        <p class="post__text">Задача коричневого жира заключается исключительно в выработке дополнительного тепла при
            низких
            температурах, чтобы компенсировать потери и не дать нам замерзнуть. Его будет ровно столько, сколько
            необходимо для
            успешного выживания. И единственный смысл иметь этого жира много - только если вы живете в очень холодных
            условиях и
            вам надо “не замерзнуть” [1]. </p>
        <p class="post__text">Следовательно, если вас интересует сугубо улучшение здоровья, не ставьте себе задачу
            максимизировать количество коричневого жира и не фокусируйтесь на нем вовсе. Организм сам разберется,
            сколько вам
            его необходимо, исходя из условий, в которых вы находитесь. Главное здесь, это подвергаться правильным
            условиям [2].
        </p>
        <p class="post__text">Значит, просто идем нырять в прорубь? Пожалуйста, нет! Прежде всего - это крайне опасно.
            Количество смертей из-за холода очень высоко, и большая часть этих смертей связана вовсе не с критической
            потерей
            тепла, как с утоплением. Если смерть в следствии потери большого количества тепла может наступить при
            достижении
            температуры тела 25°C, то опасные негативные эффекты проявляются сильно раньше [3]. </p>
        <p class="post__text">Например, уже при 35°C наступает гипотермия, сопровождающая дезориентацией, при 33°C
            происходит
            аритмия сердца и помутнение рассудка, а при 30°C человек теряет сознание. Это самая большая опасность и
            основная
            причина большого количества смертей на холоде [3].</p>
        <p class="post__text">Вы только не пугайтесь, если подходить к холоду с умом, то рисков можно избежать
            полностью. Просто
            к проруби необходимо быть готовым, но начинать с этого точно не стоит. Да и смысла в этой проруби не так уж
            и много.
            Все положительные эффекты можно получить значительно проще, а самое главное - безопаснее [4]. </p>
        <p class="post__text">Чтобы начать улучшать свое здоровье при помощи холода, достаточно запомнить всего одну
            вещь: вам
            не должно быть невыносимо холодно или больно, но вам должно быть холодно. Если не мерзнете - то и не
            закаляетесь.
            Конкретных температур назвать практически нереально, слишком много факторов индивидуальности. Но здесь очень
            просто
            ориентироваться на ощущения - вам должно быть некомфортно [5].</p>
        <p class="post__text">Например, самым простым вариантом выхода из зоны температурного комфорта и улучшению
            здоровья
            будет умеренное охлаждение окружения. Можно снизить температуру в квартире, впустить больше прохладного
            воздуха
            снаружи, или снять с себя один из восьми свитеров. Таким образом, вы быстро адаптируетесь к более низким
            температурным условиям и перестанете наконец болеть при каждом столкновении непогодой [6]. </p>
        <p class="post__text">Для желающих же более мощных эффектов, здесь также есть очень эффективный и безопасный
            подход -
            известный всем холодный душ. С ним также все просто: делаете прохладную (некомфортную температуру) воды, и
            купаетесь
            несколько минут. Достаточно будет даже 2-3 минуты, очень длительная прохлада не принесет значительного
            прироста
            пользы. Для максимизации эффекта не вытирайтесь и походите влажный, дайте телу поработать над обогревом.
        </p>
        <p class="post__text">Ну а на этом все! Будьте аккуратны и не переусердствуйте. Холод даст вам очень много, и
            если вы не
            ставите цель побить рекорды связанные с низкими температурами, то и напрягаться для этого особо не придется.
        </p>
        <div class="post__continue continue"> <a href="/posts/can-cold-make-immunity-stronger.html"
                class="continue__button">
                <div class="continue__arrow">&#10229;</div>
                <div class="continue__content"> <span class="continue__tag">Температурный Стресс: Холод</span> <span
                        class="continue__heading">Можно ли холодом закалить иммунитет?
                    </span> </div>
            </a>
            <div class="continue__delimiter"></div>
        </div>
        <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
                <li class="sources__item"><span class="sources__number">[1]</span> <a class="sources__link"
                        href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7330484/" target="_blank">Jung, Su Myung et
                        al. “Brown Adipose Tissue Development and Metabolism.” <i>Handbook of experimental
                            pharmacology</i> vol. 251 (2019): 3-36.</a></li>
                <li class="sources__item"><span class="sources__number">[2]</span> <a class="sources__link"
                        href="https://sci-hub.ru/10.1007/s11684-015-0382-2" target="_blank">Qian, Shuwen et al. "Brown
                        and beige fat: the metabolic function, induction, and therapeutic potential". <i>Frontiers of
                            medicine</i> vol. 9, 2. 2015 Jun.</a></li>
                <li class="sources__item"><span class="sources__number">[3]</span> <a class="sources__link"
                        href="https://journals.physiology.org/doi/full/10.1152/physiol.00002.2015"
                        target="_blank">ERROR</a></li>
                <li class="sources__item"><span class="sources__number">[4]</span> <a class="sources__link"
                        href="https://physoc.onlinelibrary.wiley.com/doi/full/10.1113/EP086283"
                        target="_blank">ERROR</a></li>
                <li class="sources__item"><span class="sources__number">[5]</span> <a class="sources__link"
                        href="https://sci-hub.ru/10.1016/j.autneu.2016.02.009" target="_blank">Castellani, John W et al.
                        "Human physiological responses to cold exposure: Acute responses and acclimatization to
                        prolonged exposure". <i>Autonomic neuroscience : basic &amp; clinical</i> vol. 196. 2016
                        Apr.</a></li>
                <li class="sources__item"><span class="sources__number">[6]</span> <a class="sources__link"
                        href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3349155/" target="_blank">Huang, Yung-Cheng
                        et al. “Review analysis of the association between the prevalence of activated brown adipose
                        tissue and outdoor temperature.” <i>TheScientificWorldJournal</i> vol. 2012 (2012): 793039.</a>
                </li>
            </ul>
        </div>
    </article>
</section>
{% endblock %}