{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="" />
{% endblock %}
{% block title %}  {% endblock %}
{% block header_style %}header--secondary{% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/microbiome.html"><span>Микрофлора</span></a>
            <div class="post__delimiter"></div>
          </span>
          Грудное молоко vs детское питание. Неповторимый оригинал и жалкая
          подделка
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/breast-milk-vs-baby-formulas.png') }}" alt="breast-milk-vs-baby-formulas">
          </div>
          <p class="post__text">
            В продолжение поста о грудном молоке (дальше ГМ) и по многочисленным
            просьбам, мы посмотрим на детское питание (формулы) в разрезе
            здоровья ребенка, а особенно в сравнении с ГМ. Результаты
            действительно впечатляющие…
          </p>
          <p class="post__text">
            Прежде всего вспомним, что человеческое ГМ, среди ряда полезных
            веществ, содержит также и олигосахариды, которые питают не столько
            ребенка, сколько его микрофлору. Потому что, как мы уже знаем ,
            здоровый микробиом - залог большой части здоровья.
          </p>
          <p class="post__text">
            Сразу же укажу, что нам все еще не удалось (и еще не скоро удастся)
            правильно воссоздать все необходимые вещества в грудном молоке, в
            том числе олигосахариды. Подчеркиваю, ни одна формула (детское
            питание) не в состоянии заменить грудное молоко матери. Давайте
            теперь посмотрим, почему это так важно.
          </p>
          <p class="post__text">
            Начнем, конечно же, с множества зафиксированных случаев
            кардинального отличия микрофлоры детей, которых кормили формулами,
            сравнивая с детьми, которых кормили грудью. И в соответствующем
            негативном влиянии на здоровье детей [<a href="#sources-list">1</a>]. Рассмотрим самые яркие последствия:
          </p>
          <p class="post__text">
            * Детей, кого кормили грудным молоком более четырёх месяцев имели на
            72% меньше вероятность быть госпитализированными из-за инфекции
            нижних дыхательных путей (пример: пневмония) в первый год жизни [<a href="#sources-list">2</a>].
          </p>
          <p class="post__text">
            * Если ребенка кормили ГМ хотя бы три месяца, то к двум годам он
            имел сильно лучше показатели в развитии мозга, в частности рост
            белого вещества увеличивался на 20-30%. Особенно в частях,
            ассоциированных с языком, регулированием эмоций, и когнитивными
            способностями [<a href="#sources-list">3</a>].
          </p>
          <p class="post__text">
            * Еще важнее, если ребенок был недоношен (до 37и недель), т.к. у
            таких детей значительно выше риск повреждений белого вещества при
            рождении. Но если их кормили ГМ в младенчестве, то уже к восьми
            годам (и позже) фиксируют улучшенное развитие вербальных навыков и
            больший объем белого вещества, да и всего мозга в целом [<a href="#sources-list">4, 5</a>].
          </p>
          <p class="post__text">
            * Также кормление ГМ способствует развитию и правильному
            функционированию сердечно-сосудистой системы [<a href="#sources-list">6</a>] и снижают кровяное давление [<a href="#sources-list">7</a>].
          </p>
          <p class="post__text">
            * При кормлении ГМ снижается в 6-10 раз риск некротического
            энтероколита (язва и некроз кишечной стенки) [<a href="#sources-list">8, 9</a>].
          </p>
          <p class="post__text">
            В завершении подчеркну - большинство исследований сравнивало не
            только питание ИСКЛЮЧИТЕЛЬНО ГМ или формулой, но также и миксом из
            обоих. Последний вариант показывал результаты значительно лучше
            полного отсутствия ГМ, но все еще был очень далеко от питания только
            ГМ. Так что, к сожалению, на сегодняшний день самый лучший вариант -
            кормить грудью. Я понимаю, что ситуации могут быть разными, поэтому,
            как обычно, призываю просто стараться “делать хорошо” исходя из
            возможностей, но переживать и паниковать лишний раз не стоит.
            Главное - быть информированным правильно. Поэтому обязательно
            делитесь этим постом, а в следущий раз мы обсудим очень (очень!)
            интересные темы о влиянии микрофлоры на мозг и его функционирование.
          </p>

          <div class="post__continue continue">
            <a href="/posts/breast-milk-for-microbiome.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Микрофлора</span>
                <span class="continue__heading">Грудное молоко для микрофлоры</span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="/posts/vagus-nerve.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Микрофлора</span>
                <span class="continue__heading">Блуждающий Нерв!</span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a class="sources__link" href="https://www.nature.com/articles/s41467-018-06473-x" target="_blank">Ho, Nhan T et al. “Meta-analysis of effects of exclusive
                  breastfeeding on infant gut microbiota across populations.”
                  Nature communications vol. 9,1 4169. 9 Oct. 2018.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a class="sources__link" href="https://jamanetwork.com/journals/jamapediatrics/fullarticle/481276" target="_blank">Bachrach, Virginia R Galton et al. “Breastfeeding and the
                  risk of hospitalization for respiratory disease in infancy: a
                  meta-analysis.” Archives of pediatrics & adolescent medicine
                  vol. 157,3 (2003): 237-43.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a class="sources__link" href="http://sci-hub.st/10.1016/j.neuroimage.2013.05.090" target="_blank">Deoni, Sean C L et al. "Breastfeeding and early white matter
                  development: A cross-sectional study". <i>NeuroImage</i> vol.
                  82. 11/15/2013.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a class="sources__link" href="https://www.bmj.com/content/317/7171/1481" target="_blank">Lucas, A et al. “Randomised trial of early diet in preterm
                  babies and later intelligence quotient.” BMJ (Clinical
                  research ed.) vol. 317,7171 (1998): 1481-7.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a class="sources__link" href="https://www.nature.com/articles/pr201066" target="_blank">Isaacs, Elizabeth B et al. “Impact of breast milk on
                  intelligence quotient, brain size, and white matter
                  development.” Pediatric research vol. 67,4 (2010): 357-62.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a class="sources__link" href="https://publications.aap.org/pediatrics/article-abstract/138/1/e20160050/52552/Breast-Milk-Consumption-in-Preterm-Neonates-and" target="_blank">Lewandowski, Adam J et al. “Breast Milk Consumption in
                  Preterm Neonates and Cardiac Shape in Adulthood.” Pediatrics
                  vol. 138,1 (2016): e20160050.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a class="sources__link" href="http://sci-hub.st/10.1016/S0140-6736(00)04004-6" target="_blank">Singhal, A et al. "Early nutrition in preterm infants and
                  later blood pressure: two cohorts after randomised trials".
                  <i>Lancet (London, England)</i> vol. 357, 9254. 02/10/2001.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[8]</span>
                <a class="sources__link" href="http://sci-hub.st/10.1038/sj.jp.7211826" target="_blank">Sisk, P M et al. "Early human milk feeding is associated with
                  a lower risk of necrotizing enterocolitis in very low birth
                  weight infants".
                  <i>Journal of perinatology : official journal of the
                    California Perinatal Association</i>
                  vol. 27, 7. 2007 Jul.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[9]</span>
                <a class="sources__link" href="http://sci-hub.st/10.1542/peds.2004-1974" target="_blank">Schanler, Richard J et al. "Randomized trial of donor human
                  milk versus preterm formula as substitutes for mothers&#39;
                  own milk in the feeding of extremely premature infants".
                  <i>Pediatrics</i> vol. 116, 2. 2005 Aug.</a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    {% endblock %}