{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Кофеиновый сон | Адам Леос" />
{% endblock %}
{% block title %} Кофеиновый сон | Адам Леос {% endblock %}
{% block header_style %}header--secondary{% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/sleep.html"><span>Сон</span></a>
            <div class="post__delimiter"></div>
          </span>
          Кофеиновый сон
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/caffeine-sleep.jpg') }}" alt="caffeine-sleep">
          </div>
          <p class="post__text">
            Пора серьезно поговорить о кофеине, самом популярном психоактивном
            веществе [<a href="#sources-list">1</a>]. Кофеин оказывает сильный
            эффект на центральную нервную систему и довольно близок по эффектам
            к таким вещества как героин, кокаин и амфетамин. И хотя эффекты не
            такие значительные, как от последних веществ, я все же настоятельно
            попрошу вас отнестись серьезно к моим словам (и данным), так как
            ситуация серьезнее, чем мы ее воспринимаем [<a href="#sources-list">2</a>].
          </p>
          <p class="post__text">
            Особенно важно, что кофеин быстро вызывает привыкание [<a href="#sources-list">3</a>], а в совокупности с отсутствием должного регулирования и
            повсеместной доступностью, является причиной ряда проблем со
            здоровьем у современного человека. Вообще, разговор должен быть
            настолько серьезным, что однажды я сделаю отдельное видео только по
            кофеину. Сегодня же с его помощью мы будем закрывать тему сна.
          </p>
          <p class="post__text">
            Мельком влияние этого стимулятора на сон мы уже задевали, когда
            обсуждали гормон аденозин. Обязательно прочтите, но если в двух
            словах: аденозин - это гормон, отвечающий за сонливость, и
            накапливаясь в организме он отправляет человека спать и
            восстанавливать силы. Кофеин же имеет схожую структуру с аденозином
            и может блокировать рецепторы этого гормона, при этом не активируя
            их [<a href="#sources-list">4</a>]. Таким образом, организм не
            получает сигналы “усталости” и именно поэтому мы чувствуем себя
            бодрыми после кофе (по большей части, так как есть еще множество
            второстепенных эффектов, типа увеличенного производства допамина или
            концентрации серотонина [<a href="#sources-list">5</a>]. Проблема
            толерантности тоже присутствует, и очень остро [<a href="#sources-list">6</a>] (подробности также есть в том посте).
          </p>
          <p class="post__text">
            Думаю, вы заметили одну проблемку здесь. Это может очень сильно
            повлиять на сон. Так и есть - кофеин сильно нарушает сон, особенно
            глубокую его фазу [<a href="#sources-list">7</a>]. Негативный эффект
            сохраняется около шести часов после чашки кофе [<a href="#sources-list">8</a>]. Ведь период полураспада кофеина может занять до десяти часов [<a href="#sources-list">9</a>], но в среднем все же четыре-пять [<a href="#sources-list">10</a>]. Причём время полураспада увеличивается с возрастом [<a href="#sources-list">11</a>].
          </p>
          <p class="post__text">
            К слову, как вы считаете, что происходит после распада кофеина?
            Верно, весь этот аденозин, который ждал своего часа, быстро занимает
            свои места. И в итоге нас резко накрывает усталость, известная также
            как кофеиновый краш [<a href="#sources-list">12</a>]. По сути,
            аналогичная ситуация с алкоголем, сахаром, стимуляторами,
            наркотиками и тому подобным.
          </p>
          <p class="post__text">
            Надеюсь, я вас не сильно напугал, но внимание привлечь к этому все ж
            стоит. Ведь только в Америке, более 87% населения (включая детей!)
            регулярно употребляют кофеин [<a href="#sources-list">13</a>]. А
            более 57% взрослых делают делают это ежедневно (!). Важно уточнить,
            что сам по себе кофеин имеет определенные положительные эффекты, в
            некоторых процессах и в совсем умеренных дозах, но это мы еще
            обсудим в будущем. Также как и факт того, что находится вещество в
            различном виде не только в кофе, но также и в чае, какао и шоколаде.
            Отдельно, конечно же, его пихают во всякие энергетики, типа редбула,
            и сладкую газировку, типа пепси. Но вы, мои дорогие читатели,
            наверняка не употребляете такую гадость [<a href="#sources-list">14</a>].
          </p>

          <div class="post__continue continue">
            <a href="/posts/sleep-under-alcohol.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Сон</span>
                <span class="continue__heading">Сон под градусом</span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="/posts/growing-in-sleep.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Сон</span>
                <span class="continue__heading"> Растем во сне </span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4462044/" target="_blank">Cappelletti, Simone et al. “Caffeine: cognitive and physical
                  performance enhancer or psychoactive drug?.”
                  <i>Current neuropharmacology</i> vol. 13,1 (2015): 71-88.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4846529/" target="_blank">Ferré, Sergi. “Mechanisms of the psychostimulant effects of
                  caffeine: implications for substance use disorders.”
                  <i>Psychopharmacology</i> vol. 233,10 (2016): 1963-79.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a class="sources__link" href="https://sci-hub.se/10.1016/j.ajp.2017.01.008" target="_blank">Jain, Shobhit et al. "Caffeine addiction: Need for awareness
                  and research and regulatory measures".
                  <i>Asian journal of psychiatry</i> vol. 41. 2019 Mar.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a class="sources__link" href="https://onlinelibrary.wiley.com/doi/full/10.1111/j.1471-4159.2007.05196.x" target="_blank">Ferré, Sergi. “An update on the mechanisms of the
                  psychostimulant effects of caffeine.” Journal of
                  neurochemistry vol. 105,4 (2008): 1067-79.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a class="sources__link" href="https://sci-hub.se/10.1016/0165-0173(92)90012-b" target="_blank">Nehlig, A et al. "Caffeine and the central nervous system:
                  mechanisms of action, biochemical, metabolic and
                  psychostimulant effects".
                  <i>Brain research. Brain research reviews</i> vol. 17, 2.
                  May-Aug 1992.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a class="sources__link" href="https://sci-hub.se/10.1016/0024-3205(83)90119-4" target="_blank">Boulenger, J P et al. "Chronic caffeine consumption increases
                  the number of brain adenosine receptors".
                  <i>Life sciences</i> vol. 32, 10. 03/07/1983.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a class="sources__link" href="http://sci-hub.st/10.1002/cpt1976206682" target="_blank">Karacan, I et al. "Dose-related sleep disturbances induced by
                  coffee and caffeine".
                  <i>Clinical pharmacology and therapeutics</i> vol. 20, 6. 1976
                  Dec.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[8]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3805807/" target="_blank">Drake, Christopher et al. “Caffeine effects on sleep taken 0,
                  3, or 6 hours before going to bed.”
                  <i>Journal of clinical sleep medicine : JCSM : official
                    publication of the American Academy of Sleep Medicine</i>
                  vol. 9,11 1195-200. 15 Nov. 2013.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[9]</span>
                <a class="sources__link" href="http://sci-hub.st/10.1007/BF00613933" target="_blank">Blanchard, J et al. "The absolute bioavailability of caffeine
                  in man". <i>European journal of clinical pharmacology</i> vol.
                  24, 1. 1983.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[10]</span>
                <a class="sources__link" href="http://sci-hub.st/10.1002/j.1552-4604.1997.tb04356.x" target="_blank">Kaplan, G B et al. "Dose-dependent pharmacokinetics and
                  psychomotor effects of caffeine in humans".
                  <i>Journal of clinical pharmacology</i> vol. 37, 8. 1997
                  Aug.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[11]</span>
                <a class="sources__link" href="http://sci-hub.st/10.1007/BF01061844" target="_blank">Blanchard, J et al. "Comparative pharmacokinetics of caffeine
                  in young and elderly men".
                  <i>Journal of pharmacokinetics and biopharmaceutics</i> vol.
                  11, 2. 1983 Apr.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[12]</span>
                <a class="sources__link" href="http://sci-hub.st/10.1007/s00213-004-2000-x" target="_blank">Juliano, Laura M et al. "A critical review of caffeine
                  withdrawal: empirical validation of symptoms and signs,
                  incidence, severity, and associated features".
                  <i>Psychopharmacology</i> vol. 176, 1. 2004 Oct.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[13]</span>
                <a class="sources__link" href="https://sci-hub.se/10.1016/j.jada.2004.10.027" target="_blank">Frary, Carol D et al. "Food sources and intakes of caffeine
                  in the diets of persons in the United States".
                  <i>Journal of the American Dietetic Association</i> vol. 105,
                  1. 2005 Jan.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[14]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6422605/" target="_blank">Maani Hessari, Nason et al. “Public Meets Private:
                  Conversations Between Coca-Cola and the CDC.”
                  <i>The Milbank quarterly</i> vol. 97,1 (2019): 74-90.</a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    {% endblock %}