{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Можно ли холодом закалить иммунитет? | Адам Леос" />
{% endblock %}
{% block title %} Можно ли холодом закалить иммунитет? | Адам Леос {% endblock %}
{% block content %}
<section class="main__section">
    <h2 class="main__heading main__heading--post"> <span class="main__subheading"> <a
                href="/topics/temperature-stress-cold.html"><span>Температурный Стресс: Холод</span></a>
            <div class="post__delimiter"></div>
        </span> Можно ли холодом закалить иммунитет? </h2>
    <article class="post">
        <div class="post__imagewrapper"> <img class="post__image"
                src="{{ url_for('static', filename='img/posts/can-cold-make-immunity-stronger.jpg')}}"
                alt="can-cold-make-immunity-stronger" /> </div>
        </div>
        <p class="post__text">Чуть было не пропустили самое главное, так сказать “центральную идею закаливания”! Думаю,
            что не
            только мне одному постоянно рассказывали о “закаливании для улучшения иммунитета”. Сколько в этом правды?
            Очень
            мало. Честное слово, я не перестаю поражаться, насколько много информации, что я получал от
            родственников\друзей\блогеров по теме здоровья, далеко от реальности…</p>
        <p class="post__text">Прежде всего, исследований о “закаливании и иммунитете” до неприличия мало. Мне пришлось
            хорошенько покопать в этом направлении, так что давайте разберемся, что мы имеем на самом деле.</p>
        <p class="post__text">Начнем с того, что редкие данные по данному направлению практически всегда связаны со
            спортом, где
            люди могли бы мерзнуть. Это привносит большие сложности в определении, что же конкретно является причиной
            событий по
            типу “у зимних пловцов на 40% меньше заболеваний дыхательных путей” [1].</p>
        <p class="post__text">Самые частые (и поспешные) выводы делаются на основе того, что у пловцов в холодной воде
            резко
            вырастает количество некоторых видов иммунных клеток (например, нейтрофилы +42%, лимфоциты +58%, и моноциты
            +27%)
            [2]. Ну, значит холод укрепляет иммунитет? И поэтому зимние пловцы меньше болеют? Нет.</p>
        <p class="post__text">Как вы уже знаете, в стрессовых ситуациях, включая стресс холодом, организм пытается
            выжить. Это
            выражается в сильных гормональных изменениях, перераспределении ресурсов, активации\деактивации некоторых
            систем, и
            прочих механизмах выживания. Одним из таких механизмов является изменение различных систем иммунитета для
            поддержки
            в данной ситуации [3].</p>
        <p class="post__text">Изменения в иммунитете происходят и при физических нагрузках, и при ранениях, и при резком
            падении
            температуры. Но вот с последним эффект довольно краткосрочный. Иными словами, те выросшие показатели
            некоторых
            клеток иммунитета при холоде затем возвращаются в норму. Или же совсем другими словами - холод иммунитет не
            укрепляет [4].</p>
        <p class="post__text">И действительно, когда встречаются хорошие работы, старающиеся сделать поправку на
            физическую
            активность и брать во внимание детали, то выводы аналогичны. Например, в ревью 2020 года о зимнем плавании
            подчеркнули “отсутствие значительных изменений в иммунитете” и что “причина снижения болезней в чем-то
            другом” [5].
        </p>
        <p class="post__text">Но болеют же меньше! В чем же причина? А причина, судя по всему, в адаптации к холоду.
            Ведь при
            продолжительном холоде, и особенно гипотермии (перемерзании), подавляется иммунная система и снижается
            активность
            клеток иммунитета [6]. А чем люди закаленнее - тем меньше мерзнут при тех же температурах, что способствует
            эффективной работе иммунитета в этих условиях.</p>
        <p class="post__text">И это отлично проявляется в современном мире, где мы постоянно находимся в комфортных
            условиях:
            дома тепло, в офисе тепло, в магазине тепло, в транспорте также довольно тепло, и даже редкие вылазки на
            улицу
            сопровождаются множеством слоев одежды. Поэтому, при “малейшем дуновении ветерка” и похолодании,
            незакалённые быстро
            заболевают - т.к. организм разучился эффективно работать при “неидеальной” температуре. И, видимо, поэтому
            более
            закаленные люди более устойчивы. </p>
        <p class="post__text">Так что не стесняйтесь немножко и померзнуть, особенно если живете в широтах с сильными
            перепадами
            температур. А вот как максимально эффективно закалиться, наконец-то обсудим в следующем посте.</p>

        <div class="post__continue continue"> <a href="/posts/brain-cooling.html" class="continue__button">
                <div class="continue__arrow">&#10229;</div>
                <div class="continue__content"> <span class="continue__tag">Температурный Стресс: Холод</span> <span
                        class="continue__heading">Охлаждение для мозга
                    </span> </div>
            </a>
            <div class="continue__delimiter"></div> <a href="/posts/adapting-to-cold.html" class="continue__button">
                <div class="continue__content continue__content--right"> <span class="continue__tag">Температурный
                        Стресс: Холод</span>
                    <span class="continue__heading">Как закалиться без проблем
                    </span>
                </div>
                <div class="continue__arrow">&#10230;</div>
            </a>
        </div>
        <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
                <li class="sources__item"><span class="sources__number">[1]</span> <a class="sources__link"
                        href="https://sci-hub.ru/10.1016/s0306-9877(03)00270-6" target="_blank">ERROR</a></li>
                <li class="sources__item"><span class="sources__number">[2]</span> <a class="sources__link"
                        href="https://www.biochemia-medica.com/assets/images/upload/xml_tif/Lombardi_G__et_al_-Winter_swimming_and_haematological_parameters.pdf"
                        target="_blank">ERROR</a></li>
                <li class="sources__item"><span class="sources__number">[3]</span> <a class="sources__link"
                        href="https://sci-hub.ru/https://doi.org/10.1089/jir.1988.8.393" target="_blank">Lackovic, V et
                        al. "Activation of NK cells in subjects exposed to mild hyper- or hypothermic load". <i>Journal
                            of interferon research</i> vol. 8, 3. 1988 Jun.</a></li>
                <li class="sources__item"><span class="sources__number">[4]</span> <a class="sources__link"
                        href="https://sci-hub.ru/10.1097/00005768-200212000-00023" target="_blank">Castellani, John W et
                        al. "Cold exposure: human immune responses and intracellular cytokine expression". <i>Medicine
                            and science in sports and exercise</i> vol. 34, 12. 2002 Dec.</a></li>
                <li class="sources__item"><span class="sources__number">[5]</span> <a class="sources__link"
                        href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7730683" target="_blank">ERROR in link with
                        PMCID=</a></li>
                <li class="sources__item"><span class="sources__number">[6]</span> <a class="sources__link"
                        href="https://sci-hub.ru/https://pubmed.ncbi.nlm.nih.gov/30454603/" target="_blank">Appenheimer,
                        Michelle M et al. "Temperature and adaptive immunity". <i>Handbook of clinical neurology</i>
                        vol. 156. 2018.</a></li>
            </ul>
        </div>
    </article>
</section>
{% endblock %}