{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Циркадные компоненты в приемах пищи | Адам Леос" />
{% endblock %}
{% block title %} Циркадные компоненты в приемах пищи | Адам Леос {% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/fasting.html"><span>Голодание</span></a>
            <div class="post__delimiter"></div>
          </span>
          Циркадные компоненты в приемах пищи
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/circadian-components-in-eating.jpg') }}" alt="circadian-components-in-eating">
          </div>
          <p class="post__text">
            Собирался начать раскрывать упомянутые в
            <a class="post__link" href="/posts/fasting-variations.html">предыдущем посте техники</a>
            голодания в подробностях, как осознал, что у меня снова не влазит
            все в один пост. Подготавливал пост об ограниченном окне для
            принятия пищи и обозначение циркадных компонентов вылилось в… по
            сути в этот отдельный пост. Поэтому сегодня обсудим как циркадные
            ритмы связаны с приемами пищи и почему это важно. А завтра уже
            вернемся к ограниченному окну.
          </p>

          <p class="post__text">
            Кто внимательно читал канал, а конкретно
            <a class="post__link" href="/posts/circadiam-rhytms-and-scn.html">пост о циркадных ритмах</a>, уже имеет представление о зависимости нашего организма от смены
            дня и ночи (крайне рекомендую ознакомиться прямо сейчас, если еще не
            читали, а затем вернуться сюда, так как пост предоставит вам
            необходимую базу, которую я дальше буду дополнять) [<a href="#sources-list">1</a>]. Но тогда я лишь вскользь упоминал метаболизм и его зависимость
            от ритмов [<a href="#sources-list">2</a>]. Сейчас же раскроем
            немного глубже (но совсем немного, потому что про циркадные ритмы
            обязательно будет отдельная полная тема).
          </p>
          <p class="post__text">
            Дело в том, что следуют циклам не только процессы, связанные со
            сном, а вообще все [<a href="#sources-list">3</a>]. Так или иначе, в
            большинстве наших систем можно обнаружить определенную периодичность
            [<a href="#sources-list">4</a>]. И часто они будут совпадать с
            естественным 24х часовым циклом. Выливается это не просто в то,
            какой орган сейчас активен, сколько ресурсов потребляет, и чем
            занимается, но даже в то, какие гормоны в данный момент преобладают
            и какую работу выполняют [<a href="#sources-list">5</a>]. В теме про
            сон мы говорили о мелатонине и кортизоле в разрезе циркадных ритмoв
            [<a href="#sources-list">6</a>], но ими, очевидно, история не
            ограничивается. Например, гормоны щитовидной железы [<a href="#sources-list">7</a>] или тот же инсулин также следуют ритмам [<a href="#sources-list">8</a>].
          </p>
          <p class="post__text">
            Критический момент здесь в том, что органы и системы обладают своими
            собственными часами [<a href="#sources-list">9</a>]. Которые хоть и
            координируются с основными, мастер-часами, но могут быть независимо
            перестроены [<a href="#sources-list">10</a>] (мастер-часы
            управляются супрахиазматическим ядром и регулируются освещением [<a href="#sources-list">11</a>], после чего посылают сигналы по всему организму, стараясь
            синхронизировать все часы [<a href="#sources-list">12</a>]).
          </p>
          <p class="post__text">
            Отличный пример, который важно подчеркивает нашу тему - пищеварение
            [<a href="#sources-list">13</a>]. Органы, связанные с пищеварением
            [<a href="#sources-list">14</a>], и особенно печень [<a href="#sources-list">15</a>], настраивают свои часы в соответсвии с приемом пищи [<a href="#sources-list">16</a>]. Именно поэтому так легко вызвать рассинхронизацию часов внутри
            организма, попросту поев поздно вечером или закидываясь едой слишком
            продолжительное время [<a href="#sources-list">17</a>]. Не уходя
            глубоко в пищеварение (об этом тоже будет отдельное видео), обозначу
            самые важные моменты, интересующие нас в сегодняшней теме.
          </p>
          <p class="post__text">
            Про
            <a class="post__link" href="/posts/metabolism-and-sleep.html">несовместимость сна и пищеварения</a>я уже писал, также как и упоминал важность отсутствия еды в
            <a class="post__link" href="/posts/fasting-is-not-what-you-think.html">ознакомительном посте о голодании</a>(вы же помните, что мы не печка?). В примере с
            рассинхронизированным приемом пищи с остальными системами организма
            происходит несоответствие гормонального фона (например, тот же
            мелатонин взаимодействует с инсулином [<a href="#sources-list">18</a>]), распределение ресурсов (напоминаю, что пищеварение - довольно
            ресурсозатратный процесс) [<a href="#sources-list">19</a>],
            изменение чувствительности рецепторов (особенно инсулина [<a href="#sources-list">20</a>]), даже состав микрофлоры [<a href="#sources-list">21</a>]. Да и
            попросту некоторые системы, необходимые для качественного
            переваривания и усвоения пищи, находятся уже в другом состоянии [<a href="#sources-list">22</a>].
          </p>
          <p class="post__text">
            И это довольно маленький пример, где я очень и очень многое попросту
            не смог упомянуть [<a href="#sources-list">23</a>]. Но самое главное
            мы подчеркнули - подгоняя свой организм под определенное время (и
            окно) для принятия пищи (и в идеале синхронизируя с естественным
            циклом, т.е. устанавливая окно где-то днем), мы решаем множество
            проблем и оптимизируем ряд процессов, максимизируя полезные эффекты
            [<a href="#sources-list">24</a>].
          </p>
          <p class="post__text">
            Обозначив все это, мы наконец-то сможем углубиться в тему об
            ограниченном окне и продолжить говорить про голодание, уже в
            следующем посте. Дайте знать, было ли на ваш взгляд подобное
            короткое ответвление уместным, или не стоит совсем отклоняться от
            темы, даже если пропадет глубина в некоторых аспектах.
          </p>

          <div class="post__continue continue">
            <a href="/posts/fasting-variations.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Голодание</span>
                <span class="continue__heading">Вариации голодания</span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="/posts/time-restricted-eating-i.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Голодание</span>
                <span class="continue__heading">
                  Ограниченное окно для принятия пищи (Time-restricted eating).
                  Часть I
                </span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a class="sources__link" href="https://sci-hub.st/10.1016/j.jsmc.2015.08.003" target="_blank">
                  Rosenwasser, Alan M, and Fred W Turek. “Neurobiology of
                  Circadian Rhythm Regulation.” Sleep medicine clinics vol. 10,4
                  (2015): 403-12.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7261592/" target="_blank">
                  Panda, Satchidananda. “Circadian physiology of metabolism.”
                  Science (New York, N.Y.) vol. 354,6315 (2016): 1008-1015.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3710582/" target="_blank">
                  Mohawk, Jennifer A et al. “Central and peripheral circadian
                  clocks in mammals.” Annual review of neuroscience vol. 35
                  (2012): 445-62.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3758473/" target="_blank">
                  Takahashi, Joseph S et al. “The genetics of mammalian
                  circadian order and disorder: implications for physiology and
                  disease.” Nature reviews. Genetics vol. 9,10 (2008):
                  764-75.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3709251/" target="_blank">
                  Lowrey, Phillip L, and Joseph S Takahashi. “Genetics of
                  circadian rhythms in Mammalian model organisms.” Advances in
                  genetics vol. 74 (2011): 175-230.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5568897/" target="_blank">
                  Adam, Emma K et al. “Diurnal cortisol slopes and mental and
                  physical health outcomes: A systematic review and
                  meta-analysis.” Psychoneuroendocrinology vol. 83 (2017):
                  25-41.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7288350/" target="_blank">
                  Ikegami, Keisuke et al. “Interconnection between circadian
                  clocks and thyroid function.” Nature reviews. Endocrinology
                  vol. 15,10 (2019): 590-600.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[8]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3478548/" target="_blank">
                  Saad, Ahmed et al. “Diurnal pattern to insulin secretion and
                  insulin action in healthy individuals.” Diabetes vol. 61,11
                  (2012): 2691-700.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[9]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3973145/" target="_blank">
                  Hardin, Paul E, and Satchidananda Panda. “Circadian
                  timekeeping and output mechanisms in animals.” Current opinion
                  in neurobiology vol. 23,5 (2013): 724-31.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[10]</span>
                <a class="sources__link" href="https://www.cell.com/cell/fulltext/S0092-8674(04)01054-2" target="_blank">
                  Nagoshi, Emi et al. “Circadian gene expression in individual
                  fibroblasts: cell-autonomous and self-sustained oscillators
                  pass time to daughter cells.” Cell vol. 119,5 (2004):
                  693-705.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[11]</span>
                <a class="sources__link" href="https://www.cell.com/current-biology/fulltext/S0960-9822(03)00222-7" target="_blank">Sujino, Mitsugu et al. “Suprachiasmatic nucleus grafts
                  restore circadian behavioral rhythms of genetically arrhythmic
                  mice.” Current biology : CB vol. 13,8 (2003): 664-8.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[12]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7065627/" target="_blank">
                  Wahl, Siegfried et al. “The inner clock-Blue light sets the
                  human rhythm.” Journal of biophotonics vol. 12,12 (2019):
                  e201900102.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[13]</span>
                <a class="sources__link" href="https://www.cell.com/cell/fulltext/S0092-8674(15)00302-5" target="_blank">Asher, Gad, and Paolo Sassone-Corsi. “Time for food: the
                  intimate interplay between nutrition, metabolism, and the
                  circadian clock.” Cell vol. 161,1 (2015): 84-92.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[14]</span>
                <a class="sources__link" href="http://www.jpp.krakow.pl/journal/archive/04_11/pdf/139_04_11_article.pdf" target="_blank">Konturek, P C et al. “Gut clock: implication of circadian
                  rhythms in the gastrointestinal tract.” Journal of physiology
                  and pharmacology : an official journal of the Polish
                  Physiological Society vol. 62,2 (2011): 139-50.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[15]</span>
                <a class="sources__link" href="http://sci-hub.se/10.1053/j.gastro.2015.11.043" target="_blank">Reinke, Hans, and Gad Asher. “Circadian Clock Control of
                  Liver Metabolic Functions.” Gastroenterology vol. 150,3
                  (2016): 574-80.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[16]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6533073/" target="_blank">
                  Voigt, Robin M et al. “Circadian rhythms: a regulator of
                  gastrointestinal health and dysfunction.” Expert review of
                  gastroenterology & hepatology vol. 13,5 (2019): 411-424.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[17]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5634913/" target="_blank">
                  Lopez-Minguez, Jesus et al. “Late dinner impairs glucose
                  tolerance in MTNR1B risk allele carriers: A randomized,
                  cross-over study.” Clinical nutrition (Edinburgh, Scotland)
                  vol. 37,4 (2018): 1133-1140.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[18]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7349733/" target="_blank">
                  Garaulet, Marta et al. “Melatonin Effects on Glucose
                  Metabolism: Time To Unlock the Controversy.” Trends in
                  endocrinology and metabolism: TEM vol. 31,3 (2020):
                  192-204.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[19]</span>
                <a class="sources__link" href="http://sci-hub.se/10.1007/s11154-009-9119-3" target="_blank">Hoogerwerf, Willemijntje A. “Role of biological rhythms in
                  gastrointestinal health and disease.” Reviews in endocrine &
                  metabolic disorders vol. 10,4 (2009): 293-300.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[20]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6167165/" target="_blank">
                  Qian, Jingyi et al. “Differential effects of the circadian
                  system and circadian misalignment on insulin sensitivity and
                  insulin secretion in humans.” Diabetes, obesity & metabolism
                  vol. 20,10 (2018): 2481-2485.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[21]</span>
                <a class="sources__link" href="https://www.cell.com/cell/fulltext/S0092-8674(14)01236-7" target="_blank">
                  Thaiss, Christoph A et al. “Transkingdom control of microbiota
                  diurnal oscillations promotes metabolic homeostasis.” Cell
                  vol. 159,3 (2014): 514-29.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[22]</span>
                <a class="sources__link" href="https://www.annualreviews.org/doi/10.1146/annurev-nutr-071816-064634" target="_blank">Patterson, Ruth E, and Dorothy D Sears. “Metabolic Effects of
                  Intermittent Fasting.” Annual review of nutrition vol. 37
                  (2017): 371-393.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[23]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3946160/" target="_blank">Longo, Valter D, and Mark P Mattson. “Fasting: molecular
                  mechanisms and clinical applications.” Cell metabolism vol.
                  19,2 (2014): 181-92.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[24]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5388543/" target="_blank">Longo, Valter D, and Satchidananda Panda. “Fasting, Circadian
                  Rhythms, and Time-Restricted Feeding in Healthy Lifespan.”
                  Cell metabolism vol. 23,6 (2016): 1048-1059.</a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    {% endblock %}