{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Прохладный сон | Адам Леос" />
{% endblock %}
{% block title %} Прохладный сон | Адам Леос {% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/sleep.html"><span>Сон</span></a>
            <div class="post__delimiter"></div>
          </span>
          Прохладный сон
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/cool-sleep.jpg') }}" alt="cool-sleep">
          </div>
          <p class="post__text">
            Как и обещал, вернёмся к солнцу. С ним связан ещё один важный
            аспект, сильно влияющий на сон. Как вы уже поняли из названия, речь
            пойдет о температуре.
          </p>
          <p class="post__text">
            Как температура окружения растет с восходом солнца и падает после
            заката, так и наше тело ведёт себя аналогичным образом. Мы изменяем
            температуру тела в зависимости от времени суток, следуя за
            окружением [<a href="#sources-list">1</a>]. Перепады у нас на первый
            взгляд незначительные, около одного-двух градусов в течении дня. Но
            для организма это очень критические сигналы. Особенно в разрезе сна
            [<a href="#sources-list">2</a>]. Некоторые ученые даже выделяют
            температуру, а не свет, как важнейший регулятор сна [<a href="#sources-list">3</a>]. Ведь фазы глубокого сна ассоциированы с периодами, когда
            температура тела достигала минимума. А чем быстрее она падала, тем
            быстрее люди засыпали.
          </p>
          <p class="post__text">
            Особенно занимателен эффект “теплой ванны”, вокруг которого
            существует довольно много хороших исследований. Суть в том, что
            разогревшись в горячей ванне, ваше тело начнет потом все это тепло
            резко терять. Что затем очень положительно сказывается на скорости
            засыпания, да и сне в целом [<a href="#sources-list">4</a>].
          </p>
          <p class="post__text">
            Или вот еще один хак: спать в носках. Есть исследования,
            фиксировавшие увеличение продолжительности и качества сна, если
            конечности были в дополнительном тепле [<a href="#sources-list">5</a>]. Перчатки тоже будут работать, но это не так удобно. Дело в том,
            что температура конечностей следует немного иному циклу, чем
            температура тела в целом. Днём конечности прохладнее остального
            тела, а ночью напротив, теплее. Эта разница как раз и ассоциирована
            с качественным сном. Когда конечности в тепле, организм начинает
            понижать общую температуру. Это выражается в повышенном
            кровообращении кожи, что приводит к ее подогреву, но в условиях
            прохладной ночи - скорой потери этого тепла.
          </p>
          <p class="post__text">
            Утром же, пробуждение с восходом солнца связано не столько с
            освещением, как с повышением температуры окружения [<a href="#sources-list">6</a>]. Ну и теперь обратим внимание на то, что у нас сейчас повсюду
            кондиционеры и обогреватели. Мы стабильно находимся в постоянной
            комфортной температуре. Что в очередной раз не дает организму
            получить сигналы о ее перепадах из окружающего мира [<a href="#sources-list">7</a>]. А малейшие отклонения от привычного нам температурного цикла
            сильно нарушают сон [<a href="#sources-list">8</a>].
          </p>
          <p class="post__text">
            Рекомендация - попытаться максимизировать естественный цикл. Тот же
            кондиционер можно ставить прохладнее вечером и теплее утром. Это
            действительно улучшит качество сна [<a href="#sources-list">9</a>].
            Идеально, если можете опираться на естественные перепады, например,
            открыв окна. Лучше всего, как вы уже догадались, чаще бывать на
            улице. Ну или хотя бы на балконе. В общем, как обычно, призываю вас
            отталкиваться от собственных возможностей, но продолжать понемногу
            вносить улучшения, это того стоит. Да вы и сами уже это знаете,
            после такой-то горы постов о важности сна.
          </p>

          <div class="post__continue continue">
            <a href="/posts/visible-light-spectrum-artificial.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Сон</span>
                <span class="continue__heading">Спектр видимого света: искусственное освещение</span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="/posts/night-life-problems.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Сон</span>
                <span class="continue__heading"> Ночная жизнь: проблемы </span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a class="sources__link" href="https://sci-hub.se/10.1152/ajpregu.1994.267.3.R819" target="_blank">Kräuchi, K et al. "Circadian rhythm of heat production, heart
                  rate, and skin and core temperature under unmasking conditions
                  in men". <i>The American journal of physiology</i> vol. 267, 3
                  Pt 2. 1994 Sep.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6491889/" target="_blank">Harding, Edward C et al. “The Temperature Dependence of
                  Sleep.” <i>Frontiers in neuroscience</i> vol. 13 336. 24 Apr.
                  2019.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4720388/" target="_blank">Yetish, Gandhi et al. “Natural sleep and its seasonal
                  variations in three pre-industrial societies.”
                  <i>Current biology : CB</i> vol. 25,21 (2015): 2862-2868.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a class="sources__link" href="https://sci-hub.st/10.1016/j.smrv.2019.04.008" target="_blank">Haghayegh, Shahab et al. "Before-bedtime passive body heating
                  by warm shower or bath to improve sleep: A systematic review
                  and meta-analysis". <i>Sleep medicine reviews</i> vol. 46.
                  2019 Aug.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5921564/" target="_blank">Ko, Yelin, and Joo-Young Lee. “Effects of feet warming using
                  bed socks on sleep quality and thermoregulatory responses in a
                  cool environment.”
                  <i>Journal of physiological anthropology</i> vol. 37,1 13. 24
                  Apr. 2018.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4720388/" target="_blank">Yetish, Gandhi et al. “Natural sleep and its seasonal
                  variations in three pre-industrial societies.”
                  <i>Current biology : CB</i> vol. 25,21 (2015): 2862-2868.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a class="sources__link" href="https://onlinelibrary.wiley.com/doi/full/10.1111/j.1365-2869.2004.00398.x" target="_blank">Kräuchi, Kurt et al. “Waking up properly: is there a role of
                  thermoregulation in sleep inertia?.” Journal of sleep research
                  vol. 13,2 (2004): 121-7.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[8]</span>
                <a class="sources__link" href="https://journals.physiology.org/doi/full/10.1152/ajpregu.00492.2004" target="_blank">Raymann, Roy J E M et al. “Cutaneous warming promotes sleep
                  onset.” American journal of physiology. Regulatory,
                  integrative and comparative physiology vol. 288,6 (2005):
                  R1589-97.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[9]</span>
                <a class="sources__link" href="http://sci-hub.st/10.2114/jpa2.26.429" target="_blank">Kondo, Masayuki et al. "Physiological significance of cyclic
                  changes in room temperature around dusk and dawn for circadian
                  rhythms of core and skin temperature, urinary
                  6-hydroxymelatonin sulfate, and waking sensation just after
                  rising". <i>Journal of physiological anthropology</i> vol. 26,
                  4. 2007 Jun.</a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    {% endblock %}