{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Не подвергайте микробов стрессу! | Адам Леос" />
{% endblock %}
{% block title %} Не подвергайте микробов стрессу! | Адам Леос {% endblock %}
{% block header_style %}header--secondary{% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/microbiome.html"><span>Микрофлора</span></a>
            <div class="post__delimiter"></div>
          </span>
          Не подвергайте микробов стрессу!
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/do-not-stress-microbs.jpg') }}" alt="do-not-stress-microbs">
          </div>
          <p class="post__text">
            Ментальное здоровье уже давно не является пустым звуком в мире
            науки. Последние исследования подчеркивают, что оно не просто
            зависит от физического здоровья, но и оказывает сильное влияние на
            него [<a href="#sources-list">1</a>]. Мы еще обсудим эту тему
            подробно в будущем. Сегодня же, приближаясь к заключению темы
            микрофлоры, посмотрим какое влияние может оказывать на микробиом
            человека “банальные” стресс [<a href="#sources-list">2</a>] и
            депрессия [<a href="#sources-list">3</a>]. На всякий случай сделаю
            уточнение, что последние являются серьезными проблемами и это
            зафиксированные наукой процессы в организме, причем критические [<a href="#sources-list">4</a>]. Так что не отмахивайтесь от них.
          </p>
          <p class="post__text">
            В предыдущих постах мы уже копнули вглубь связи ментального здоровья
            с микробиомом и увидели огромное влияние последнего. Но так как
            связь эта работает в обе стороны, то давайте посмотрим что
            происходит с микрофлорой, если организм человека подвержен стрессу
            или депрессии?
          </p>
          <p class="post__text">
            Ключевым игроком здесь будет иммунитет (о котором мы уже немного
            говорили). Ведь большая часть иммунитета сосредоточена именно в зоне
            вокруг кишечника, так как это самое потенциально опасное место для
            проникновения всего, чего мы не хотим, в наш организм. А когда мы
            находимся в состоянии стресса, то происходит активация “боевого
            режима” иммунной системы и рост воспаления. Если это продолжается
            долгое время (в исследовании - месяц) или является хроническим, то
            это приводит к серьезным проблемам в микрофлоре и повреждению
            слизистого барьера в кишечнике. Что в свою очередь способствует
            развитию колита (воспалительного заболевания толстой кишки) [<a href="#sources-list">5</a>].
          </p>
          <p class="post__text">
            Ситуация не менее серьезна и в случае депрессии [<a href="#sources-list">6</a>], при продолжительном эффекте которой происходит исчезновение
            бактерий видов Dialister, Coprococcus spp., Faecalibacterium,
            Coprococcus. Особенно важны последние два, участвующие в
            производстве бутановой кислоты (и ряда других элементов [<a href="#sources-list">7</a>]). Что занимательно, отсутствие таких бактерий лишь ухудшает
            состояние ментального здоровья, что и приводит к спуску по спирали
            проблем, которые подкрепляют друг друга [<a href="#sources-list">8</a>].
          </p>
          <p class="post__text">
            Но не переживайте! Как обычно, ваше здоровье - в ваших руках! И как
            показывают исследования, микрофлору можно восстановить и не только
            исправить болезни, но и выйти на новый уровень эффективности [<a href="#sources-list">9</a>].
          </p>
          <p class="post__text">
            По данной теме все просто - обогащайте микрофлору, питайтесь
            полезными продуктами и читайте мой канал ;) . А в следующий раз мы
            обсудим очень интересную тему, которую я оставлял на десерт - как
            микробы манипулируют нашими предпочтениями в еде!
          </p>

          <div class="post__continue continue">
            <a href="/posts/how-mental-health-depends-on-microbiome.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Микрофлора</span>
                <span class="continue__heading">Как ментальное здоровье зависит от микрофлоры кишечника</span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="/posts/how-microbs-manipulate-with-our-food-preferences.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Микрофлора</span>
                <span class="continue__heading">Как микробы манипулируют нашими предпочтениями в еде</span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4806285/" target="_blank">Vyas, Sheela et al. “Chronic Stress and Glucocorticoids: From
                  Neuronal Plasticity to Neurodegeneration.”
                  <i>Neural plasticity</i> vol. 2016 (2016): 6391686.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5573220/" target="_blank">McEwen, Bruce S. “Neurobiological and Systemic Effects of
                  Chronic Stress.”
                  <i>Chronic stress (Thousand Oaks, Calif.)</i> vol. 1 (2017):
                  2470547017692328.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6511978/" target="_blank">Kiecolt-Glaser, Janice K et al. “Inflammation: depression
                  fans the flames and feasts on the heat.”
                  <i>The American journal of psychiatry</i> vol. 172,11 (2015):
                  1075-91.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7466429/" target="_blank">Dai, Shirui et al. “Chronic Stress Promotes Cancer
                  Development.” <i>Frontiers in oncology</i> vol. 10 1492. 19
                  Aug. 2020.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/pmid/29531080/" target="_blank">Gao, Xinghua et al. “Chronic stress promotes colitis by
                  disturbing the gut microbiota and triggering immune system
                  response.” Proceedings of the National Academy of Sciences of
                  the United States of America vol. 115,13 (2018): E2960-E2969.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a class="sources__link" href="https://sci-hub.se/https://doi.org/10.1016/j.bbi.2015.03.016" target="_blank">Jiang, Haiyin et al. "Altered fecal microbiota composition in
                  patients with major depressive disorder".
                  <i>Brain, behavior, and immunity</i> vol. 48. 2015 Aug.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a class="sources__link" href="https://sci-hub.se/https://doi.org/10.1038/s41564-018-0337-x" target="_blank">Valles-Colomer, Mireia et al. "The neuroactive potential of
                  the human gut microbiota in quality of life and depression".
                  <i>Nature microbiology</i> vol. 4, 4. 2019 Apr.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[8]</span>
                <a class="sources__link" href="http://sci-hub.st/10.1016/j.bbi.2017.09.001" target="_blank">Guida, F et al. “Antibiotic-induced microbiota perturbation
                  causes gut endocannabinoidome changes, hippocampal neuroglial
                  reorganization and depression in mice.” Brain, behavior, and
                  immunity vol. 67 (2018): 230-245.</a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    {% endblock %}