{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Нюансы голодания. Часть V: Выходим из голодания | Адам Леос" />
{% endblock %}
{% block title %} Нюансы голодания. Часть V: Выходим из голодания | Адам Леос {% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/fasting.html"><span>Голодание</span></a>
            <div class="post__delimiter"></div>
          </span>
          Нюансы голодания. Часть V: Выходим из голодания
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/fasting-nuances-v-ending-fast.jpg') }}" alt="fasting-nuances-v-ending-fast">
          </div>
          <p class="post__text">
            Ладненько, последняя часть
            <a class="post__link" href="/posts/fasting-nuances-iv-toxins-release.html">нюансов голодания</a>, а заодно и заключительный пост
            <a class="post__link" href="/posts/fasting-is-not-what-you-think.html">темы голодания</a>
            перед выходом видео. Сегодня хотел бы обратить внимание на один
            важный нюанс, который обычно не берется во внимание - как правильно
            и безопасно выйти из голодания.
          </p>

          <p class="post__text">
            Да, если после продолжительного голодания наброситься на еду, как вы
            привыкли раньше, то можно встретить парочку осложнений. На
            английском существует специальный термин - Refeeding Syndrome [<a href="#sources-list">1</a>]. Это серьезное расстройство, и чаще всего замечается после
            длительного голодания, когда долго отсутствовали многие питательные
            вещества, и затем вы внезапно начинаете много есть [<a href="#sources-list">2</a>].
          </p>
          <p class="post__text">
            Хуже всего, если начинаете кушать много простых углеводов. Хотя
            многие бы и подумали, что лучше всего закинуться дешевой простой
            энергией после голодания, это приведет к сильному повышению уровня
            инсулина. Который, в свою очередь, стимулирует поглощение минералов
            клетками в организме [<a href="#sources-list">3</a>].
          </p>
          <p class="post__text">
            А так как после голодания минералов и так не много, то это может
            быстро и резко привести к их дефициту и последующим осложнениям.
            Критичнее всего это проявляется с калием, магнием, и фосфатом в
            крови, что приводит к дисфункции сердца и нейромышечным нарушениям.
          </p>
          <p class="post__text">
            Для избежания этого, как я
            <a class="post__link" href="/posts/fasting-nuances-i-deficiencies.html">уже говорил</a>, употребляйте добавки витаминов и минералов на период голодания.
            Как минимум пейте воду с электролитами. При выходе из голодания еду
            привносите постепенно и понемногу, обращая внимание на тип.
          </p>
          <p class="post__text">
            Лучше всего начать с жиров или протеинов. Например, съев яйцо на
            завтрак. А на обед уже немного больше, хорошо добавить оливковое
            масло, к примеру. С зеленью могут быть небольшие проблемы, так как
            <a class="post__link" href="/posts/microbiome-in-general.html">микрофлора</a>
            могла поменяться за период голодания [<a href="#sources-list">4</a>]. Поэтому клетчатку
            <a class="post__link" href="/posts/what-to-eat-for-microbiome-to-thrive.html">клетчатку</a>тоже стоит привносить позже и постепенно (могут помочь
            <a class="post__link" href="/posts/probiotics-and-prebiotics-crucial-for-health.html">пробиотики</a>).
          </p>
          <p class="post__text">
            Конечно же, хотя
            <a class="post__link" href="/posts/mimicking-fasting.html">голодание имитирующая диета</a>
            значительно помогает по всем этим параметрам, все еще желательно
            следовать всем этим советам даже на ней. Это сильно поможет вашему
            организму и вы будете себя намного лучше чувствовать.
          </p>
          <p class="post__text">
            И напоследок: не забывайте, что данный подход - это стресс для
            организма [<a href="#sources-list">5</a>]. Тот же
            <a class="post__link" href="/posts/cortisol-stress-hormone.html">кортизол</a>, который мы также называем “гормоном стресса”, во время
            продолжительного голодания значительно увеличивается [<a href="#sources-list">6</a>]. Вообще, это помогает доставать и использовать глюкозу, но может
            стать проблемой, если у вас и так хронически высокий стресс [<a href="#sources-list">7</a>]. Поэтому, привносите в свою жизнь изменения постепенно и
            аккуратно. Желательно, в периоды относительного спокойствия и
            отсутствия стресса и переживаний.
          </p>
          <p class="post__text">
            А на этом мы заканчиваем. Теперь вы знаете как безопасно голодать и
            можете получить максимум полезных эффектов от этого чудесного
            процесса.
          </p>

          <div class="post__continue continue">
            <a href="/posts/fasting-nuances-iv-toxins-release.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Голодание</span>
                <span class="continue__heading">Нюансы голодания. Часть IV: Высвобождение токсинов</span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="/posts/what-to-eat-on-fmd.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Голодание</span>
                <span class="continue__heading">Что есть на имитирующей голодание диете?</span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/books/NBK564513/" target="_blank">Persaud-Sharma D, Saha S, Trippensee AW. Refeeding Syndrome.
                  [Updated 2020 Nov 20]. In: StatPearls [Internet]. Treasure
                  Island (FL): StatPearls Publishing; 2021</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2440847/" target="_blank">Mehanna, Hisham M et al. “Refeeding syndrome: what it is, and
                  how to prevent and treat it.” BMJ (Clinical research ed.) vol.
                  336,7659 (2008): 1495-8. doi:10.1136/bmj.a301</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7447285/" target="_blank">De Silva, Aminda, and Jeremy M D Nightingale. “Refeeding
                  syndrome : physiological background and practical management.”
                  Frontline gastroenterology vol. 11,5 404-409. 30 Dec. 2019,
                  doi:10.1136/flgastro-2018-101065</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6924599/" target="_blank">Karakan, Tarkan. “Intermittent fasting and gut microbiota.”
                  The Turkish journal of gastroenterology : the official journal
                  of Turkish Society of Gastroenterology vol. 30,12 (2019):
                  1008. doi:10.5152/tjg.2019.101219</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7477630/" target="_blank">Buono, Roberta, and Valter D Longo. “Starvation, Stress
                  Resistance, and Cancer.” Trends in endocrinology and
                  metabolism: TEM vol. 29,4 (2018): 271-280.
                  doi:10.1016/j.tem.2018.01.008</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a class="sources__link" href="http://sci-hub.se/10.3109/10253890.2015.1121984" target="_blank">Nakamura, Y., Walker, B. R., & Ikuta, T. (2016). Systematic
                  review and meta-analysis reveals acutely elevated plasma
                  cortisol following fasting but not less severe calorie
                  restriction. Stress, 19(2), 151–157.
                  doi:10.3109/10253890.2015.112198</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4028159/" target="_blank">Aschbacher, Kirstin et al. “Good stress, bad stress and
                  oxidative stress: insights from anticipatory cortisol
                  reactivity.” Psychoneuroendocrinology vol. 38,9 (2013):
                  1698-708. doi:10.1016/j.psyneuen.2013.02.004</a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    {% endblock %}