{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Голодание - это не то, что вы подумали | Адам Леос" />
{% endblock %}
{% block title %} Голодание - это не то, что вы подумали | Адам Леос {% endblock %}
{% block header_style %}header--secondary{% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/fasting.html"><span>Голодание</span></a>
            <div class="post__delimiter"></div>
          </span>
          Голодание - это не то, что вы подумали
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/fasting-is-not-what-you-think.png') }}" alt="fasting-is-not-what-you-think">
          </div>
          <p class="post__text">
            Наконец-то говорим о голодании! В ближайшие несколько недель мы
            раскроем тему в подробностях, изучим последствия для здоровья,
            окунемся в самые распространенные вариации голодания, и найдем
            ответы на вопросы: “стоит ли голодать” и “как лучше всего это
            делать”. Для нетерпеливых - однозначно стоит, но с умом [<a href="#sources-list">1</a>].
          </p>

          <p class="post__text">
            Вопреки популярным ассоциациям, голодать - это не значит морить
            организм, быть в дефиците питательных веществ, чувствовать себя
            обессиленным и страдать [<a href="#sources-list">2</a>]. Здоровому
            человеку, при грамотном подходе, это не доставит никаких неудобств
            [<a href="#sources-list">3</a>]. Даже напротив, кроме ряда
            положительных эффектов для здоровья, это банально также освободит
            время и разгрузит психологически, ведь не надо будет постоянно
            париться о приеме пищи [<a href="#sources-list">4</a>].
          </p>
          <p class="post__text">
            С точки зрения организма, период “НЕпоглощения” пищи также нормален
            и необходим, как и период поглощения [<a href="#sources-list">5</a>]. Что на самом деле очевидно для всех - даже страдающие от
            переедания люди не смогут есть круглые сутки (и не только потому что
            надо спать) [<a href="#sources-list">6</a>]. Нам необходимо время на
            переваривание пищи и усвоение, фильтрацию, распределение питательных
            веществ. А кроме этого вы хотите еще и другими задачами заниматься
            [<a href="#sources-list">7</a>].
          </p>
          <p class="post__text">
            Да, пищеварение - довольно ресурсозатратный процесс, и требует
            усилий организма [<a href="#sources-list">8</a>]. Именно поэтому,
            наевшись сложнее соображать и активничать. А другие процессы, типа
            сна или восстановления, заметно страдают. Мы - не печка, куда можно
            постоянно закидывать “топливо” и получать стабильный прирост энергии
            [<a href="#sources-list">9</a>]. Но об этом будет в другой теме.
          </p>
          <p class="post__text">
            Что важно сейчас, из-за доступности еды и нашего нездорового
            отношению к ней (многие едят попросту чтобы заесть стресс или
            получить дозу дешевой энергии, закинувшись сладостями), мы ушли
            довольно далеко от естественного человеку паттерна питания [<a href="#sources-list">10</a>]. В естественной среде обитания, как человеку, так и большинству
            живых организмов было нормально испытывать периодический недостаток
            ресурсов [<a href="#sources-list">11</a>]. Еду как минимум надо было
            добыть, что требовало усилий и времени намного больше, чем сегодня
            дойти до холодильника [<a href="#sources-list">12</a>].
          </p>
          <p class="post__text">
            Поэтому у нас заложены механизмы, которые сильно помогают в
            выживании в разных аспектах. Например, использование жира для
            энергии [<a href="#sources-list">13</a>], изменение скорости
            метаболизма [<a href="#sources-list">14</a>], восстановление клеток
            организма [<a href="#sources-list">15</a>], и т.п. Очень много
            эффектов на сегодняшний день мы обозначаем как “крайне положительны
            для здоровья”. И происходит это лишь в периоды, когда организм
            сталкивается даже не с недостатком, а во многом довольно
            незначительным по продолжительности отсутствием пищи [<a href="#sources-list">1</a>].
          </p>
          <p class="post__text">
            Это выливается во множество интересных вариаций голодания, где для
            достижения большинства эффектов даже толком голодать не надо [<a href="#sources-list">16</a>]! Например, ограничивая время для приема пищи каждый день [<a href="#sources-list">17</a>], или снижая количество калорий в определенные дни [<a href="#sources-list">4</a>]. Все вариации мы обсудим уже в следующем посте.
          </p>

          <div class="post__continue continue">
            <a href="/posts/growing-in-sleep.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Сон</span>
                <span class="continue__heading">Растем во сне</span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="/posts/fasting-variations.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Голодание</span>
                <span class="continue__heading">Вариации голодания</span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3946160/" target="_blank">Longo, Valter D, and Mark P Mattson. “Fasting: molecular
                  mechanisms and clinical applications.” Cell metabolism vol.
                  19,2 (2014): 181-92.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5388543/" target="_blank">Longo, Valter D, and Satchidananda Panda. “Fasting, Circadian
                  Rhythms, and Time-Restricted Feeding in Healthy Lifespan.”
                  Cell metabolism vol. 23,6 (2016): 1048-1059.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a class="sources__link" href="https://pubmed.ncbi.nlm.nih.gov/21785007/" target="_blank">Goldstein, J L et al. “Surviving starvation: essential role
                  of the ghrelin-growth hormone axis.” Cold Spring Harbor
                  symposia on quantitative biology vol. 76 (2011): 121-7.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4509734/" target="_blank">Brandhorst, Sebastian et al. “A Periodic Diet that Mimics
                  Fasting Promotes Multi-System Regeneration, Enhanced Cognitive
                  Performance, and Healthspan.” Cell metabolism vol. 22,1
                  (2015): 86-99.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6314618/" target="_blank">Wilhelmi de Toledo, Françoise et al. “Safety, health
                  improvement and well-being during a 4 to 21-day fasting period
                  in an observational study including 1422 subjects.” PloS one
                  vol. 14,1 e0209353. 2 Jan. 2019.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6770567/" target="_blank">Adams, Rachel C et al. “Food Addiction: Implications for the
                  Diagnosis and Treatment of Overeating.” Nutrients vol. 11,9
                  2086. 4 Sep. 2019.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4250148/" target="_blank">Mattson, Mark P et al. “Meal frequency and timing in health
                  and disease.”
                  <i>Proceedings of the National Academy of Sciences of the
                    United States of America</i>
                  vol. 111,47 (2014): 16647-53.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[8]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6820690/" target="_blank">Hartenstein, V, and P Martinez. “Structure, development and
                  evolution of the digestive system.” Cell and tissue research
                  vol. 377,3 (2019): 289-292.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[9]</span>
                <a class="sources__link" href="http://sci-hub.se/10.1002/jsfa.7601" target="_blank">Boland, Mike. “Human digestion--a processing perspective.”
                  Journal of the science of food and agriculture vol. 96,7
                  (2016): 2275-83.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[10]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3606061/" target="_blank">Casazza, Krista et al. “Myths, presumptions, and facts about
                  obesity.” The New England journal of medicine vol. 368,5
                  (2013): 446-54.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[11]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6770567/" target="_blank">Adams, Rachel C et al. “Food Addiction: Implications for the
                  Diagnosis and Treatment of Overeating.” Nutrients vol. 11,9
                  2086. 4 Sep. 2019.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[12]</span>
                <a class="sources__link" href="http://sci-hub.se/10.3945/ajcn.2009.28637" target="_blank">Ströhle, Alexander et al. “Estimation of the diet-dependent
                  net acid load in 229 worldwide historically studied
                  hunter-gatherer societies.” The American journal of clinical
                  nutrition vol. 91,2 (2010): 406-12.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[13]</span>
                <a class="sources__link" href="https://sci-hub.se/https://pubmed.ncbi.nlm.nih.gov/16848698/" target="_blank">Cahill, George F Jr. “Fuel metabolism in starvation.” Annual
                  review of nutrition vol. 26 (2006): 1-22.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[14]</span>
                <a class="sources__link" href="https://sci-hub.se/10.1001/jama.1964.03060150024006" target="_blank">
                  DRENICK, E J et al. “PROLONGED STARVATION AS TREATMENT FOR
                  SEVERE OBESITY.” JAMA vol. 187 (1964): 100-5.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[15]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3106288/" target="_blank">Alirezaei, Mehrdad et al. “Short-term fasting induces
                  profound neuronal autophagy.” Autophagy vol. 6,6 (2010):
                  702-10.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[16]</span>
                <a class="sources__link" href="https://sci-hub.se/https://pubmed.ncbi.nlm.nih.gov/22889512/" target="_blank">Klempel, Monica C et al. “Alternate day fasting (ADF) with a
                  high-fat diet produces similar weight loss and
                  cardio-protection as ADF with a low-fat diet.” Metabolism:
                  clinical and experimental vol. 62,1 (2013): 137-43.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[17]</span>
                <a class="sources__link" href="https://www.annualreviews.org/doi/10.1146/annurev-nutr-071816-064634" target="_blank">Patterson, Ruth E, and Dorothy D Sears. “Metabolic Effects of
                  Intermittent Fasting.” Annual review of nutrition vol. 37
                  (2017): 371-393.
                </a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    {% endblock %}