{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="" />
{% endblock %}
{% block title %}  {% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/fasting.html"><span>Голодание</span></a>
            <div class="post__delimiter"></div>
          </span>
          Нюансы голодания. Часть II: Возраст, мышцы и мозги
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/fasting-nuances-ii-age-muscle-brain.png') }}" alt="fasting-nuances-i-deficiencies">
          </div>
          <p class="post__text">
            Продолжая серию постов о нюансах голодания, сегодня хотел бы
            обратить ваше внимание на возраст, а также частые переживания по
            поводу мышц и мозгов.
          </p>
          <p class="post__text">
            Не смотря на то, что периодическое голодание показывало отличные
            результаты почти при любом возрасте, следует учитывать ряд
            особенностей [<a href="#sources-list">1</a>]. Например, у детей
            действительно растущий организм и их метаболизм быстрее чем у
            взрослого [<a href="#sources-list">2</a>]. Поэтому подобные
            ограничения для здоровых детей нежелательны. Лучше исправить диету
            своего чада и смотреть, чтобы он не переедал.
          </p>
          <p class="post__text">
            Для людей в возрасте, где-то шестьдесят плюс, следует понимать, что
            требования к протеину у них выше, чем у молодого и здорового
            организма, поэтому голодание может нанести вред в этом разрезе [<a href="#sources-list">3</a>]. Также на это указывают ассоциации со снижением общей смертности
            у пожилых людей, при богатой на протеин диете [<a href="#sources-list">4</a>]. И да, если вы молодой и здоровый, это не значит что вам надо
            постоянно закидываться протеином [<a href="#sources-list">5</a>].
            Даже если вы качаетесь!
          </p>
          <p class="post__text">
            Данные показывают, что потери мышечной массы не происходит при
            голодании [<a href="#sources-list">6</a>]. Даже если вы продолжаете
            заниматься спортом. Более того, физические нагрузки при голодании
            наоборот помогут вам мышцы сохранить и оздоровить [<a href="#sources-list">7</a>]. Связано это с тем, что организм довольно ревностно будет их
            защищать, вопреки распространённым убеждениям о “срочной потери
            мышц” [<a href="#sources-list">8</a>]. Запасы жира всегда
            приоритизированы при недостатках глюкозы. И даже отсутствует
            увеличение производства глюкозы из протеина на период голодания, как
            раз ради сохранения мышц [<a href="#sources-list">9</a>].
          </p>
          <p class="post__text">
            Чтобы начать терять мышечную массу при голодании, у вас должны быть
            либо экстремальные нагрузки, либо полное и действительно
            продолжительное отсутсвие питательных веществ, либо же какие-то
            расстройства, типа высоких уровней инсулина (к нюансам расстройств и
            как их учесть при голодании мы еще вернемся в следующем посте) [<a href="#sources-list">10</a>]. Но если подходить к голоданию адекватно, то все будет окей.
            Просто снизьте свои нагрузки на пять дней, с мышцами абсолютно
            ничего не произойдет.
          </p>
          <p class="post__text">
            Ну ладно, есть процессы типа протеолиза, разбивающего протеины на
            аминокислоты, но это происходит в рамках самообслуживания организма
            и подобные потери находятся абсолютно в пределах нормы [<a href="#sources-list">11</a>]. И вообще, вы же помните про подавление мТОР, чтобы быть моложе и
            жить дольше?
          </p>
          <p class="post__text">
            Ну а для тех, кто больше ценит когнитивные показатели и волнуется за
            состояние мозга - здесь переживать точно не за что! При
            экстремальном голодании, у животных жертвуются в первую очередь
            ресурсы мышечных тканей и органов, но не мозга [<a href="#sources-list">12</a>]. У многих живых организмов такой подход подчеркивает
            приоритетность мозга и когнитивных способностей ради выживания. К
            слову, на ряду с мозгом также сохранялись яички у мужских особей, но
            куда же без яичек [<a href="#sources-list">13</a>].
          </p>
          <p class="post__text">
            Более того, исследования на мышах указывало, что при периодическом
            голодании повышалась эффективность развития нейронов и нейронных
            связей [<a href="#sources-list">14</a>], а результаты когнитивных
            тестов улучшались. Правда, у людей были подобных эффектов пока не
            зафиксировали. Зато зафиксировали повышение фокуса и бдительности, а
            также улучшение настроения и сопротивление депрессии [<a href="#sources-list">15</a>].
          </p>
          <p class="post__text">
            А на этом на сегодня все. В следующем посте обсудим различные
            расстройства, оказывающие значительно влияние на голодание.
          </p>

          <div class="post__continue continue">
            <a href="/posts/fasting-nuances-i-deficiencies.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Голодание</span>
                <span class="continue__heading">Нюансы голодания. Часть I: Недостаток питательных
                  веществ</span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="/posts/fasting-nuances-iii-diseases.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Голодание</span>
                <span class="continue__heading">Нюансы голодания. Часть III: Расстройства и нарушения</span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6682944/" target="_blank">Anton, Stephen D et al. “The Effects of Time Restricted
                  Feeding on Overweight, Older Adults: A Pilot Study.” Nutrients
                  vol. 11,7 1500. 30 Jun. 2019.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a class="sources__link" href="https://jpma.org.pk/article-details/9169?article_id=9169" target="_blank">Kalra S, Al Deeb A, Sahay R. Ramadan fasting in children. J
                  Pak Med Assoc. 2019 May;69(5):745-746.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6073115/" target="_blank">Franzke, Bernhard et al. “Dietary Protein, Muscle and
                  Physical Function in the Very Old.” Nutrients vol. 10,7 935.
                  20 Jul. 2018.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a class="sources__link" href="https://www.sciencedirect.com/science/article/pii/S155041311400062X" target="_blank">Levine ME, Suarez JA, Brandhorst S, Balasubramanian P, Cheng
                  CW, Madia F, Fontana L, Mirisola MG, Guevara-Aguirre J, Wan J,
                  Passarino G, Kennedy BK, Wei M, Cohen P, Crimmins EM, Longo
                  VD. Low protein intake is associated with a major reduction in
                  IGF-1, cancer, and overall mortality in the 65 and younger but
                  not older population. Cell Metab. 2014 Mar 4;19(3):407-17.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a class="sources__link" href="https://sci-hub.se/https://pubmed.ncbi.nlm.nih.gov/16779921/" target="_blank">Bilsborough, Shane, and Neil Mann. “A review of issues of
                  dietary protein intake in humans.” International journal of
                  sport nutrition and exercise metabolism vol. 16,2 (2006):
                  129-52.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a class="sources__link" href="https://sci-hub.st/10.1111/j.1467-789X.2011.00873.x" target="_blank">Varady KA. Intermittent versus daily calorie restriction:
                  which diet regimen is more effective for weight loss? Obes
                  Rev. 2011 Jul;12(7):e593-601</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a class="sources__link" href="https://sci-hub.se/https://pubmed.ncbi.nlm.nih.gov/29315892/" target="_blank">Aird, T P et al. “Effects of fasted vs fed-state exercise on
                  performance and post-exercise metabolism: A systematic review
                  and meta-analysis.” Scandinavian journal of medicine & science
                  in sports vol. 28,5 (2018): 1476-1493.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[8]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6596457/" target="_blank">Oost, Lynette J et al. “Fibroblast growth factor 21 controls
                  mitophagy and muscle mass.” Journal of cachexia, sarcopenia
                  and muscle vol. 10,3 (2019): 630-642.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[9]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3276482/" target="_blank">Browning, Jeffrey D et al. “The effect of short-term fasting
                  on liver and skeletal muscle lipid, glucose, and energy
                  metabolism in healthy women and men.”
                  <i>Journal of lipid research</i> vol. 53,3 (2012): 577-586.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[10]</span>
                <a class="sources__link" href="http://sci-hub.se/10.1111/febs.12253" target="_blank">Schiaffino, Stefano et al. “Mechanisms regulating skeletal
                  muscle growth and atrophy.” The FEBS journal vol. 280,17
                  (2013): 4294-314.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[11]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6930012/" target="_blank">Paiva, Stacey-Lynn, and Craig M Crews. “Targeted protein
                  degradation: elements of PROTAC design.”
                  <i>Current opinion in chemical biology</i> vol. 50 (2019):
                  111-119.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[12]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2851235/" target="_blank">Weindruch, R, and R S Sohal. “Seminars in medicine of the
                  Beth Israel Deaconess Medical Center. Caloric intake and
                  aging.” The New England journal of medicine vol. 337,14
                  (1997): 986-94.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[13]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2851235/" target="_blank">Weindruch, R, and R S Sohal. “Seminars in medicine of the
                  Beth Israel Deaconess Medical Center. Caloric intake and
                  aging.” The New England journal of medicine vol. 337,14
                  (1997): 986-94.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[14]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6672666/" target="_blank">Fontán-Lozano, Angela et al. “Caloric restriction increases
                  learning consolidation and facilitates synaptic plasticity
                  through mechanisms dependent on NR2B subunits of the NMDA
                  receptor.” The Journal of neuroscience : the official journal
                  of the Society for Neuroscience vol. 27,38 (2007):
                  10185-95.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[15]</span>
                <a class="sources__link" href="http://sci-hub.se/10.1016/j.psychres.2012.12.018" target="_blank">Fond, Guillaume et al. “Fasting in mood disorders:
                  neurobiology and effectiveness. A review of the literature.”
                  Psychiatry research vol. 209,3 (2013): 253-8.
                </a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    {% endblock %}