{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Грелин и чувство голода | Адам Леос" />
{% endblock %}
{% block title %} Грелин и чувство голода | Адам Леос {% endblock %}
{% block header_style %}header--secondary{% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/fasting.html"><span>Голодание</span></a>
            <div class="post__delimiter"></div>
          </span>
          Грелин и чувство голода
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/ghrelin-and-hunger.png') }}" alt="ghrelin-and-hunger">
          </div>
          <p class="post__text">
            В последнем
            <a class="post__link" href="/posts/time-restricted-eating-ii.html">посте об ограниченом окне для приема пищи</a>я упоминал “вырезанный контент” о грелине (потому что не влезло в
            один пост). Вот здесь мы теперь и сделаем небольшое ответвление,
            которое поможет нам лучше разобраться в работе организма и
            <a class="post__link" href="/posts/fasting-is-not-what-you-think.html">теме голодания</a>.
          </p>
          <p class="post__text">
            Грелин мы уже вспоминали очень кратко в
            <a class="post__link" href="/posts/metabolism-and-sleep.html">посте о связи метаболизма и сна</a>. Базовая информация: грелин - это так называемый “гормон голода” и
            он действительно принимает непосредственное участие в регулировании
            желания есть [<a href="#sources-list">1</a>]. Высокая его
            концентрация во многом и порождает чувство голодa [<a href="#sources-list">2</a>].
          </p>
          <p class="post__text">
            Мы не будет покрывать все механизмы грелина, а лишь интересующие нас
            в разрезе темы голодания. Но я быстро упомяну, что как и у всех
            гормонов, у грелина “чувство аппетита” не единственная (и даже не
            основная) роль [<a href="#sources-list">3</a>]. Он также принимает
            участие в гомеостазе глюкозы [<a href="#sources-list">4</a>],
            создании жировых тканей [<a href="#sources-list">5</a>], выработке
            гормона роста [<a href="#sources-list">6</a>], метаболизме костей
            [<a href="#sources-list">7</a>], даже в развитии рака [<a href="#sources-list">8</a>], и многом другом [<a href="#sources-list">9</a>].
          </p>
          <p class="post__text">
            Что нас особенно интересует сегодня, так это график выделения
            грелина в организме. Он во многом зависит от вашего графика приема
            пищи. Если вы едите постоянно в одно и тоже время (+-), выделение
            гормона также будет следовать довольно предсказуемому паттерну [<a href="#sources-list">10</a>].
          </p>
          <p class="post__text">
            Выделяться он начнет всегда немного заранее до привычного времени
            трапезы [<a href="#sources-list">1</a>]. Именно поэтому у нас
            появляется желание есть преимущественно в одно и тоже время каждый
            день, если имели стабильный график перед этим [<a href="#sources-list">11</a>]. Такая себе небольшая оптимизация, аналогичная сотням других
            процессов организма.
          </p>
          <p class="post__text">
            Но что важно, начав есть в другое время (просто раньше\позже
            обычного часа), выделение грелина также будет перестраиваться,
            стараясь быть всегда немного впереди приема пищи [<a href="#sources-list">12</a>]. Если смещать приемы пищи понемногу, где-то по 30 минут через
            день, то вы даже разницы в чувстве голода не почувствуете. Это очень
            полезная информация для тех, кто желает сместить свое окно
            максимально “безболезненно” [<a href="#sources-list">13</a>].
          </p>
          <p class="post__text">
            А теперь самый интересный момент: начав выделяться немного заранее
            до привычного времени приема пищи, уровень гормона упадет обратно
            где-то спустя два часа после этого [<a href="#sources-list">14</a>].
            Независимо от того, поели вы или нет [<a href="#sources-list">15</a>]. И будет низкий до следующего ожидаемого периода приема пищи,
            пока снова не начнет расти (и затем снова падать через пару часов).
            Это говорит о нескольких важных вещах.
          </p>
          <p class="post__text">
            Первое - голод не накапливается [<a href="#sources-list">16</a>].
            Технически, не поев сегодня, вы не станете в два раза голоднее
            завтра [<a href="#sources-list">17</a>]. Большинство утверждений об
            увеличенном голоде при коротком голодании сугубо психологические
            (типа по привычке или заедание стресса) [<a href="#sources-list">18</a>]. И это правда в рамках даже не одного дня, но нескольких подряд
            [<a href="#sources-list">19</a>]!
          </p>
          <p class="post__text">
            А второй момент: если перетерпеть немного период, когда по “старой
            привычке” грелин выделился и вы почувствовали голод, то голод просто
            пройдет. Уверен, это испытывал абсолютно каждый из нас. Например,
            заобщавшись\заигравшись\зачитавшись и т.д. В какой-то момент мы
            смотрим на часы и понимаем, что время обеда уже позади, а мы как-то
            даже забыли поесть. Но что важно - уже не так чтобы и хочется (разве
            что психологический триггер еще присутствует) [<a href="#sources-list">20</a>].
          </p>
          <p class="post__text">
            А что еще занимательнее, спустя приблизительное трое суток
            голодания, среднее значение выделяемого грелина упадет. Именно с
            этим эффектом и связывают “ослабление” желания поесть при длительном
            голодании. Конечно же, спустя определенное время, голод все-таки
            начнет расти. Организм попытается вам напомнить, что стоит бы и
            питаться, ресурсы-то нужны [<a href="#sources-list">21</a>].
          </p>
          <p class="post__text">
            Что ж, думаю на сегодня достаточно информации. Надеюсь, что вам
            пригодится - эти все моменты были настолько интересными, что я был
            просто обязан поделиться с вами. А в следующем посте уже будем
            обсуждать длительное голодание в деталях.
          </p>

          <div class="post__continue continue">
            <a href="/posts/time-restricted-eating-ii.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Голодание</span>
                <span class="continue__heading">Ограниченное окно для принятия пищи (Time-restricted eating).
                  Часть II</span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="/posts/not-a-medicine-fasting.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Голодание</span>
                <span class="continue__heading"> НЕмедицинское голодание </span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a class="sources__link" href="https://www.cell.com/cell-metabolism/fulltext/S1550-4131(18)30119-0" target="_blank">
                  Yanagi, Shigehisa et al. “The Homeostatic Force of Ghrelin.”
                  Cell metabolism vol. 27,4 (2018): 786-804.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a class="sources__link" href="https://sci-hub.se/https://pubmed.ncbi.nlm.nih.gov/22249814/" target="_blank">Kirchner, Henriette et al. “The role of ghrelin in the
                  control of energy balance.” Handbook of experimental
                  pharmacology ,209 (2012): 161-84.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a class="sources__link" href="https://sci-hub.se/https://pubmed.ncbi.nlm.nih.gov/22041973/" target="_blank">Sato, Takahiro et al. “Structure, regulation and function of
                  ghrelin.” Journal of biochemistry vol. 151,2 (2012):
                  119-28.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3391754/" target="_blank">Verhulst, Pieter-Jan, and Inge Depoortere. “Ghrelin's second
                  life: from appetite stimulator to glucose regulator.”
                  <i>World journal of gastroenterology</i> vol. 18,25 (2012):
                  3183-95.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3215833/" target="_blank">Lin, Ligen et al. “Ablation of ghrelin receptor reduces
                  adiposity and improves insulin sensitivity during aging by
                  regulating fat metabolism in white and brown adipose tissues.”
                  <i>Aging cell</i> vol. 10,6 (2011): 996-1010.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a class="sources__link" href="https://pubmed.ncbi.nlm.nih.gov/21785007/" target="_blank">Goldstein, J L et al. “Surviving starvation: essential role
                  of the ghrelin-growth hormone axis.” Cold Spring Harbor
                  symposia on quantitative biology vol. 76 (2011): 121-7.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3699588/" target="_blank">Choi, Hyung Jin et al. “Chronic central administration of
                  Ghrelin increases bone mass through a mechanism independent of
                  appetite regulation.” <i>PloS one</i> vol. 8,7 e65505. 2 Jul.
                  2013.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[8]</span>
                <a class="sources__link" href="http://sci-hub.se/10.2478/v10181-011-0133-5" target="_blank">Majchrzak, K et al. “A role of ghrelin in cancerogenesis.”
                  Polish journal of veterinary sciences vol. 15,1 (2012):
                  189-97.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[9]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4049314/" target="_blank">Pradhan, Geetali et al. “Ghrelin: much more than a hunger
                  hormone.”
                  <i>Current opinion in clinical nutrition and metabolic care</i>
                  vol. 16,6 (2013): 619-24.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[10]</span>
                <a class="sources__link" href="https://core.ac.uk/reader/18164609" target="_blank">Natalucci, G et al. “Spontaneous 24-h ghrelin secretion
                  pattern in fasting subjects: maintenance of a meal-related
                  pattern.” European journal of endocrinology vol. 152,6 (2005):
                  845-50.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[11]</span>
                <a class="sources__link" href="http://sci-hub.st/10.1210/en.2005-0973" target="_blank">Drazen, Deborah L et al. “Effects of a fixed meal pattern on
                  ghrelin secretion: evidence for a learned response independent
                  of nutrient status.” Endocrinology vol. 147,1 (2006):
                  23-30.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[12]</span>
                <a class="sources__link" href="https://www.nejm.org/doi/10.1056/NEJMoa1105816" target="_blank">Sumithran, Priya et al. “Long-term persistence of hormonal
                  adaptations to weight loss.” The New England journal of
                  medicine vol. 365,17 (2011): 1597-604.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[13]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5378398/" target="_blank">Belinova, Lenka et al. “The effect of meal frequency in a
                  reduced-energy regimen on the gastrointestinal and appetite
                  hormones in patients with type 2 diabetes: A randomised
                  crossover study.” <i>PloS one</i> vol. 12,4 e0174820. 3 Apr.
                  2017.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[14]</span>
                <a class="sources__link" href="http://sci-hub.st/10.1210/jc.2003-032222" target="_blank">Arosio, Maura et al. “Effects of modified sham feeding on
                  ghrelin levels in healthy human subjects.” The Journal of
                  clinical endocrinology and metabolism vol. 89,10 (2004):
                  5101-4.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[15]</span>
                <a class="sources__link" href="http://sci-hub.se/10.1016/j.domaniend.2009.01.001" target="_blank">Fox, Bradley K et al. “Effects of short- and long-term
                  fasting on plasma and stomach ghrelin, and the growth
                  hormone/insulin-like growth factor I axis in the tilapia,
                  Oreochromis mossambicus.” Domestic animal endocrinology vol.
                  37,1 (2009): 1-11.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[16]</span>
                <a class="sources__link" href="http://sci-hub.st/10.1016/S0140-6736(66)92135-0" target="_blank">Silverstone, J T et al. “Hunger during total starvation.”
                  Lancet (London, England) vol. 1,7451 (1966): 1343-4.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[17]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4899147/" target="_blank">Hsu, Ted M et al. “Ghrelin: A link between memory and
                  ingestive behavior.” <i>Physiology & behavior</i> vol. 162
                  (2016): 10-7.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[18]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5343809/" target="_blank">Howick, Ken et al. “From Belly to Brain: Targeting the
                  Ghrelin Receptor in Appetite and Food Intake Regulation.”
                  <i>International journal of molecular sciences</i> vol. 18,2
                  273. 27 Jan. 2017.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[19]</span>
                <a class="sources__link" href="https://sci-hub.se/https://pubmed.ncbi.nlm.nih.gov/21354264/" target="_blank">Dickson, Suzanne L et al. “The role of the central ghrelin
                  system in reward from food and chemical drugs.” Molecular and
                  cellular endocrinology vol. 340,1 (2011): 80-7.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[20]</span>
                <a class="sources__link" href="http://sci-hub.se/10.1210/jc.2004-0604" target="_blank">Espelund, Ulrick et al. “Fasting unmasks a strong inverse
                  association between ghrelin and cortisol in serum: studies in
                  obese and normal-weight subjects.” The Journal of clinical
                  endocrinology and metabolism vol. 90,2 (2005): 741-6.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[21]</span>
                <a class="sources__link" href="http://sci-hub.st/10.1016/j.jpeds.2003.10.036" target="_blank">Soriano-Guillén, Leandro et al. “Ghrelin levels in obesity
                  and anorexia nervosa: effect of weight reduction or
                  recuperation.” The Journal of pediatrics vol. 144,1 (2004):
                  36-42.</a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    {% endblock %}