{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Гормезис. Немножко плохо - хорошо? | Адам Леос" />
{% endblock %}
{% block title %} Гормезис. Немножко плохо - хорошо? | Адам Леос {% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/temperature-stress-cold.html"><span>Холод</span></a>
            <div class="post__delimiter"></div>
          </span>
          Гормезис. Немножко плохо - хорошо?
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/hormesis-a-little-bit-of-bad-good.png') }}" alt="hormesis-a-little-bit-of-bad-good">
          </div>

          <p class="post__text">
            В предыдущем посте я кратко упоминал концепт под названием
            “Гормезис”. Концепт интересный и полезный, а самое главное - тесно
            связанный с нашей темой. Давайте взглянем на него самую малость
            подробнее.
          </p>

          <p class="post__text">
            Гормезис подразумевает, что многие виды вредоносного стресса для
            организма могут быть… благоприятны. Вопрос лишь в “дозировке”. И
            спектр возможных стрессоров довольно широкий - от банальных
            физических нагрузок и экстремальных температур, вплоть до токсинов и
            даже радиации [1]!
          </p>

          <p class="post__text">
            Да, облучение, наносящее повреждения клеткам и даже ДНК, может быть
            полезным. В прошлом веке ученые оперировали линейной моделью,
            предполагая, что генетические повреждения накапливаются и
            неисправимы. Сегодня же мы знаем, что повреждения ДНК обратимы и у
            нас есть сложные и интересные процессы для ее “починки” (в 2015 даже
            получили за это Нобелевскую Премию) [2].
          </p>

          <p class="post__text">
            Но сейчас нас больше интересует другое открытие: небольшой уровень
            облучения стимулирует процессы восстановления и более того -
            способствует сопротивлению более высоким уровням в будущем. Конечно
            же, подобные эффекты проявляются и с другими видами стресса, где при
            небольшой дозе организм учится эффективнее сопротивлялся подобному
            стрессу в будущем [3].
          </p>

          <p class="post__text">
            Но еще интереснее, когда после одного вида стресса организм
            “укрепляет” защиту по направлению к другим, причем нескольким видам
            сразу. Например, физические нагрузки защищают от будущих повреждений
            и болезней опорно-двигательной и сердечно-сосудистой системах [4].
          </p>

          <p class="post__text">
            Или небольшие дозы токсинов, по типу кадмия и мышьяка могут повысить
            продолжительность жизни [5]. Только прошу, не практикуйте! Слишком
            мало данных и слишком опасно. Лучше кушайте куркуму, там есть
            куркумин, который также имеет эффект гормезиса (т.к. немного
            токсичен для человека) [6].
          </p>

          <p class="post__text">
            Конечно же, еще есть много интересных данных о температурных
            стрессах. Но я вам о них не расскажу!.. В этом посте. Потому что у
            нас впереди этому посвящена целая тема. Лучше расскажу небольшой
            кусочек занимательной истории гормезиса.
          </p>

          <p class="post__text">
            Около 130 лет назад, ученый под именем Hugo Schulz обнаружил процесс
            гормезиса. И ошибочно решил что это основной механизм гомеопатии. А
            так как традиционная медицина вела “священную войну” в то время
            против гомеопатии, то и Hugo с его гормезисом закидали помидорами,
            причем очень сильно. Его карьера и репутация сильно пострадали, а
            изучение гормезиса очернялось. К счастью, последние 30 лет процесс
            уже стали активно изучать. Happy end [7]
          </p>

          <div class="post__continue continue">
            <a href="/posts/what-is-about-temperature-stress.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Холод</span>
                <span class="continue__heading">
                  О чем температурный стресс?
                </span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="/posts/what-is-a-temperature-anyway.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Холод</span>
                <span class="continue__heading">А что вообще значит “температура”?
                </span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a class="sources__link" href="https://sci-hub.se/https://pubmed.ncbi.nlm.nih.gov/30895414/" target="_blank">Lajqi, Trim et al. "Toxin-induced hormesis may restrain
                  aging". <i>Biogerontology</i> vol. 20, 4. 2019 Aug.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a class="sources__link" href="https://www.nobelprize.org/prizes/chemistry/2015/summary/" target="_blank">ERROR</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6484245/" target="_blank">Costantini, David. “Hormesis Promotes Evolutionary Change.”
                  <i>Dose-response : a publication of International Hormesis
                    Society</i>
                  vol. 17,2 1559325819843376. 24 Apr. 2019.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a class="sources__link" href="https://sci-hub.se/10.1016/j.arr.2007.08.007" target="_blank">Mattson, Mark P et al. "Hormesis defined".
                  <i>Ageing research reviews</i> vol. 7, 1. 2008 Jan.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a class="sources__link" href="https://sci-hub.se/10.1007/s10522-019-09806-5" target="_blank">Lajqi, Trim et al. "Toxin-induced hormesis may restrain
                  aging". <i>Biogerontology</i> vol. 20, 4. 2019 Aug.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6835324/" target="_blank">Concetta Scuto, Maria et al. “Curcumin, Hormesis and the
                  Nervous System.” <i>Nutrients</i> vol. 11,10 2417. 10 Oct.
                  2019.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6213774/" target="_blank">Calabrese, Edward J. “Hormesis: Path and Progression to
                  Significance.”
                  <i>International journal of molecular sciences</i> vol. 19,10
                  2871. 21 Sep. 2018.</a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    {% endblock %}