{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="" />
{% endblock %}
{% block title %}  {% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/microbiome.html"><span>Микрофлора</span></a>
            <div class="post__delimiter"></div>
          </span>
          Как микробы манипулируют нашими предпочтениями в еде
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/how-microbs-manipulate-with-our-food-preferences.jpg') }}" alt="how-microbs-manipulate-with-our-food-preferences">
          </div>
          <p class="post__text">
            Ох, этот пост крайне занимательный! Но что важнее - после его
            прочтения у вас на руках будет невероятной мощности инструмент по
            улучшению собственного здоровья.
          </p>
          <p class="post__text">
            Мы уже много говорили о зависимости ментального и физического
            здоровья от микрофлоры, но очевидным образом и микробы зависят от
            своего носителя - то есть нас. Ведь мы не только защита, но и
            поставщик ресурсов. Поэтому они всячески стараются подтолкнуть нас к
            приему той пищи, которая поможет им выжить и приведет к процветанию.
            И для этого у них есть впечатляющий спектр инструментов.
          </p>
          <p class="post__text">
            Прежде всего, бактерии могут влиять на аппетит, например блокируя
            аппетит-регулирующие гормоны [<a href="#sources-list">1</a>]. А
            через производимые в кишечнике нейромедиаторы и короткоцепочечные
            жирные кислоты напрямую манипулируют ощущениями вкуса, запаха и
            насыщения [<a href="#sources-list">2</a>]. Да и чувство сытости в
            целом у нас как раз из-за выделяемых гормонов в нашем кишечнике,
            преимущественно после получения питательных веществ из пищи,
            стимулирующих развитие микробов [<a href="#sources-list">3</a>].
          </p>
          <p class="post__text">
            Но дальше еще интереснее: они меняют наши предпочтения в еде,
            воздействуя на рецепторы вознаграждений. Либо же напротив, выделяя
            токсины, которые делают нас неудовлетворенными, пока мы не съедим
            то, что надо им [<a href="#sources-list">4</a>]. Ключевую роль здесь
            также играет известный нам Блуждающий Нерв, через который и
            происходит большое количество манипуляций нашим мозгом. К слову, уже
            давно такие вещи как переедание относятся к серьезным нервным
            расстройствам [<a href="#sources-list">5</a>].
          </p>
          <p class="post__text">
            Важным моментом является и само собой вытекающий вывод - качество и
            количество бактерий играет огромную роль. Мы можем быть заложниками
            плохих бактерий, не производящий для нас ничего полезного и лишь
            побуждающих продолжать падать в яму фастфуда и сахара (сам там был)
            [<a href="#sources-list">6</a>]. Либо же наоборот, иметь множество
            “хороших ребят”, которые не только будут положительно влиять на наше
            здоровье, но и всячески поощрять здоровое питание, делая вам
            “хорошо” за поедание овощей.
          </p>
          <p class="post__text">
            Так что если вы терпеть не можете броколли - на самом деле это ваши
            микробы ее не любят. Но это крайне легко изменить [<a href="#sources-list">7</a>]. Пересильте себя ненадолго, добавьте в рацион клетчатку и прочие
            сложные углеводы - разведите полезные бактерии. И вы не только
            поменяете отношение к овощам, вы начнете буквально кайфовать, поедая
            их. Здесь могу лично подтвердить - будучи неконтролируемым
            сладкоежкой в прошлом, сегодня даже за деньги не соглашусь съесть и
            кусочка торта. А овощи и зелень приносят столько удовольствия, как
            никогда я не получал от пиццы или нутеллы.
          </p>

          <div class="post__continue continue">
            <a href="/posts/do-not-stress-microbs.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Микрофлора</span>
                <span class="continue__heading">Не подвергайте микробов стрессу!</span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="/posts/what-destroying-microbiome-i.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Микрофлора</span>
                <span class="continue__heading">Какие повседневные вещи уничтожают микрофлору. Часть I</span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7126273/" target="_blank">Sergueï Fetissov, Sergueï O et al. “Autoantibodies against
                  appetite-regulating peptide hormones and neuropeptides:
                  putative modulation by gut microflora.” Nutrition (Burbank,
                  Los Angeles County, Calif.) vol. 24,4 (2008): 348-59.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a class="sources__link" href="https://academic.oup.com/jn/article/147/5/727/4584720" target="_blank">
                  van de Wouw, Marcel et al. “Microbiota-Gut-Brain Axis:
                  Modulator of Host Metabolism and Appetite.” The Journal of
                  nutrition vol. 147,5 (2017): 727-745.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a class="sources__link" href="https://sci-hub.se/10.1038/nrendo.2016.150" target="_blank">Fetissov, Sergueï O et al. "Role of the gut microbiota in
                  host appetite control: bacterial growth to animal feeding
                  behaviour". <i>Nature reviews. Endocrinology</i> vol. 13, 1.
                  2017 Jan.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4270213/" target="_blank">Alcock, Joe et al. “Is eating behavior manipulated by the
                  gastrointestinal microbiota? Evolutionary pressures and
                  potential mechanisms.”
                  <i>BioEssays : news and reviews in molecular, cellular and
                    developmental biology</i>
                  vol. 36,10 (2014): 940-9.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a class="sources__link" href="https://sci-hub.se/https://doi.org/10.1002/eat.20589" target="_blank">Klump, Kelly L et al. "Academy for eating disorders position
                  paper: eating disorders are serious mental illnesses".
                  <i>The International journal of eating disorders</i> vol. 42,
                  2. 2009 Mar.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3406227/" target="_blank">Berthoud, Hans-Rudolf, and Huiyuan Zheng. “Modulation of
                  taste responsiveness and food preference by obesity and weight
                  loss.” <i>Physiology & behavior</i> vol. 107,4 (2012):
                  527-32.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5404834/" target="_blank">Leitão-Gonçalves, Ricardo et al. “Commensal bacteria and
                  essential amino acids control food choice behavior and
                  reproduction.” <i>PLoS biology</i> vol. 15,4 e2000862. 25 Apr.
                  2017.</a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    {% endblock %}