{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Как холод закаляет | Адам Леос" />
{% endblock %}
{% block title %} Как холод закаляет | Адам Леос {% endblock %}
{% block content %}
<section class="main__section">
        <h2 class="main__heading main__heading--post"> <span class="main__subheading"> <a
                                href="/topics/temperature-stress-cold.html"><span>Температурный Стресс: Холод</span></a>
                        <div class="post__delimiter"></div>
                </span> Как холод закаляет
        </h2>
        <article class="post">
                <div class="post__imagewrapper"> <img class="post__image"
                                src="{{ url_for('static', filename='img/posts/how-cold-makes-you-stronger.jpg')}}"
                                alt="how-cold-makes-you-stronger" /> </div>
                </div>
                <p class="post__text">Последний пост оборвался на очень хороших вопросах: как мы вообще закаляемся, что
                        поменяется при
                        более низких температурах, эффективно ли это, и можно ли при помощи холода… похудеть? Что ж,
                        давайте ответим на эти
                        и другие вопросы, по порядку.</p>
                <p class="post__text">Кто внимательно читал предыдущие публикации, тот уже понял “как работает
                        закаливание”. Основой
                        закаливания есть коричневый жир, который выполняет роль мощного “обогревателя” в нашем теле при
                        низких температурах
                        (когда обычного дрожания недостаточно) [1]. </p>
                <p class="post__text">И если мы часто\долго подвергаемся холоду, тело старается адаптироваться. Базой
                        адаптации является
                        производство большего количества коричневого жира, который должен нас потом обогревать [2]. </p>
                <p class="post__text">Сколько в это в цифрах? Рад что вы спросили! Например, вот молодые, не закалённые
                        мужчины,
                        подвергались холоду (+10°C) в течении двух часов в день. После 4х таких недель (5 дней в неделю)
                        количество
                        коричневого жира у них увеличилось на 45% [3]. </p>
                <p class="post__text">Занимательным фактом еще было то, что каких-либо значительных изменений в
                        сократительном
                        термогенезе не произошло. Иными словами - дрожать сильнее особо не стали, основная надежда
                        организма была на
                        коричневый жир [4]. </p>
                <p class="post__text">Кстати, если вам показалось, что температуры не такие уж и низкие в исследованиях,
                        то это отчасти
                        правда. Действительно, можно обойтись и без ныряния зимой в прорубь. Достаточно просто бывать на
                        улице, и чем ниже
                        температура, тем больше выработается данного жирка [5]</p>
                <p class="post__text">Но здесь один важный момент о теплопроводности: она бывает разная. Больше всего
                        нас интересует
                        факт того, что теплопроводность у воды в 25 раз выше, чем у воздуха [6]. А значит это, что в
                        холодной воде мы теряем
                        тепло в пять раз быстрее, чем на холодном воздухе (даже голышом) [7]. </p>
                <p class="post__text">Поэтому на всяких криотерапиях люди могут находится в комнатах при “ужасных”
                        -150°C и ниже. Но
                        если это ванная, то сравнимый эффект будет уже при +10°C [8]. Но к этому мы еще вернемся в
                        другом посте.</p>
                <p class="post__text">Давайте лучше посмотрим на другой интересный момент: располагается коричневый жир
                        преимущественно
                        на спине. Сконцентрирован сзади примерно на шее и между плеч, но может находится немного и вдоль
                        позвоночника [9].
                        Т.е. ваш жирок на пузике не коричневый, и таким не станет, увы.</p>
                <p class="post__text">Более того, у людей с лишним весом замечено меньше коричневого жира в среднем,
                        равно как и ниже
                        его производство. Предположительно из-за и так хорошей теплоизоляции белым жиром [10]. Примерно
                        аналогичная ситуация
                        и у пожилых людей - с возрастом все меньше коричневого жира. Скорее всего, потому что мышечной
                        массы становится
                        меньше, а белого жира больше [11].</p>
                <p class="post__text">Ну и на всякий случай уточню: разницы между мужчинами и женщинами в разрезе
                        производства
                        коричневого жира выявлено не было [12]. </p>
                <p class="post__text">А на сегодня, пожалуй, достаточно. Да, мы “жирок задели”, а похудение не обсудили.
                        Обещаю,
                        посвятим этому целый следующий пост, совместно с обсуждением эффектов холода на метаболизм.</p>

                <div class="post__continue continue"> <a href="/posts/brown-fat.html" class="continue__button">
                                <div class="continue__arrow">&#10229;</div>
                                <div class="continue__content"> <span class="continue__tag">Температурный Стресс:
                                                Холод</span> <span class="continue__heading">Коричневый жир (ну или
                                                бурый)
                                        </span> </div>
                        </a>
                        <div class="continue__delimiter"></div> <a href="/posts/how-to-lose-weight-with-cold.html"
                                class="continue__button">
                                <div class="continue__content continue__content--right"> <span
                                                class="continue__tag">Температурный
                                                Стресс: Холод</span>
                                        <span class="continue__heading">Как похудеть при помощи холода?
                                        </span>
                                </div>
                                <div class="continue__arrow">&#10230;</div>
                        </a>
                </div>
                <div class="post__sources sources" id="sources-list">
                        <h5 class="sources__toggler">Источники</h5>
                        <ul class="sources__list">
                                <li class="sources__item"><span class="sources__number">[1]</span> <a
                                                class="sources__link"
                                                href="https://www.cell.com/trends/endocrinology-metabolism/fulltext/S1043-2760(13)00209-9"
                                                target="_blank">Townsend KL, Tseng YH. Brown fat fuel utilization and
                                                thermogenesis. Trends
                                                Endocrinol Metab. 2014 Apr;25(4):168-77.</a></li>
                                <li class="sources__item"><span class="sources__number">[2]</span> <a
                                                class="sources__link" href="https://sci-hub.st/10.1002/cphy.c170001"
                                                target="_blank">Rui, Liangyou et al. "Brown and
                                                Beige Adipose Tissues in Health and Disease". <i>Comprehensive
                                                        Physiology</i> vol. 7, 4.
                                                09/12/2017.</a></li>
                                <li class="sources__item"><span class="sources__number">[3]</span> <a
                                                class="sources__link"
                                                href="https://physoc.onlinelibrary.wiley.com/doi/10.1113/JP273395"
                                                target="_blank">Blondin,
                                                Denis P et al. “Four-week cold acclimation in adult humans shifts
                                                uncoupling thermogenesis from
                                                skeletal muscles to brown adipose tissue.” The Journal of physiology
                                                vol. 595,6 (2017):
                                                2099-2113. </a>
                                </li>
                                <li class="sources__item"><span class="sources__number">[4]</span> <a
                                                class="sources__link" href="http://sci-hub.se/10.1210/jc.2013-3901"
                                                target="_blank">Blondin, Denis P et al. "Increased
                                                brown adipose tissue oxidative capacity in cold-acclimated humans".
                                                <i>The Journal of clinical
                                                        endocrinology and metabolism</i> vol. 99, 3. 2014 Mar.</a></li>
                                <li class="sources__item"><span class="sources__number">[5]</span> <a
                                                class="sources__link"
                                                href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3349155/"
                                                target="_blank">Huang, Yung-Cheng
                                                et al. “Review analysis of the association between the prevalence of
                                                activated brown adipose
                                                tissue and outdoor temperature.” <i>TheScientificWorldJournal</i> vol.
                                                2012 (2012): 793039.</a>
                                </li>
                                <li class="sources__item"><span class="sources__number">[6]</span> <a
                                                class="sources__link"
                                                href="https://sci-hub.hkvisa.net/https://doi.org/10.1002/cphy.cp040117"
                                                target="_blank">Terjung,
                                                Ronald (2010). "Comprehensive Physiology || Human Thermoregulatory
                                                Responses to Acute Cold
                                                Stress with Special Reference to Water Immersion."</a></li>
                                <li class="sources__item"><span class="sources__number">[7]</span> <a
                                                class="sources__link"
                                                href="https://sci-hub.hkvisa.net/10.1016/j.autneu.2016.02.009"
                                                target="_blank">Castellani, John
                                                W et al. "Human physiological responses to cold exposure: Acute
                                                responses and acclimatization to
                                                prolonged exposure". <i>Autonomic neuroscience : basic &amp;
                                                        clinical</i> vol. 196. 2016
                                                Apr.</a></li>
                                <li class="sources__item"><span class="sources__number">[8]</span> <a
                                                class="sources__link"
                                                href="https://sci-hub.hkvisa.net/10.1080/00365510701516350"
                                                target="_blank">Leppäluoto, J et al.
                                                "Effects of long-term whole-body cold exposures on plasma concentrations
                                                of ACTH,
                                                beta-endorphin, cortisol, catecholamines and cytokines in healthy
                                                females". <i>Scandinavian
                                                        journal of clinical and laboratory investigation</i> vol. 68, 2.
                                                2008.</a></li>
                                <li class="sources__item"><span class="sources__number">[9]</span> <a
                                                class="sources__link"
                                                href="https://journals.physiology.org/doi/full/10.1152/physrev.00015.2003"
                                                target="_blank">Cannon B, Nedergaard J. Brown adipose tissue: function
                                                and physiological
                                                significance. Physiol Rev. 2004 Jan;84(1):277-359.</a></li>
                                <li class="sources__item"><span class="sources__number">[10]</span> <a
                                                class="sources__link" href="https://sci-hub.st/10.1159/000321319"
                                                target="_blank">Saely, Christoph H et al. "Brown
                                                versus white adipose tissue: a mini-review". <i>Gerontology</i> vol. 58,
                                                1. 2012.</a></li>
                                <li class="sources__item"><span class="sources__number">[11]</span> <a
                                                class="sources__link"
                                                href="https://onlinelibrary.wiley.com/doi/full/10.1038/oby.2011.125"
                                                target="_blank">Yoneshiro,
                                                Takeshi et al. “Age-related decrease in cold-activated brown adipose
                                                tissue and accumulation of
                                                body fat in healthy humans.” Obesity (Silver Spring, Md.) vol. 19,9
                                                (2011): 1755-60.</a>
                                </li>
                                <li class="sources__item"><span class="sources__number">[12]</span> <a
                                                class="sources__link" href="https://www.jci.org/articles/view/68993"
                                                target="_blank">van der Lans, Anouk A J J et al.
                                                “Cold acclimation recruits human brown fat and increases nonshivering
                                                thermogenesis.” The
                                                Journal of clinical investigation vol. 123,8 (2013): 3395-403.</a></li>

                        </ul>
                </div>
        </article>
</section>
{% endblock %}