{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Яркость освещения: обсуждение | Адам Леос" />
{% endblock %}
{% block title %} Яркость освещения: обсуждение | Адам Леос {% endblock %}
{% block header_style %}header--secondary{% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/sleep.html"><span>Сон</span></a>
            <div class="post__delimiter"></div>
          </span>
          Яркость освещения: обсуждение
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/light-brightness-discussion.jpg') }}" alt="light-brightness-discussion">
          </div>
          <p class="post__text">
            О том, как работает сон и на что он влияет, мы поговорили. Пора
            обсудить что же влияет на сам сон. Мы поверхностно многие аспекты
            уже задевали, но давайте теперь пройдемся по всему более подробно.
            Первым мы обсудим освещение, о котором очень много информации. И
            чтобы не перегружать вас, освещение мы разобьем на несколько постов.
            Сегодня поговорим об уровне освещения.
          </p>
          <p class="post__text">
            Как мы уже выяснили, самым лучшим для человека будет естественный
            двадцатичетырёхчасовой солнечный цикл. Мы эволюционировали
            просыпаться с восходом солнца, быть на пике бодрости в течении дня,
            и отходить ко сну с закатом солнца. И на этой постоянной плавной
            смене цикла у нас завязаны многие процессы организма.
          </p>
          <p class="post__text">
            В разрезе уровня освещения это проявляется очевидным образом: днем
            светло, ночью - нет. Важно, что изменения эти постоянные И
            постепенные. Были. Ведь современный человек проводит практически все
            время внутри помещений, преимущественно дома или в офисе. Насколько
            это значительная проблема, ведь дома у нас тоже есть окна и свет?
            Весьма значительная.
          </p>
          <p class="post__text">
            Давайте посмотрим на разницу уровня освещения. Для этого быстро
            вспомним, что единицей измерения освещенности является люкс (lux). И
            дома у каждого из нас будет в среднем 200 люкс (+- 100). Это днем, с
            включенным светом и окном в комнате. А что же теперь происходит на
            улице днем? В среднем, всего 20 ТЫСЯЧ люкс в солнечный день (+-
            4000). Это яркость освещения окружения, не самого солнца. У солнца
            будет более ста тысяч люкс (на всякий случай, на солнце смотреть не
            надо). Итого, разница более чем в сто раз! [<a href="#sources-list">1</a>]
          </p>
          <p class="post__text">
            И вы же помните о плавности изменений? Все эти тысячи люкс на улице
            динамически растут и падают в течении суток. В то время как дома у
            нас практически стабильный уровень яркости. Это сильно нарушает наши
            циркадные ритмы, ведь мы не получаем корректные сигналы из
            окружающего мира. Организм не может корректно проснуться и запустить
            процессы и внутренние часы, ведь привычного утреннего яркого сигнала
            не поступает [<a href="#sources-list">2</a>]. В течении дня работа
            процессов нарушается, но еще хуже вечером, т.к. не происходит
            правильной подготовки ко сну. А как вы помните, это повлияет на
            множество вещей, включая эффективность вашего мозга и иммунитета.
          </p>
          <p class="post__text">
            Но погодите, о вечере мы не закончили. Ведь как только за окном
            темнеет, мы включаем свет. Это совсем дезориентирует и без того
            сбитый с толку организм [<a href="#sources-list">3</a>]. А
            дополнительно вспомним о гаджетах, вечернее использование которых
            сильно ассоциировано с нарушением сна и дневной сонливостью [<a href="#sources-list">4</a>]. В общем, искусственное освещение по вечерам - плохо, это понятно
            уже всем [<a href="#sources-list">5</a>]. Давайте перейдем к
            практическим советам.
          </p>

          <div class="post__continue continue">
            <a href="/posts/smart-sleep.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Сон</span>
                <span class="continue__heading">Умный сон</span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="/posts/light-brightness-recommendations.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Сон</span>
                <span class="continue__heading">
                  Яркость освещения: рекомендации
                </span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6656201/" target="_blank">Lanca, Carla et al. “The Effects of Different Outdoor
                  Environments, Sunglasses and Hats on Light Levels:
                  Implications for Myopia Prevention.”
                  <i>Translational vision science & technology</i> vol. 8,4 7.
                  18 Jul. 2019.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a class="sources__link" href="http://sci-hub.st/10.1177/0748730418784041" target="_blank">Souman, Jan L et al. "Spectral Tuning of White Light Allows
                  for Strong Reduction in Melatonin Suppression without Changing
                  Illumination Level or Color Temperature".
                  <i>Journal of biological rhythms</i> vol. 33, 4. 2018 Aug.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC515180/" target="_blank">Harada, Tetsuo. “Effects of evening light conditions on
                  salivary melatonin of Japanese junior high school students.”
                  <i>Journal of circadian rhythms</i> vol. 2,1 4. 11 Aug.
                  2004.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5380441/" target="_blank">Carter, Ben et al. “Association Between Portable Screen-Based
                  Media Device Access or Use and Sleep Outcomes: A Systematic
                  Review and Meta-analysis.” <i>JAMA pediatrics</i> vol. 170,12
                  (2016): 1202-1208.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3047226/" target="_blank">Gooley, Joshua J et al. “Exposure to room light before
                  bedtime suppresses melatonin onset and shortens melatonin
                  duration in humans.”
                  <i>The Journal of clinical endocrinology and metabolism</i>
                  vol. 96,3 (2011): E463-72.</a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    {% endblock %}