{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Яркость освещения: рекомендации | Адам Леос" />
{% endblock %}
{% block title %} Яркость освещения: рекомендации | Адам Леос {% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/sleep.html"><span>Сон</span></a>
            <div class="post__delimiter"></div>
          </span>
          Яркость освещения: рекомендации
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/light-brightness-discussion.jpg') }}" alt="light-brightness-recommendations">
          </div>
          <p class="post__text">
            Как вы поняли, нам необходимо максимизировать правильные сигналы
            организму в течении дня (и минимизировать неправильные). Прежде
            всего, постарайтесь избавиться от искусственного освещения по
            вечерам. Подготавливайтесь ко сну заранее. Как показывают данные,
            два часа перед сном без искусственного освещения значительно улучшат
            сон [<a href="#sources-list">1</a>]. Попробуйте выделить хотя бы
            один час. Если переживаете что нечем заняться - то могу
            рекомендовать прогулки, аудиокниги и подкасты, общение с близкими и
            медитацию.
          </p>
          <p class="post__text">
            Если же совсем никак без света, то попробуйте хотя бы его
            минимизировать и сделать максимально приглушенным. Сильно помогут
            “умные” лампочки, где можно менять яркость по расписанию. И спать,
            конечно же, надо в темноте. Если на улице яркие фонари - закрывайте
            шторы. Даже небольшое количество света во время сна может негативно
            сказаться на его качестве [<a href="#sources-list">2</a>]. Еще
            хороший и простой вариант - использовать маску для сна.
          </p>
          <p class="post__text">
            Днем же максимально добавить света вокруг. Включайте свет повсюду,
            распахивайте окна. Помните, что его всегда мало в помещениях. И
            полностью, к сожалению, никакие лампочки на сегодняшний день не
            смогут заменить солнечный свет [<a href="#sources-list">3</a>].
            Поэтому, самая лучшая рекомендация вообще - чаще бывать на улице.
          </p>
          <p class="post__text">
            Ценнейшее время - с самого утра, после пробуждения. Это поможет
            организму правильно проснуться и запустить процессы [<a href="#sources-list">4</a>]. Еще лучше, если сможете погулять на закате, что позволит собрать
            еще больше данных вашим организмом и начать правильное приготовление
            ко сну. Идеально, если можете добавить еще и дневные прогулки,
            например - после обеда. В общем, просто старайтесь бывать больше на
            улице, под открытым небом.
          </p>
          <p class="post__text">
            Причем, даже если это пасмурный день, на улице все еще будет от
            одной до трех тысяч люкс. Что в десяток раз выше, чем в помещениях.
            Так что идите гулять. И на всякий случай, солнцезащитные очки лучше
            не носить, если только вас не вынуждают их использовать проблемы со
            здоровьем. Потому что они снижают яркость многократно, и в итоге вы
            недополучаете пользу от прогулки [<a href="#sources-list">5</a>].
          </p>
          <p class="post__text">
            А если у вас появилось желание поставить дома промышленный
            прожектор, светящий вам в лицо, чтобы компенсировать яркость -
            погодите. Нам еще надо обсудить тип света. Чем мы и займемся в
            следующем посте.
          </p>

          <div class="post__continue continue">
            <a href="/posts/light-brightness-discussion.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Сон</span>
                <span class="continue__heading">
                  Яркость освещения: обсуждение</span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="/posts/visible-light-spectrum-natural.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Сон</span>
                <span class="continue__heading">
                  Спектр видимого света: естественное освещение
                </span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a class="sources__link" href="https://journals.physiology.org/doi/full/10.1152/ajpregu.00478.2005" target="_blank">Münch, Mirjam et al. “Wavelength-dependent effects of evening
                  light exposure on sleep architecture and sleep EEG power
                  density in men.” American journal of physiology. Regulatory,
                  integrative and comparative physiology vol. 290,5 (2006):
                  R1421-8.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5976009/" target="_blank">Cho, Chul-Hyun et al. “Impact of Exposure to Dim Light at
                  Night on Sleep in Female and Comparison with Male Subjects.”
                  <i>Psychiatry investigation</i> vol. 15,5 (2018): 520-530.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4031400/" target="_blank">Boubekri, Mohamed et al. “Impact of windows and daylight
                  exposure on overall health and sleep quality of office
                  workers: a case-control pilot study.”
                  <i>Journal of clinical sleep medicine : JCSM : official
                    publication of the American Academy of Sleep Medicine</i>
                  vol. 10,6 603-11. 15 Jun. 2014.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a class="sources__link" href="https://onlinelibrary.wiley.com/doi/full/10.1046/j.1440-1819.1999.00486.x" target="_blank">Kobayashi, R et al. “Effects of morning bright light on sleep
                  in healthy elderly women.” Psychiatry and clinical
                  neurosciences vol. 53,2 (1999): 237-8.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6656201/" target="_blank">Lanca, Carla et al. “The Effects of Different Outdoor
                  Environments, Sunglasses and Hats on Light Levels:
                  Implications for Myopia Prevention.”
                  <i>Translational vision science & technology</i> vol. 8,4 7.
                  18 Jul. 2019.</a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    {% endblock %}