{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Мелатонин aka Гормон Сна | Адам Леос" />
{% endblock %}
{% block title %} Мелатонин aka Гормон Сна | Адам Леос {% endblock %}
{% block header_style %}header--secondary{% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/sleep.html"><span>Сон</span></a>
            <div class="post__delimiter"></div>
          </span>
          Мелатонин aka Гормон Сна
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/melatonin-aka-sleep-hormone.jpg') }}" alt="melatonin-aka-sleep-hormone">
          </div>
          <p class="post__text">
            Вместо одного большого поста про гормоны, я сделаю три поменьше, о
            каждом из важных гормонов для сна отдельно. Надеюсь, так будет проще
            читать и усваивать. Заодно это позволило добавить немного больше
            информации о каждом из них. Делитесь своим мнением в комментариях.
          </p>
          <p class="post__text">
            Мелатонин. Также известный многим как “гормон сна”. Что, отчасти,
            правда - он помогает с регуляцией циркадных циклов, которые, как мы
            уже знаем, важная составляющая сна [<a href="#sources-list">1</a>].
            Именно от работы мелатонина зависят изменения на протяжении суток в
            функционировании многих процессов, среди которых кровяное давление и
            иммунная система [<a href="#sources-list">2</a>]. Но как и со всеми
            гормонами, он выполняет множество ролей, даже выступает как
            антиоксидант [<a href="#sources-list">3</a>].
          </p>
          <p class="post__text">
            А вот что самое интересное - выработка мелатонина зависит от
            освещения, ведь это один из самых простых способов для организма
            понять что сейчас за время суток [<a href="#sources-list">4</a>].
            Поэтому яркий свет блокирует его производство - ведь это явный
            сигнал, что сейчас день и надо бодрствовать. А к вечеру, когда
            солнце садится и освещения все меньше, мелатонина начинает
            вырабатываться все больше. К слову, видимый свет с более короткой
            длиной волны блокирует мелатонин эффективнее (синий, холодный свет
            блокирует больше, чем желтый или красный) [<a href="#sources-list">5</a>]. Дополнительно, не забывайте, что белый свет это комбинация всех
            цветов видимого спектра, равно как и солнечный свет (да, солнце не
            желтое), поэтому и блокирует выработку мелатонина тоже значительно.
            Что будет хорошо днем, но очень плохо ночью [<a href="#sources-list">6</a>].
          </p>
          <p class="post__text">
            Я могу рекомендовать любые «умные лампочки», которые позволяют
            регулировать цвет и яркость по расписанию. В идеале настроить
            плавное включение с утра, до подъема, с постепенным увеличением
            яркости и смещением с теплого в белый. Это поможет организму плавно
            проснуться естественным образом. К вечеру же пускай тускнеют и
            смещаются вначале в желтый, а затем красный, пока медленно не
            погаснут (ДО сна). К освещению мы ещё вернёмся в гигиене сна.
          </p>
          <p class="post__text">
            Последний интересный факт. Знаете, как шишковидное тело, в котором
            синтезируется мелатонин, определяет время суток? Верно, получая
            сигналы от знакомого нам по последнему посту супрахиазматичекого
            ядра [<a href="#sources-list">7</a>]. Надеюсь, теперь у вас, как и у
            меня в свое время, сложился пазл о связи мелатонина, освещения и
            сна.
          </p>
          <p class="post__text">
            Напоследок, добавки мелатонина действительно могут помочь
            стабилизировать нарушенные циклы сна, например после длительного
            перелёта в новый часовой пояс. Но на постоянной основе, для
            «улучшения сна», принимать настоятельно не рекомендую. Ваш организм
            (за редким исключением сложных болезней) должен производить его
            достаточно самостоятельно. Закидывая внезапные для организма дозы
            мелатонина, вы можете нарушить ряд процессов - начиная с его
            производства и чувствительности рецепторов, вплоть до взаимодействия
            с другими гормонами и процессами. Если вы не можете спать без приема
            мелатонина - обратитесь к доктору. Также напоминаю, что мелатонин
            считается добавкой, а не медикаментом. И соотвественно паршиво
            регулируется, так что покупайте с осторожностью.
          </p>

          <div class="post__continue continue">
            <a href="/posts/circadiam-rhytms-and-scn.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Сон</span>
                <span class="continue__heading">Циркадные ритмы и Супрахиазматическое ядро</span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="/posts/adenosine-and-how-it-bullied-by-caffeine.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Сон</span>
                <span class="continue__heading">
                  Аденозин (и как его притесняет кофеин)</span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a class="sources__link" href="https://sci-hub.se/10.1016/j.smrv.2004.06.004" target="_blank">Brzezinski, Amnon et al. “Effects of exogenous melatonin on
                  sleep: a meta-analysis.” Sleep medicine reviews vol. 9,1
                  (2005): 41-50.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a class="sources__link" href="https://sci-hub.se/10.1111/j.1742-1241.2006.01191.x" target="_blank">Altun, A et al. "Melatonin: therapeutic and clinical
                  utilization".
                  <i>International journal of clinical practice</i> vol. 61, 5.
                  2007 May.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a class="sources__link" href="https://sci-hub.se/10.1385/endo:27:2:119" target="_blank">Hardeland, Rüdiger et al. "Antioxidative protection by
                  melatonin: multiplicity of mechanisms from radical
                  detoxification to radical avoidance". <i>Endocrine</i> vol.
                  27, 2. 2005 Jul.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a class="sources__link" href="https://sci-hub.se/10.1111/j.1742-1241.2006.01191.x" target="_blank">Altun, A et al. "Melatonin: therapeutic and clinical
                  utilization".
                  <i>International journal of clinical practice</i> vol. 61, 5.
                  2007 May.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a class="sources__link" href="http://sci-hub.st/10.1210/jc.2004-0957" target="_blank">Cajochen, Christian et al. "High sensitivity of human
                  melatonin, alertness, thermoregulation, and heart rate to
                  short wavelength light".
                  <i>The Journal of clinical endocrinology and metabolism</i>
                  vol. 90, 3. 2005 Mar.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6646716/" target="_blank">Arendt, Josephine. “Melatonin: Countering Chaotic Time Cues.”
                  <i>Frontiers in endocrinology</i> vol. 10 391. 16 Jul.
                  2019.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a class="sources__link" href="https://sci-hub.se/https://doi.org/10.1016/S0024-3205(03)00098-5" target="_blank">Witt-Enderby, Paula A et al. "Melatonin receptors and their
                  regulation: biochemical and structural mechanisms".
                  <i>Life sciences</i> vol. 72, 20. 04/04/2003.</a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    {% endblock %}