{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Метаболическая гибкость | Адам Леос" />
{% endblock %}
{% block title %} Метаболическая гибкость | Адам Леос {% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/fasting.html"><span>Голодание</span></a>
            <div class="post__delimiter"></div>
          </span>
          Метаболическая гибкость
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/metabolic-flexibility.png') }}" alt="metabolic-flexibility">
          </div>
          <p class="post__text">
            Продолжим изучать процессы, связанные с голоданием и приносящие нам
            полезные эффекты. Наконец-то мы добрались до метаболической гибкости
            - ключевому механизму метаболизма энергии [<a href="#sources-list">1</a>]. Если кратко, то эта гибкость обозначает способность организма
            периодически переключаться на альтернативные источники энергии (по
            необходимости) [<a href="#sources-list">2</a>].
          </p>
          <p class="post__text">
            Механизм этот очень распространенный и очень базовый. В том или ином
            виде, аналогичные подходы можно обнаружить даже у простейших
            организмов, существующих миллиарды лет. Это позволяло им
            адаптироваться в различных условиях и успешно выживать [<a href="#sources-list">3</a>].
          </p>
          <p class="post__text">
            У человека же основой данной гибкости является возможность организма
            переключаться с глюкозы на жиры (и обратно) [<a href="#sources-list">4</a>]. И как вы помните из поста о жире, в нем мы храним довольно много
            энергии, которую организм может эффективно использовать [<a href="#sources-list">5</a>].
          </p>
          <p class="post__text">
            Но в сегодняшнем посте, я хотел бы выделить один очень важный
            момент: метаболическая гибкость - это не просто процесс “на всякий
            пожарный”, но обязательная составляющая здоровой жизни [<a href="#sources-list">6</a>]. Мы хотим периодически переключаться на альтернативный источник
            энергии и тренировать метаболическую гибкость [<a href="#sources-list">7</a>].
          </p>
          <p class="post__text">
            Отчасти, эта идея уже упоминалась в предыдущем посте о перегрузке
            митохондрий. Ведь смена основного источника энергии положительно
            сказывается на эффективности и здоровьи органелл [<a href="#sources-list">8</a>]. А вот отсутствие напротив, приводит к негативным последствиям
            [<a href="#sources-list">9</a>]. Но на митохондриях, конечно же,
            эффекты не ограничивается.
          </p>
          <p class="post__text">
            Например, если переключение на жиры будет отсутствовать, это
            приведет к нарушениям по типу инсулиновой резистентности [<a href="#sources-list">10</a>] или воспалению организма [<a href="#sources-list">11</a>].
            Вообще, даже существует заметная ассоциация с повышенной смертностью
            от всех причин [<a href="#sources-list">12, 13</a>].
          </p>
          <p class="post__text">
            Хуже, когда у человека присутствуют определенные расстройства,
            ухудшающие данную ситуацию [<a href="#sources-list">14</a>].
            Например, большой проблемой может быть повышенные уровни инсулина
            [<a href="#sources-list">15</a>]. Ведь данный гормон блокирует
            фермент под названием “гормон-чувствительная липаза”, чья основная
            функция - это мобилизация жира [<a href="#sources-list">16</a>].
            Иными словами, высокий уровень инсулина не позволяет нам
            использовать жировые запасы в качестве энергии.
          </p>
          <p class="post__text">
            Это обязательно следует иметь в виду, если вы планируете голодать.
            Но мы снова забегаем вперед, ведь я планирую отдельный пост о рисках
            и нюансах голодания.
          </p>

          <div class="post__continue continue">
            <a href="/posts/mitochondria-overload.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Голодание</span>
                <span class="continue__heading">Перегрузка митохондрий</span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="/posts/mtor-to-grow-or-to-survive.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Голодание</span>
                <span class="continue__heading">мТОР: расти или выживать</span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6093334" target="_blank">
                  Smith, Reuben L et al. “Metabolic Flexibility as an Adaptation
                  to Energy Resources and Requirements in Health and Disease.”
                  Endocrine reviews vol. 39,4 (2018): 489-517.
                  doi:10.1210/er.2017-00211</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a class="sources__link" href="https://www.cell.com/cell-metabolism/fulltext/S1550-4131(17)30220-6" target="_blank">
                  Goodpaster, Bret H, and Lauren M Sparks. “Metabolic
                  Flexibility in Health and Disease.” Cell metabolism vol. 25,5
                  (2017): 1027-1036.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a class="sources__link" href="https://www.cell.com/cell/fulltext/S0092-8674(16)30981-3" target="_blank">
                  López-Otín, Carlos et al. “Metabolic Control of Longevity.”
                  Cell vol. 166,4 (2016): 802-821.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a class="sources__link" href="https://sci-hub.se/https://pubmed.ncbi.nlm.nih.gov/10905472/" target="_blank">Kelley, D E, and L J Mandarino. “Fuel selection in human
                  skeletal muscle in insulin resistance: a reexamination.”
                  Diabetes vol. 49,5 (2000): 677-83.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3428766/" target="_blank">Sarjeant, Kelesha, and Jacqueline M Stephens. “Adipogenesis.”
                  Cold Spring Harbor perspectives in biology vol. 4,9 a008417. 1
                  Sep. 2012.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a class="sources__link" href="https://sci-hub.se/https://pubmed.ncbi.nlm.nih.gov/10095997/" target="_blank">Randle, P J. “Regulatory interactions between lipids and
                  carbohydrates: the glucose fatty acid cycle after 35 years.”
                  Diabetes/metabolism reviews vol. 14,4 (1998): 263-83.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6093334/" target="_blank">Smith, Reuben L et al. “Metabolic Flexibility as an
                  Adaptation to Energy Resources and Requirements in Health and
                  Disease.” Endocrine reviews vol. 39,4 (2018): 489-517.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[8]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3348508" target="_blank">Muoio, Deborah M, and P Darrell Neufer. “Lipid-induced
                  mitochondrial stress and insulin action in muscle.” Cell
                  metabolism vol. 15,5 (2012): 595-605.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[9]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4765362/" target="_blank">Muoio, Deborah M. “Metabolic inflexibility: when
                  mitochondrial indecision leads to metabolic gridlock.” Cell
                  vol. 159,6 (2014): 1253-62.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[10]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5872768/" target="_blank">Lepretti, Marilena et al. “Omega-3 Fatty Acids and Insulin
                  Resistance: Focus on the Regulation of Mitochondria and
                  Endoplasmic Reticulum Stress.” Nutrients vol. 10,3 350. 14
                  Mar. 2018.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[11]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2814543/" target="_blank">Hotamisligil, Gökhan S, and Ebru Erbay. “Nutrient sensing and
                  inflammation in metabolic diseases.” Nature reviews.
                  Immunology vol. 8,12 (2008): 923-34.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[12]</span>
                <a class="sources__link" href="https://moscow.sci-hub.st/5196/e88f8bb86eec55360c328323da0fe4ea/storlien2004.pdf" target="_blank">Storlien, Len et al. “Metabolic flexibility.” The Proceedings
                  of the Nutrition Society vol. 63,2 (2004): 363-8.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[13]</span>
                <a class="sources__link" href="https://pubmed.ncbi.nlm.nih.gov/17563336" target="_blank">Guize, Louis et al. “All-cause mortality associated with
                  specific combinations of the metabolic syndrome according to
                  recent definitions.” Diabetes care vol. 30,9 (2007):
                  2381-7.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[14]</span>
                <a class="sources__link" href="https://www.cell.com/cell-metabolism/fulltext/S1550-4131(17)30220-6" target="_blank">
                  Goodpaster, Bret H, and Lauren M Sparks. “Metabolic
                  Flexibility in Health and Disease.” Cell metabolism vol. 25,5
                  (2017): 1027-1036.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[15]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2584808" target="_blank">Galgani, Jose E et al. “Metabolic flexibility and insulin
                  resistance.” American journal of physiology. Endocrinology and
                  metabolism vol. 295,5 (2008): E1009-17.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[16]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7538104" target="_blank">Arredondo-Amador, María et al. “Circadian Rhythms in
                  Hormone-sensitive Lipase in Human Adipose Tissue: Relationship
                  to Meal Timing and Fasting Duration.” The Journal of clinical
                  endocrinology and metabolism vol. 105,12 (2020):
                  e4407–e4416.</a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    {% endblock %}