{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Микрофлора в общих словах | Адам Леос" />
{% endblock %}
{% block title %} Микрофлора в общих словах | Адам Леос {% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/microbiome.html"><span>Микрофлора</span></a>
            <div class="post__delimiter"></div>
          </span>
          Микрофлора в общих словах
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/microbiome-in-general.jpg') }}" alt="microbiome-in-general">
          </div>
          <p class="post__text">
            Я хочу сразу задать тон канала и сделать первый пост информативным и
            полезным. Несмотря на то, что все соц. сети играют лишь
            вспомогательную роль для основного YouTube канала, здесь можно
            раскрывать темы более точечно и более подробно.
          </p>
          <p class="post__text">
            Я буду писать посты сопровождающие, дополняющие, или раскрывающие
            лучше мои ролики. Заодно обсуждать материал, который я долго собираю
            для создания полноценного выпуска на какую-то тему. А для желающих
            еще глубже разобраться в теме, проверяйте ссылки на исследования.
            Так как фейсбук не умеет создавать ссылки в тексте, то все ссылки
            будут в конце постов, а среди текста лишь нумерация, в квадратных
            скобках - [].
          </p>
          <p class="post__text">
            Первый ролик на канале был о большой и важной теме - Микрофлоре с
            фокусом на Микрофлору кишечника. Так что давайте сейчас разберем что
            это и почему об этом был первый ролик (большая честь!).
          </p>
          <p class="post__text">
            Дело в том, что снаружи в внутри нас находятся триллионы
            микроорганизмов, таких как бактерии, грибки, археи и много чего еще
            [<a href="#sources-list">1</a>]. Если быть более точным, микрофлора
            человека насчитывает от 30 до 40 триллионов бактерий - на коже,
            слизистых, половых органах, во рту, легких, плаценте и т.д. [<a href="#sources-list">2</a>]. В общем повсюду! Но основная их масса все же сосредоточена в
            нашем кишечнике [<a href="#sources-list">3</a>]. О том, как это
            вышло и почему это не просто нормально, а даже хорошо - в будущих
            постах. А сейчас давайте посмотрим, почему это важно.
          </p>
          <p class="post__text">
            Прежде всего, ура сотням исследований и тысячам человекочасов
            ученых, направленных на изучение этой темы. Благодаря этому мы
            узнали о сильной связи микрофлоры со здоровьем человека. Например,
            проблемы с сердцем [<a href="#sources-list">4</a>], сосудами [<a href="#sources-list">5</a>], почками [<a href="#sources-list">6</a>], щитовидной железой [<a href="#sources-list">7</a>]...
          </p>
          <p class="post__text">
            Но это только разогрев. Ожирение [<a href="#sources-list">8</a>],
            диарея [<a href="#sources-list">9</a>], стресс [<a href="#sources-list">10</a>], аутизм [<a href="#sources-list">11</a>], астма [<a href="#sources-list">12</a>], рак [<a href="#sources-list">13, 14, 15</a>], шизофрения [<a href="#sources-list">16</a>], язвенный колит [<a href="#sources-list">17</a>], ревматоидный
            артрит [<a href="#sources-list">18</a>], диабет 1го типа [<a href="#sources-list">19</a>], псориаз [<a href="#sources-list">20</a>], беспокойство и тревога
            [<a href="#sources-list">21</a>], рассеянный склероз [<a href="#sources-list">22</a>] и много-много чего еще.
          </p>
          <p class="post__text">
            Как и почему мы также разберем отдельно, я лишь хотел бы добавить,
            что это не должно никого омрачнять, якобы "какие-то там микробы
            ухудшают наше здоровье!" - это не так.
          </p>
          <p class="post__text">
            Мы эволюционировали совместно с ними много-много лет и на самом деле
            существуем в симбиозе [<a href="#sources-list">3</a>]. Микрофлора
            играет важную роль в большинстве процессов нашего организма, а в
            особенности в метаболизме и иммунитете [<a href="#sources-list">23</a>]. Также помогает нам получать некоторые витамины [<a href="#sources-list">24</a>], гормоны [<a href="#sources-list">25, 26</a>] и жирные кислоты
            [<a href="#sources-list">27</a>].
          </p>
          <p class="post__text">
            На самом деле, полезных свойств у микрофлоры в избытке. Но об этом
            поговорим в следующий раз. Также как и о том, что пошло не так у
            современного человека с микроорганизмами и отчего так много
            болезней. Спойлер - много чего, но еще один спойлер - все обратимо,
            причем очень легко.
          </p>

          <div class="post__continue continue">
            <span class="continue__button continue__button--unclickable">
            </span>
            <div class="continue__delimiter"></div>
            <a href="/posts/which-useful-compounds-microbiom-makes-for-us.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Микрофлора</span>
                <span class="continue__heading">КАКИЕ ПОЛЕЗНЫЕ (И КРИТИЧЕСКИ НЕОБХОДИМЫЕ) ВЕЩЕСТВА ПРОИЗВОДИТ
                  ДЛЯ НАС НАША МИКРОФЛОРА</span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a class="sources__link" href="http://sci-hub.st/10.1016/S0065-2164(10)72002-5" target="_blank">Marchesi, Julian R et al. "Prokaryotic and eukaryotic
                  diversity of the human gut".
                  <i>Advances in applied microbiology</i> vol. 72. 2010.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a class="sources__link" href="https://www.cell.com/cell/fulltext/S0092-8674(16)00053-2" target="_blank">Sender, Ron et al. “Are We Really Vastly Outnumbered?
                  Revisiting the Ratio of Bacterial to Host Cells in Humans.”
                  Cell vol. 164,3 (2016): 337-40.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a class="sources__link" href="https://academic.oup.com/nutritionreviews/article/70/suppl_1/S38/1921538" target="_blank">Ursell, Luke K et al. “Defining the human microbiome.”
                  Nutrition reviews vol. 70 Suppl 1,Suppl 1 (2012): S38-44.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5542738/" target="_blank">Mark Luedde, Mark et al. “Heart failure is associated with
                  depletion of core intestinal microbiota.” ESC heart failure
                  vol. 4,3 (2017): 282-290.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6030944/" target="_blank">Cristina Menni, Cristina et al. “Gut microbial diversity is
                  associated with lower arterial stiffness in women.” European
                  heart journal vol. 39,25 (2018): 2390-2397.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5431124/" target="_blank">Kai-Yu Xu, Kai-Yu et al. “Impaired renal function and
                  dysbiosis of gut microbiota contribute to increased
                  trimethylamine-N-oxide in chronic kidney disease patients.”
                  Scientific reports vol. 7,1 1445. 3 May. 2017.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a class="sources__link" href="https://www.cell.com/trends/endocrinology-metabolism/fulltext/S1043-2760(19)30107-9" target="_blank">Eleonore, Fröhlich, Eleonore, and Richard Wahl. “Microbiota
                  and Thyroid Interaction in Health and Disease.” Trends in
                  endocrinology and metabolism: TEM vol. 30,8 (2019):
                  479-490.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[8]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2677729/" target="_blank">Peter Turnbaugh, Peter J et al. “A core gut microbiome in
                  obese and lean twins.” Nature vol. 457,7228 (2009): 480-4.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[9]</span>
                <a class="sources__link" href="https://academic.oup.com/jid/article/197/3/435/2908675" target="_blank">J. Chang, J. Y. et al. “Decreased Diversity of the Fecal
                  Microbiome in Recurrent Clostridium difficile—Associated
                  Diarrhea.” The Journal of Infectious Diseases, 197(3),
                  435–438. 2008.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[10]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4214655/" target="_blank">Palma, De Palma, Giada et al. “The microbiota-gut-brain axis
                  in gastrointestinal disorders: stressed bugs, stressed brain
                  or both?.” The Journal of physiology vol. 592,14 (2014):
                  2989-97.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[11]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7146354/" target="_blank">Lucía Iglesias-Vázquez, Lucía et al. “Composition of Gut
                  Microbiota in Children with Autism Spectrum Disorder: A
                  Systematic Review and Meta-Analysis.” Nutrients vol. 12,3 792.
                  17 Mar. 2020.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[12]</span>
                <a class="sources__link" href="https://onlinelibrary.wiley.com/doi/abs/10.1111/j.1365-2222.2007.02780.x" target="_blank">Thavagnanam, S et al. “A meta-analysis of the association
                  between Caesarean section and childhood asthma.” Clinical and
                  experimental allergy : journal of the British Society for
                  Allergy and Clinical Immunology vol. 38,4 (2008): 629-33.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[13]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6080540/" target="_blank">Zhu, Jia et al. “Breast cancer in postmenopausal women is
                  associated with an altered gut metagenome.”
                  <i>Microbiome</i> vol. 6,1 136. 6 Aug. 2018.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[14]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4807824/" target="_blank">Rashmi Sinha, Rashmi et al. “Fecal Microbiota, Fecal
                  Metabolome, and Colorectal Cancer Interrelations.” PloS one
                  vol. 11,3 e0152126. 25 Mar. 2016.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[15]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6716160/" target="_blank">Michael Liss, Michael A et al. “Metabolic Biosynthesis
                  Pathways Identified from Fecal Microbiome Associated with
                  Prostate Cancer.” European urology vol. 74,5 (2018):
                  575-582.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[16]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6365110/" target="_blank">Peng Zheng, Peng et al. “The gut microbiome from patients
                  with schizophrenia modulates the glutamate-glutamine-GABA
                  cycle and schizophrenia-relevant behaviors in mice.” Science
                  advances vol. 5,2 eaau8317. 6 Feb. 2019.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[17]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4905678/" target="_blank">Yanqiang Shi, Yanqiang et al. “Fecal Microbiota
                  Transplantation for Ulcerative Colitis: A Systematic Review
                  and Meta-Analysis.” PloS one vol. 11,6 e0157259. 13 Jun.
                  2016.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[18]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6937407/" target="_blank">Toshihiro Kishikawa, Toshihiro et al. “Metagenome-wide
                  association study of gut microbiome revealed novel aetiology
                  of rheumatoid arthritis in the Japanese population.” Annals of
                  the rheumatic diseases vol. 79,1 (2020): 103-111.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[19]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7474751/" target="_blank">He Zhou, He et al. “Gut Microbiota Profile in Patients with
                  Type 1 Diabetes Based on 16S rRNA Gene Sequencing: A
                  Systematic Review.” Disease markers vol. 2020 3936247. 27 Aug.
                  2020.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[20]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7350295/" target="_blank">Mariusz Sikora, Mariusz et al. “Gut Microbiome in Psoriasis:
                  An Updated Review.” Pathogens (Basel, Switzerland) vol. 9,6
                  463. 12 Jun. 2020.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[21]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3413724/" target="_blank">P Bercik, P et al. “The anxiolytic effect of Bifidobacterium
                  longum NCC3001 involves vagal pathways for gut-brain
                  communication.” Neurogastroenterology and motility : the
                  official journal of the European Gastrointestinal Motility
                  Society vol. 23,12 (2011): 1132-9.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[22]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6868771/" target="_blank">Mohammad Morshedi, Mohammad et al. “Immunomodulatory and
                  anti-inflammatory effects of probiotics in multiple sclerosis:
                  a systematic review.” Journal of neuroinflammation vol. 16,1
                  231. 21 Nov. 2019.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[23]</span>
                <a class="sources__link" href="https://www.nature.com/articles/nri.2016.42" target="_blank">Rooks, Michelle G, and Wendy S Garrett. “Gut microbiota,
                  metabolites and host immunity.” Nature reviews. Immunology
                  vol. 16,6 (2016): 341-52.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[24]</span>
                <a class="sources__link" href="https://sfamjournals.onlinelibrary.wiley.com/doi/full/10.1111/j.1365-2672.2011.05157.x" target="_blank">J LeBlanc, J G et al. “B-group vitamin production by lactic
                  acid bacteria - current knowledge and potential applications.”
                  Journal of applied microbiology vol. 111,6 (2011):
                  1297-309.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[25]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4393509/" target="_blank">Jessica Yano, Jessica M et al. “Indigenous bacteria from the
                  gut microbiota regulate host serotonin biosynthesis.” Cell
                  vol. 161,2 (2015): 264-76.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[26]</span>
                <a class="sources__link" href="https://journals.physiology.org/doi/full/10.1152/ajpgi.00341.2012" target="_blank">Yasunari Asano, Yasunari et al. “Critical role of gut
                  microbiota in the production of biologically active, free
                  catecholamines in the gut lumen of mice.” American journal of
                  physiology. Gastrointestinal and liver physiology vol. 303,11
                  (2012): G1288-95.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[27]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4425176/" target="_blank">Mayu Kasubuchi, Mayu et al. “Dietary gut microbial
                  metabolites, short-chain fatty acids, and host metabolic
                  regulation.” Nutrients vol. 7,4 2839-49. 14 Apr. 2015.</a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    {% endblock %}