{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Перегрузка митохондрий | Адам Леос" />
{% endblock %}
{% block title %} Перегрузка митохондрий | Адам Леос {% endblock %}
{% block header_style %}header--secondary{% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/fasting.html"><span>Голодание</span></a>
            <div class="post__delimiter"></div>
          </span>
          Перегрузка митохондрий
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/mitochondria-overload.png') }}" alt="mitochondria-overload">
          </div>
          <p class="post__text">
            Планировал сегодня написать о метаболической гибкости, но для этого
            необходимо немного обсудить такой феномен как “перегрузка
            митохондрий”. Механизмы эти крайне важные и тесно связанные, так что
            информация будет полезной и интересной.
          </p>
          <p class="post__text">
            Для начала, давайте быстро вспомним, что во всех клетках
            человеческого организма (исключая красные кровяные тельца),
            находятся митохондрии [<a href="#sources-list">1</a>]. Это
            критически важные для всего живого органеллы [<a href="#sources-list">2</a>]. Митохондрии играют ключевую роль в функционировании клетки,
            принимая участие во всем клеточном цикле - включая дифферинцировку,
            развитие, и смерть клетки [<a href="#sources-list">3</a>].
          </p>
          <p class="post__text">
            Но самой известной задачей этих органелл является производство
            энергии, путем окисления органических веществ [<a href="#sources-list">4</a>]. В частности, топливом может служить не только глюкоза, но также
            амино-кислоты и жирные кислоты [<a href="#sources-list">5</a>].
            Таким образом, митохондрия имеет довольно неплохой выбор в источнике
            для производства энергии [<a href="#sources-list">6</a>].
          </p>
          <p class="post__text">
            Но как бы вам не показалось логичным желание предоставить как можно
            больше разнообразного топлива митохондрии, не спешите! Дело в том,
            что эффективно митохондрии справляются лишь с одним типом топлива
            одновременно [<a href="#sources-list">7</a>]. В то время, как
            чрезмерное количество поступающих питательных веществ очень сильно
            нагружает органеллу и даже снижает эффективность производства
            энергии [<a href="#sources-list">8</a>]. Вот вам и перегрузка.
          </p>
          <p class="post__text">
            В долгосрочной перспективе, митохондрии в таких условиях и вовсе
            могут “поломаться” [<a href="#sources-list">9</a>]. Что может
            привести к целому ряду проблем - от диабета и хронической усталости,
            до рака и Альцгеймера [<a href="#sources-list">10</a>]. Само собой,
            хотелось бы этого избежать.
          </p>
          <p class="post__text">
            То, что не стоит переедать и необходимо нормально питаться, ясно и
            так всем. Но что улучшить еще и, самое главное, как это относится к
            теме голодания? Собственно, напрямую, ведь при голодании происходит
            переключение на жиры, как основной источник энергии [<a href="#sources-list">11</a>]. Это также сильно помогает митохондриям, так как в результате на
            них снижается нагрузка. Более того, это переключение даже необходимо
            для их здорового функционирования [<a href="#sources-list">12</a>].
          </p>
          <p class="post__text">
            Но мы уже забегаем в следующий пост! Так как мы плавно начинаем
            говорить о той самой метаболической гибкости, упомянутой в начале
            поста [<a href="#sources-list">13</a>]. Детали и нюансы которой мы
            обсудим уже завтра.
          </p>

          <div class="post__continue continue">
            <a href="/posts/fat-is-good.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Голодание</span>
                <span class="continue__heading">Жир - это хорошо</span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="/posts/metabolic-flexibility.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Голодание</span>
                <span class="continue__heading"> Метаболическая гибкость </span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5676242/" target="_blank">van der Bliek, Alexander M et al. “Cell Biology of the
                  Mitochondrion.” <i>Genetics</i> vol. 207,3 (2017): 843-871.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6678092/" target="_blank">Annesley, Sarah J, and Paul R Fisher. “Mitochondria in Health
                  and Disease.” Cells vol. 8,7 680. 5 Jul. 2019.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a class="sources__link" href="https://www.cell.com/current-biology/fulltext/S0960-9822(06)01781-7" target="_blank">
                  McBride, Heidi M et al. “Mitochondria: more than just a
                  powerhouse.” Current biology : CB vol. 16,14 (2006):
                  R551-60.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a class="sources__link" href="https://iubmb.onlinelibrary.wiley.com/doi/10.1002/iub.1138" target="_blank">
                  Mazat, Jean-Pierre et al. “Mitochondrial energetic
                  metabolism-some general principles.” IUBMB life vol. 65,3
                  (2013): 171-9.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3522244/" target="_blank">Newman, John C et al. “Mitochondrial protein acylation and
                  intermediary metabolism: regulation by sirtuins and
                  implications for metabolic disease.”
                  <i>The Journal of biological chemistry</i> vol. 287,51 (2012):
                  42436-43.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a class="sources__link" href="https://sci-hub.se/https://pubmed.ncbi.nlm.nih.gov/26754340/" target="_blank">
                  Wai, Timothy, and Thomas Langer. “Mitochondrial Dynamics and
                  Metabolic Regulation.” Trends in endocrinology and metabolism:
                  TEM vol. 27,2 (2016): 105-117.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a class="sources__link" href="https://www.sciencedirect.com/science/article/pii/S1550413107003063" target="_blank">Koves, Timothy R et al. “Mitochondrial overload and
                  incomplete fatty acid oxidation contribute to skeletal muscle
                  insulin resistance.” Cell metabolism vol. 7,1 (2008):
                  45-56.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[8]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4765362/" target="_blank">Muoio, Deborah M. “Metabolic inflexibility: when
                  mitochondrial indecision leads to metabolic gridlock.” Cell
                  vol. 159,6 (2014): 1253-62.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[9]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5215404/" target="_blank">Alston, Charlotte L et al. “The genetics and pathology of
                  mitochondrial disease.” The Journal of pathology vol. 241,2
                  (2017): 236-250.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[10]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6678092/" target="_blank">Annesley, Sarah J, and Paul R Fisher. “Mitochondria in Health
                  and Disease.” Cells vol. 8,7 680. 5 Jul. 2019.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[11]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6376873/" target="_blank">Alves-Bezerra, Michele, and David E Cohen. “Triglyceride
                  Metabolism in the Liver.” <i>Comprehensive Physiology</i> vol.
                  8,1 1-8. 12 Dec. 2017.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[12]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3348508/" target="_blank">Muoio, Deborah M, and P Darrell Neufer. “Lipid-induced
                  mitochondrial stress and insulin action in muscle.”
                  <i>Cell metabolism</i> vol. 15,5 (2012): 595-605.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[13]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6093334/" target="_blank">Smith, Reuben L et al. “Metabolic Flexibility as an
                  Adaptation to Energy Resources and Requirements in Health and
                  Disease.” Endocrine reviews vol. 39,4 (2018): 489-517.</a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    {% endblock %}