{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="мТОР: расти или выживать | Адам Леос" />
{% endblock %}
{% block title %} мТОР: расти или выживать | Адам Леос {% endblock %}
{% block header_style %}header--secondary{% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/fasting.html"><span>Голодание</span></a>
            <div class="post__delimiter"></div>
          </span>
          мТОР: расти или выживать
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/mtor-to-grow-or-to-survive.png') }}" alt="mtor-to-grow-or-to-survive">
          </div>
          <p class="post__text">
            Казалось бы, ну что еще может предложить периодическое голодание?
            Вечную молодость и бесконечную жизнь! Ну или типа того. Есть у нас
            интересная протеинкиназа под названием мТОР [<a href="#sources-list">1</a>]. Наверняка некоторые из вас слышали это модное словечко, которое
            постоянно фигурирует в разговорах об удлинении жизни. На русском
            вообще-то называется "механистичекая мишень связывания рапамицина".
            Но мы будем оперировать английской аббревиатурой мТОР для простоты.
          </p>
          <p class="post__text">
            Если вкратце, то мТОР, принимая ключевое участие в белковых
            комплексах, контролируют размножение и развитие клеток [<a href="#sources-list">2</a>]. То есть, рост всего организма буквально зависит от работы этих
            механизмов. И это еще важнее тем, что до открытия аналогичного
            механизма у дрожжей [<a href="#sources-list">3</a>], мы думали что
            клетки делятся спонтанно, как только у нас появляется достаточно
            питательных веществ в организме.
          </p>
          <p class="post__text">
            Но на самом деле это все сильно регулируется комплексным,
            высокоуровневым процессом [<a href="#sources-list">4</a>]. Процесс
            этот древний и фундаментальный, и присущ он всем эукариотам в том
            или ином виде. Включая растения, насекомых, и, конечно же, нас с
            вами [<a href="#sources-list">5</a>].
          </p>
          <p class="post__text">
            В будущем мы обязательно раскроем эти процессы глубже. А сегодня же
            нас это интересует тем, что пути мТОР активируются и подавляются в
            ответ на определенные вещи: например, стресс организма, факторы
            роста, или питательные вещества [<a href="#sources-list">6</a>]. То
            есть, покушав протеина или углеводов и получив таким образом
            аминокислоты и глюкозу, мы запустим каскад событий, активирующих
            режим роста и развития, и попутно подавляя режим “выживания”. Таким
            образом организм начинает активно синтезировать протеины, жиры и
            нуклеотиды, развивая клетки и создавая новые [<a href="#sources-list">7</a>].
          </p>
          <p class="post__text">
            В результате, организм растет. И это очень хорошо. Ведь так? Как
            всегда, всего хорошего в меру, и особенно это правда с нашим телом.
            Вышедший из-под контроля рост в нашем организме вообще является
            очень тяжелым заболеванием и именуется как “рак” [<a href="#sources-list">8</a>]. Само собой, есть очень много данных, указывающих, что постоянная
            стимуляция мТОР также поощряет развитие рака [<a href="#sources-list">9</a>]. А подавление мТОР напротив, не только сильно корелирует с
            сопротивлением раку, но даже повышает эффективность излечения от
            него [<a href="#sources-list">10</a>].
          </p>
          <p class="post__text">
            Дополнительно, постоянно активированный мТОР и постоянный рост
            приводит к быстрому изнашиванию организма, накоплению ошибок, и
            ускорению старения [<a href="#sources-list">11</a>]. Именно поэтому
            мы и хотим его периодической деактивации. Акцент на слове
            “периодической”, если кто-то вдруг решил “побиохакать” и никогда не
            активировать пути чтобы жить вечно, это будет плохой идеей. Так как
            организму жизненно необходимы периоды роста и развития [<a href="#sources-list">12</a>].
          </p>
          <p class="post__text">
            Но вот время от времени запускать режим “выживания” мы очень даже
            хотим. А для этого, как вы наверняка догадались, нам всего-то нужно
            временно ограничить поступающие питательные вещества и подвергнуть
            организм стрессу. Например, голоданию [<a href="#sources-list">13</a>].
          </p>
          <p class="post__text">
            Если вы вдруг еще не убеждены, я напомню о процессах
            самообслуживания, вступающих в полную силу только в условиях
            “выживания”. К примеру, активный мТОР блокирует один из важнейших
            механизмов, также ключевого для голодания - аутофагию [<a href="#sources-list">14</a>]. Но этот процесс мы уже обсуждали в другом посте.
          </p>
          <p class="post__text">
            А вот в последующих постах мы наконец-то начнем говорить о некоторых
            рисках голодания (да, будет несколько постов, надеюсь, что вы не
            против).
          </p>

          <div class="post__continue continue">
            <a href="/posts/metabolic-flexibility.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Голодание</span>
                <span class="continue__heading">Метаболическая гибкость</span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="/posts/fasting-nuances-i-deficiencies.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Голодание</span>
                <span class="continue__heading">Нюансы голодания. Часть I: Недостаток питательных веществ
                </span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a class="sources__link" href="http://sci-hub.se/10.1038/369756a0" target="_blank">Brown, E J et al. “A mammalian protein targeted by
                  G1-arresting rapamycin-receptor complex.” Nature vol. 369,6483
                  (1994): 756-8.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a class="sources__link" href="https://www.cell.com/cell/fulltext/S0092-8674(17)30182-4" target="_blank">
                  Saxton, Robert A, and David M Sabatini. “mTOR Signaling in
                  Growth, Metabolism, and Disease.” Cell vol. 168,6 (2017):
                  960-976.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a class="sources__link" href="http://sci-hub.st/10.1016/j.transproceed.2008.10.009" target="_blank">Hall, M N. “mTOR-what does it do?.” Transplantation
                  proceedings vol. 40,10 Suppl (2008): S5-8.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7072383/" target="_blank">Mirabilii, Simone et al. “mTOR Regulation of Metabolism in
                  Hematologic Malignancies.” Cells vol. 9,2 404. 11 Feb.
                  2020.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a class="sources__link" href="http://sci-hub.st/10.1016/j.transproceed.2008.10.009" target="_blank">Hall, M N. “mTOR-what does it do?.” Transplantation
                  proceedings vol. 40,10 Suppl (2008): S5-8.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6952948/" target="_blank">Magaway, Cedric et al. “Targeting mTOR and Metabolism in
                  Cancer: Lessons and Innovations.” Cells vol. 8,12 1584. 6 Dec.
                  2019.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a class="sources__link" href="https://www.cell.com/cell/fulltext/S0092-8674(05)01157-8" target="_blank">
                  Holz, Marina K et al. “mTOR and S6K1 mediate assembly of the
                  translation preinitiation complex through dynamic protein
                  interchange and ordered phosphorylation events.” Cell vol.
                  123,4 (2005): 569-80.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[8]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6030119/" target="_blank">van den Bulk, Jitske et al. “Cancer immunotherapy: broadening
                  the scope of targetable tumours.” <i>Open biology</i> vol. 8,6
                  (2018): 180037.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[9]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7601420/" target="_blank">Huang, Shile. “mTOR Signaling in Metabolism and Cancer.”
                  Cells vol. 9,10 2278. 13 Oct. 2020.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[10]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6612215/" target="_blank">Hua, Hui et al. “Targeting mTOR for cancer therapy.” Journal
                  of hematology & oncology vol. 12,1 71. 5 Jul. 2019.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[11]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6089343/" target="_blank">Weichhart, Thomas. “mTOR as Regulator of Lifespan, Aging, and
                  Cellular Senescence: A Mini-Review.” Gerontology vol. 64,2
                  (2018): 127-134.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[12]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3241408/" target="_blank">Loewith, Robbie, and Michael N Hall. “Target of rapamycin
                  (TOR) in nutrient signaling and growth control.” Genetics vol.
                  189,4 (2011): 1177-201.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[13]</span>
                <a class="sources__link" href="http://sci-hub.se/10.1038/nature09584" target="_blank">Sengupta, Shomit et al. “mTORC1 controls fasting-induced
                  ketogenesis and its modulation by ageing.” Nature vol.
                  468,7327 (2010): 1100-4.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[14]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3894687" target="_blank">Parzych, Katherine R, and Daniel J Klionsky. “An overview of
                  autophagy: morphology, mechanism, and regulation.”
                  Antioxidants & redox signaling vol. 20,3 (2014): 460-73.
                </a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    {% endblock %}