{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Ночная жизнь: рекомендации | Адам Леос" />
{% endblock %}
{% block title %} Ночная жизнь: рекомендации | Адам Леос {% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/sleep.html"><span>Сон</span></a>
            <div class="post__delimiter"></div>
          </span>
          Ночная жизнь: рекомендации
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/night-life-problems.jpg') }}" alt="night-life-recommendations">
          </div>
          <p class="post__text">
            В предыдущем посте мы быстро обсудили, что ночные работы приводят к
            проблемам и желательно как-то их решить.
          </p>
          <p class="post__text">
            Конечно же, в идеальном мире хорошим решением будет перестать
            работать по ночам. Но мы не живем в таком мире (по крайней мере
            пока) и я понимаю о существовании различных ситуаций и условий. Я в
            том числе когда-то работал ночные смены и как никто понимаю, как это
            сложно.
          </p>
          <p class="post__text">
            Так что давайте посмотрим, что делать в такой ситуации, если ваш
            график работы подразумевает полную ночную смену и свободное время
            днем. Прежде всего, вы теряете необходимые организму сигналы из
            внешнего мира, ведь напротив эволюционно дневному режиму, вы теперь
            бодрствуете ночью, а днем “отсыпаетесь”. Поэтому необходимо
            адаптировать все важные аспекты жизни и постараться привнести
            дневные стимулы ночью, а днем же напротив, постараться улучшить сон,
            применив все обсуждённые раннее техники [<a href="#sources-list">1</a>].
          </p>
          <p class="post__text">
            Пройдемся по основным и начнем, конечно же, с освещения. Днем
            постарайтесь минимизировать количество света, особенно до и во время
            сна. Зашторьте окна, используйте маску для сна. Если вынуждены
            внезапно выйти на улицу, хороший вариант использовать солнцезащитные
            очки [<a href="#sources-list">2</a>]. Ночью же напротив, включайте
            максимально свет. Пускай это и не заменит естественное освещение, но
            сильно поможет циркадным ритмам [<a href="#sources-list">3</a>].
          </p>
          <p class="post__text">
            Следом будет температурный режим, который является очень важным
            стимулом [<a href="#sources-list">4</a>]. Постарайтесь сделать
            температуру немного выше во время бодрствования и ниже во время сна.
            Все трюки по утеплению конечностей для улучшения сна или тёплая
            ванна перед сном также помогут [<a href="#sources-list">5</a>].
          </p>
          <p class="post__text">
            Очень важным моментом будет метаболизм. Вам необходимо
            зафиксировать, когда вы бодрствуете и кушать только в этот
            промежуток времени. Из-за сбитого режима и дезориентированного
            организма будет крайне высокое желание часто перекусывать и налегать
            на фастфуд. Но внутренние органы также имеют свои циркадные часы,
            которые также можно настроить, главное придерживаться графика [<a href="#sources-list">6</a>].
          </p>
          <p class="post__text">
            Физические нагрузки, общение с людьми, прогулки на природе и тому
            подобные критические аспекты здоровой жизни обязательно должны
            присутствовать [<a href="#sources-list">7</a>]. Просто зафиксируйте
            для себя, что у вас не “сбитый график”, а “перевернутый”. Что пускай
            и темно, но у вас сейчас “день” и вы делаете все, что люди обычно
            делают днем. Возможно для кого-то и прозвучит наивно, но я знаком с
            множеством людей, которые упускают эти важные моменты и в итоге
            имеют негативные последствия. А исправив их, качество жизни сильно
            улучшалось [<a href="#sources-list">8</a>].
          </p>
          <p class="post__text">
            Тоже самое касается и психологической составляющей. То, что вы спите
            в кровати днем, а не ночью, не делает это места доступным для
            развлечений и работы. Как и при дневном сне - спальня должна быть
            вашим “святилищем для сна” и только (ок, еще секса). Также лучше
            отключать телефон и просить родных вас не беспокоить. Это у них
            день, а вам надо поспать и отдохнуть [<a href="#sources-list">9</a>].
          </p>
          <p class="post__text">
            Отдельно должен упомянуть добавки. Прежде всего, никогда не стоит
            принимать ничего без понимания что и зачем вы это делаете.
            Обязательно сдайте анализы и посоветуйтесь с доктором по своей
            ситуации. Я лишь упомяну, что дефицит некоторых витаминов, особенно
            витамина Д (для синтеза которого необходим солнечный свет) [<a href="#sources-list">10</a>] - очень частый случай при ночном образе жизни [<a href="#sources-list">11</a>].
          </p>
          <p class="post__text">
            Дополнительно, краткосрочный прием мелатонина может значительно
            помочь улучшить сон и перестроить циркадные ритмы [<a href="#sources-list">12</a>]. А вот к снотворным следует прибегать только в критических
            случаях и только под надзором хорошего врача.
          </p>
          <p class="post__text">
            Конечно же, принимать дополнительные стимулирующие (типа кофе) или
            расслабляющие (типа алкоголя) вещества крайнее не рекомендуется. В
            вашей нервной системе и гормонах и так беспорядок. Например, влияние
            кофеина на важный гормон аденозин мы уже обсуждали. А про алкоголь
            поговорим уже в следующем посте [<a href="#sources-list">13</a>].
          </p>
          <p class="post__text">
            Сложнее, когда ночные смены периодические, в перемешку с дневными.
            Тогда правильно настроить организм практически невозможно [<a href="#sources-list">14</a>]. В любом случае, следует исходить из возможностей и постараться
            минимизировать вред, даже если его и нельзя исключить полностью.
            Главное это приоритизировать и относиться максимально серьезно.
          </p>

          <div class="post__continue continue">
            <a href="/posts/night-life-problems.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Сон</span>
                <span class="continue__heading">Ночная жизнь: проблемы</span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="/posts/sleep-under-alcohol.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Сон</span>
                <span class="continue__heading"> Сон под градусом </span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5505738/" target="_blank">Tsai, Shang-Ru, and Michael R Hamblin. “Biological effects
                  and medical applications of infrared radiation.”
                  <i>Journal of photochemistry and photobiology. B, Biology</i>
                  vol. 170 (2017): 197-207.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4928028/" target="_blank">Hoffmann, Gerd et al. “Heat for wounds - water-filtered
                  infrared-A (wIRA) for wound healing - a review.”
                  <i>German medical science : GMS e-journal</i> vol. 14 Doc08.
                  29 Jun. 2016.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a class="sources__link" href="https://www.sjweh.fi/show_abstract.php?abstract_id=2886" target="_blank">Pallesen, Ståle et al. “Measures to counteract the negative
                  effects of night work.” Scandinavian journal of work,
                  environment & health vol. 36,2 (2010): 109-20.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/pmid/31142495/" target="_blank">Razavi, Pedram et al. “Shift Work, Chronotype, and Melatonin
                  Rhythm in Nurses.” Cancer epidemiology, biomarkers &
                  prevention : a publication of the American Association for
                  Cancer Research, cosponsored by the American Society of
                  Preventive Oncology vol. 28,7 (2019): 1177-1186.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a class="sources__link" href="http://sci-hub.se/10.1016/j.lfs.2017.02.008" target="_blank">Touitou, Yvan et al. "Association between light at night,
                  melatonin secretion, sleep deprivation, and the internal
                  clock: Health impacts and mechanisms of circadian disruption".
                  <i>Life sciences</i> vol. 173. 03/15/2017.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/pmid/30611883/" target="_blank">Molzof, Hylton E et al. “Misaligned core body temperature
                  rhythms impact cognitive performance of hospital shift work
                  nurses.” Neurobiology of learning and memory vol. 160 (2019):
                  151-159</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a class="sources__link" href="http://sci-hub.se/10.1111/jonm.13052" target="_blank">Kim, Jeong Hun et al. "The effects of indoor ambient
                  temperature at work on physiological adaptation in night shift
                  nurses". <i>Journal of nursing management</i> vol. 28, 5. 2020
                  Jul.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[8]</span>
                <a class="sources__link" href="https://www.sjweh.fi/show_abstract.php?abstract_id=2898" target="_blank">Lowden, Arne et al. “Eating and shift work - effects on
                  habits, metabolism and performance.” Scandinavian journal of
                  work, environment & health vol. 36,2 (2010): 150-62.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[9]</span>
                <a class="sources__link" href="sci-hub.se/10.1016/j.sxmr.2017.11.009" target="_blank">Deng, Nanfu et al. “The Relationship Between Shift Work and
                  Men's Health.” Sexual medicine reviews vol. 6,3 (2018):
                  446-456.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[10]</span>
                <a class="sources__link" href="http://sci-hub.se/10.1016/j.patbio.2014.08.001" target="_blank">Boivin, D B et al. "Impacts of shift work on sleep and
                  circadian rhythms". <i>Pathologie-biologie</i> vol. 62, 5.
                  2014 Oct.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[11]</span>
                <a class="sources__link" href="http://sci-hub.se/10.1111/j.1365-2648.2007.04338.x" target="_blank">Samaha, Elias et al. "Psychological, lifestyle and coping
                  contributors to chronic fatigue in shift-worker nurses".
                  <i>Journal of advanced nursing</i> vol. 59, 3. 2007 Aug.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[12]</span>
                <a class="sources__link" href="http://sci-hub.se/10.1007/s40618-020-01265-x" target="_blank">Rizza, S et al. "Monthly fluctuations in 25-hydroxy-vitamin D
                  levels in day and rotating night shift hospital workers".
                  <i>Journal of endocrinological investigation</i> vol. 43, 11.
                  2020 Nov.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[13]</span>
                <a class="sources__link" href="http://sci-hub.se/10.1080/07420528.2019.1602051" target="_blank">Peplonska, Beata et al. "Rotating night shift work and
                  nutrition of nurses and midwives".
                  <i>Chronobiology international</i> vol. 36, 7. 2019 Jul.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[14]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5862149/" target="_blank">Hunter, Claudia M, and Mariana G Figueiro. “Measuring Light
                  at Night and Melatonin Levels in Shift Workers: A Review of
                  the Literature.” <i>Biological research for nursing</i> vol.
                  19,4 (2017): 365-374.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[15]</span>
                <a class="sources__link" href="http://sci-hub.st/10.1007/bf00422697" target="_blank">Rundell, O H et al. "Alcohol and sleep in young adults".
                  <i>Psychopharmacologia</i> vol. 26, 3. 1972.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[16]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6859247/" target="_blank">Wickwire, Emerson M et al. “Shift Work and Shift Work Sleep
                  Disorder: Clinical and Organizational Perspectives.”
                  <i>Chest</i> vol. 151,5 (2017): 1156-1172.</a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    {% endblock %}