{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Реагируем на холод | Адам Леос" />
{% endblock %}
{% block title %} Реагируем на холод | Адам Леос {% endblock %}
{% block header_style %}header--secondary{% endblock %}
{% block content %}
        <section class="main__section">
                <h2 class="main__heading main__heading--post"> <span class="main__subheading"> <a href="/topics/temperature-stress-cold.html"><span>Температурный Стресс:
                                                Холод</span></a>
                                <div class="post__delimiter"></div>
                        </span> Реагируем на холод
                </h2>
                <article class="post">
                        <div class="post__imagewrapper"> <img class="post__image" src="{{ url_for('static', filename='img/posts/reacting-to-cold.jpeg') }}" alt="reacting-to-cold"> </div>
                        
                        <p class="post__text">Предыдущий пост об ощущениях температуры мы закончили на обещании
                                разобраться, как же наше тело регулирует собственную температуру. Для этого у него есть
                                ряд занимательных трюков, многие из которых нам известны с самого детства. Сейчас же я
                                предлагаю посмотреть, каким образом это все работает и как взаимосвязано между собой.
                        </p>
                        <p class="post__text">Возможности терморегуляции у человека на самом деле очень серьезные. Одна
                                лишь возможность потеть, и таким образом избавляться от лишнего тепла, дала нашему виду
                                огромное преимущество перед другими животными. Но о лишнем тепле мы пока что не будем
                                говорить, оставим это для следующей темы. Сегодня же нас интересует холод и как это
                                тепло мы стараемся сохранить.</p>
                        <p class="post__text">Как вам известно, наше тело старается поддерживать температуру +- на одном
                                и том же уровне, с совсем небольшими естественными отклонениями (в рамках всего одного
                                градуса). Падение ниже 35 градусов по Цельсию уже есть проблемой и называется
                                гипотермией (переохлаждение) [<a href="#sources-list">1</a>]. Поэтому, оказавшись в “холодных условиях”, организм
                                пытается выполнить две основные задачи: ВЫЖИТЬ и ВЫЖИТЬ. Ладно, если серьезно, то
                                организм старается минимизировать потерю тепла и заодно ее компенсировать. </p>
                        <p class="post__text">Одной из первых реакций организма является выделение большого количества
                                норарденалина (норэпинефрина) [<a href="#sources-list">2</a>]. Всего за несколько минут в условиях относительной
                                прохлады (5-10 градусов выше нуля по Цельсию) количество норадреналина в крови
                                увеличится в два-три раза [<a href="#sources-list">3, 4</a>]. А пробыв в воде (14 градусов выше нуля) в течении часа
                                наблюдали увеличение более чем в пять раз [<a href="#sources-list">5</a>].</p>
                        <p class="post__text">Как же это сказывается на организме? Норадреналин - это гормон и
                                нейромедиатор, по свойствам во многом похож на адреналин. Он играет ключевую роль в
                                бдительности, внимании, фокусе, и настроении [<a href="#sources-list">6</a>]. И хотя это важно - как в разрезе
                                выживания в холоде, так и в терапевтических целях (существуют успешные практики по
                                борьбе с депрессией при помощи холода [<a href="#sources-list">7</a>]) - нас также интересуют и другие особенности
                                гормона.</p>
                        <p class="post__text">Например, норадреналин ускоряет сердцебиение и сужает кровеносные сосуды
                                [<a href="#sources-list">8</a>]. Это сужение называется вазоконстрикцией и является критическим процессом сохранения
                                тепла. Это очень хитрое решение, ведь в результате меньше крови достигает поверхности
                                кожи, а значит температура кожи падает, а значит мы отдаем меньше тепла в окружение (вы
                                же помните, как температура “перетекает”). Кстати, именно поэтому кожа у нас и бледнеет
                                на холоде - сосуды сузились для сохранения тепла и кровь далеко от поверхности [<a href="#sources-list">9</a>]!</p>
                        <p class="post__text">Но это еще не все, ведь это только эффекты сохранения тепла, а что там по
                                поводу компенсации? Все тот же норадреналин также активирует термогенез - процесс по
                                производству тепла организмом. Здесь интересно, потому что существует два вида генерации
                                тепла: сократительный и несократительный [<a href="#sources-list">10</a>].</p>
                        <p class="post__text">Если в вкратце, то сократительный подразумевает… сокращения. Это когда
                                наши мышцы часто и мелко сокращается для производства тепла. Да, то самое дрожание,
                                когда мы мерзнем - это эволюционный механизм для производства тепла нашим телом [<a href="#sources-list">11</a>].
                        </p>
                        <p class="post__text">А вот второй вариант - несократительный. Это уже когда митохондрии, наши
                                производители энергии, начинают заниматься производством тепла [<a href="#sources-list">12</a>]. Важно, что
                                преимущественно это происходит в жировых тканях. И не в обычных, а коричневых. Но что
                                это за коричневый жир и сколько там этих оттенков жира, мы разберем в следующем посте.
                        </p>

                        <div class="post__continue continue"> <a href="/posts/how-to-feel-temperature.html" class="continue__button">
                                        <div class="continue__arrow">&#10229;</div>
                                        <div class="continue__content"> <span class="continue__tag">Температурный
                                                        Стресс: Холод</span> <span class="continue__heading">Как
                                                        почувствовать температуру?

                                                </span> </div>
                                </a>
                                <div class="continue__delimiter"></div> <a href="/posts/three-colors-of-fat.html" class="continue__button">
                                        <div class="continue__content continue__content--right"> <span class="continue__tag">Температурный
                                                        Стресс: Холод</span>
                                                <span class="continue__heading">Три цвета жира

                                                </span>
                                        </div>
                                        <div class="continue__arrow">&#10230;</div>
                                </a>
                        </div>
                        <div class="post__sources sources" id="sources-list">
                                <h5 class="sources__toggler">Источники</h5>
                                <ul class="sources__list">
                                        <li class="sources__item"><span class="sources__number">[<a href="#sources-list">1</a>]</span> <a class="sources__link" href="https://sci-hub.hkvisa.net/10.1007/s12024-010-9142-4" target="_blank">Turk, Elisabeth E. “Hypothermia.” Forensic
                                                        science, medicine, and pathology vol. 6,2 (2010): 106-15. </a>
                                        </li>
                                        <li class="sources__item"><span class="sources__number">[<a href="#sources-list">2</a>]</span> <a class="sources__link" href="https://sci-hub.hkvisa.net/10.1007/s004210050065" target="_blank">Srámek, P et al. “Human physiological responses
                                                        to immersion into water of different temperatures.” European
                                                        journal of applied physiology vol. 81,5 (2000): 436-42. </a>
                                        </li>
                                        <li class="sources__item"><span class="sources__number">[<a href="#sources-list">3</a>]</span> <a class="sources__link" href="https://sci-hub.hkvisa.net/10.1080/00365510701516350" target="_blank">Leppäluoto, J et
                                                        al. "Effects of long-term whole-body cold exposures on plasma
                                                        concentrations of ACTH,
                                                        beta-endorphin, cortisol, catecholamines and cytokines in
                                                        healthy females". <i>Scandinavian
                                                                journal of clinical and laboratory investigation</i>
                                                        vol. 68, 2. 2008.</a></li>
                                        <li class="sources__item"><span class="sources__number">[<a href="#sources-list">4</a>]</span> <a class="sources__link" href="https://sci-hub.hkvisa.net/https://doi.org/10.1152/jappl.1977.43.2.216" target="_blank">Johnson, D G et al. “Plasma norepinephrine
                                                        responses of man in cold water.” Journal of applied physiology:
                                                        respiratory, environmental and exercise physiology vol. 43,2
                                                        (1977): 216-20.</a></li>
                                        <li class="sources__item"><span class="sources__number">[<a href="#sources-list">5</a>]</span> <a class="sources__link" href="https://sci-hub.hkvisa.net/10.1007/s004210050065" target="_blank">Srámek, P et al. “Human physiological responses
                                                        to immersion into water of different temperatures.” European
                                                        journal of applied physiology vol. 81,5 (2000): 436-42. </a>
                                        </li>
                                        <li class="sources__item"><span class="sources__number">[<a href="#sources-list">6</a>]</span> <a class="sources__link" href="https://sci-hub.hkvisa.net/10.1016/S0006-3223(99)00127-4" target="_blank">Ressler, K J, and C B Nemeroff. “Role of
                                                        norepinephrine in the pathophysiology and treatment of mood
                                                        disorders.” Biological psychiatry vol. 46,9 (1999): 1219-33.
                                                </a>
                                        </li>
                                        <li class="sources__item"><span class="sources__number">[<a href="#sources-list">7</a>]</span> <a class="sources__link" href="https://www.dovepress.com/getfile.php?fileID=10204" target="_blank">Moret, Chantal, and Mike Briley. “The importance
                                                        of norepinephrine in depression.” Neuropsychiatric disease and
                                                        treatment vol. 7,Suppl 1 (2011): 9-13. </a></li>
                                        <li class="sources__item"><span class="sources__number">[<a href="#sources-list">8</a>]</span> <a class="sources__link" href="https://arthritis-research.biomedcentral.com/articles/10.1186/s13075-014-0504-2" target="_blank">Pongratz, Georg, and Rainer H Straub. “The
                                                        sympathetic nervous response in inflammation.” Arthritis
                                                        research & therapy vol. 16,6 (2014): 504. </a></li>
                                        <li class="sources__item"><span class="sources__number">[<a href="#sources-list">9</a>]</span> <a class="sources__link" href="https://sci-hub.hkvisa.net/10.1113/EP087718" target="_blank">Alba, Billie K et al.
                                                        "Cold-induced cutaneous vasoconstriction in humans: Function,
                                                        dysfunction and the distinctly
                                                        counterproductive". <i>Experimental physiology</i> vol. 104, 8.
                                                        2019 Aug.</a></li>
                                        <li class="sources__item"><span class="sources__number">[<a href="#sources-list">10</a>]</span> <a class="sources__link" href="https://sci-hub.hkvisa.net/10.1016/B978-0-444-63912-7.00010-2" target="_blank">Blondin, Denis P, and François Haman. “Shivering
                                                        and nonshivering thermogenesis in skeletal muscles.” Handbook of
                                                        clinical neurology vol. 156 (2018): 153-173. </a></li>
                                        <li class="sources__item"><span class="sources__number">[<a href="#sources-list">11</a>]</span> <a class="sources__link" href="https://www.tandfonline.com/doi/full/10.1080/23328940.2017.1328999" target="_blank">Haman, François, and Denis P Blondin. “Shivering
                                                        thermogenesis in humans: Origin, contribution and metabolic
                                                        requirement.” Temperature (Austin, Tex.) vol. 4,3 217-226. 22
                                                        May. 2017.</a></li>
                                        <li class="sources__item"><span class="sources__number">[<a href="#sources-list">12</a>]</span> <a class="sources__link" href="https://www.sciencedirect.com/science/article/abs/pii/B9780444639127000102" target="_blank">Blondin, Denis P, and François Haman. “Shivering
                                                        and nonshivering thermogenesis in skeletal muscles.” Handbook of
                                                        clinical neurology vol. 156 (2018): 153-173. </a></li>
                                </ul>
                        </div>
                </article>
        </section>
{% endblock %}