<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/articles.css" />
    <link rel="stylesheet" href="../styles/post.css" />
    <link rel="stylesheet" href="../styles/continue.css" />
    <link rel="stylesheet" href="../styles/sources.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <title>Фазы сна (и немного мозговые волны) | Адам Леос</title>
  </head>

  <body>
    <header class="header header--secondary">
      <nav class="header__nav nav">
        <input type="checkbox" id="hamburger" class="nav__hamburger-checkbox" />
        <label for="hamburger" class="nav__hamburger">
          <span class="nav__bar-one"></span>
          <span class="nav__bar-two"></span>
          <span class="nav__bar-three"></span>
        </label>
        <a href="../index.html" class="header__link header__link--mobile">
          <img
            src="../img/logo.png"
            alt="graphic brain with mustache"
            class="header__logo"
          />
        </a>
        <ul class="nav__list">
          <li class="nav__item">
            <a href="../index.html" class="nav__link">Главная</a>
          </li>
          <li class="nav__item">
            <a href="../topics/index.html" class="nav__link">Темы</a>
          </li>
          <li class="nav__item nav__item--logo">
            <a href="../index.html" class="header__link">
              <img
                src="../img/logo.png"
                alt="graphic brain with mustache"
                class="header__logo"
              />
            </a>
          </li>
          <li class="nav__item">
            <a href="../media/index.html" class="nav__link">Медиа</a>
          </li>
          <li class="nav__item">
            <a href="../contacts/index.html" class="nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main">
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="../topics/sleep.html"><span>Сон</span></a>
            <div class="post__delimiter"></div>
          </span>
          Фазы сна (и немного мозговые волны)
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img
              class="post__image"
              src="../img/posts/sleep-phazes-and-brain-waves.jpg"
              alt="sleep-phazes-and-brain-waves"
            />
          </div>
          <p class="post__text">
            Прежде чем оптимизировать какой-либо процесс, необходимо понять как
            он работает. Особенно такой интересный, как сон. Так что давайте
            посмотрим, что он из себя представляет. Материала на несколько
            постов, поэтому в этом мы ознакомимся с фазами сна, о которых вы
            наверняка так много слышали. Так что, начнем с мозговых волн!
          </p>
          <p class="post__text">
            Как и любой другой сложный процесс человеческого организма, сон так
            или иначе влияет на весь организм [<a href="#sources-list">1</a>].
            Но самые интересные процессы протекают в мозгу. Мозг состоит из
            миллиардов клеток, половина из которых - нейроны [<a
              href="#sources-list"
              >2</a
            >]. И каждый нейрон может быть связан с тысячами других, через
            специальные соединения под названием синапсы. Любая их активность
            генерирует небольшой электрический импульс. И хотя у нас еще нет
            технологий, позволяющих фиксировать активность каждого нейрона
            индивидуально, мы можем измерять электрическое поле, генерируемое
            синхронным зажиганием тысяч нейронов [<a href="#sources-list">3</a
            >]. Делают это при помощи ЭЭГ (электроэнцефалографии) - методе по
            фиксации электрической активности мозга. А измеряв активность у
            спящих людей, ученые обнаружили достаточно четкие фазы, сменяющие
            друг друга на протяжении всей продолжительности сна [<a
              href="#sources-list"
              >4</a
            >].
          </p>
          <p class="post__text">
            Благодаря этому мы знаем о существовании двух типов сна - Быстром и
            Медленном. Медленный наступает сразу после засыпания и его делят на
            три этапа (раньше выделяли четыре). С каждым этапом мы засыпаем все
            глубже. Это сопровождается расслаблением мышц, понижением
            сердцебиения, замедлением дыхания, падением температуры тела и
            прекращением движений глаз. Мозговые волны же в этом момент
            замедляются и можно проследить интересный паттерн [<a
              href="#sources-list"
              >5</a
            >]. Самой глубокой точкой этого сна будет так называемый “глубокий
            сон” (slow-wave sleep). Разбудить вас во время него сложнее, а
            сделав это, вам будет непросто сориентироваться и прийти в себя. Это
            один из критических моментов для формирования памяти [<a
              href="#sources-list"
              >6</a
            >]. Но подробнее об этом мы поговорим в отдельном посте.
          </p>
          <p class="post__text">
            А вот фаза быстрого сна еще интереснее. Она довольно схожа с
            бодрствованием, как по мозговым волнам, так и учащенному
            сердцебиение и дыханию, а также активному движению глаз и повышенной
            температуре тела [<a href="#sources-list">7</a>]. Большинство снов
            мы видим именно в этот период, а разбудив вас, вы скорее всего
            сможете точно их пересказать [<a href="#sources-list">8</a>]. Именно
            эту фазу сна часто ассоциируют с креативностью [<a
              href="#sources-list"
              >9</a
            >]. Но так как это слишком “абстрактная абстракция”, мы такие вещи
            опустим и сфокусируемся на конкретике [<a href="#sources-list">10</a
            >] (по крайней мере в данной серии постов).
          </p>
          <p class="post__text">
            Занимательно, что в этой фазе наши мышцы рук и ног временно
            парализованы, предположительно, чтобы мы не наломали дров, переживая
            какой-нибудь яркий сон. Наверняка многие из вас имели опыт
            внезапного пробуждения среди ночи и невозможностью пошевелиться.
            Многие культуры по всему миру связывали это состояние со злыми
            духами и демонами, которые приходят по ночам человека душить и все
            такое. У нас эту роль выполняла кикимора [<a href="#sources-list"
              >11</a
            >]. Так что можете перестать боятся, это всего лишь ваш организм
            делает свою работу. Конечно, бывает и напротив. Когда мышечная
            активность была подавлена недостаточно и вы можете дергаться во сне
            [<a href="#sources-list">12</a>]. В целом, оба случая не являются
            проблемой, если только не случаются с вами стабильно.
          </p>
          <p class="post__text">
            Собственно, вот что из себя и представляют фазы сна. Самое
            любопытное, обе фазы сменяют другу друга несколько раз за ночь. В
            итоге, каждую итерацию быстрого и медленного сна выделяют как один
            цикл, длительность которого у человека в среднем 90 минут [<a
              href="#sources-list"
              >13</a
            >]. Т.е. за ночь мы можем испытывать от четырех до шести таких
            циклов. Но здесь тоже есть интересная особенность - первые циклы за
            ночь смещены в сторону медленного сна, а последующие постепенно
            содержат его все меньше, и все больше быстрого [<a
              href="#sources-list"
              >14</a
            >]. Поэтому, если вы не доспали пару часов, вы не просто потеряли
            “небольшой кусочек сна”, а лишили себя большей части быстрого сна.
            Не надо так.
          </p>

          <div class="post__continue continue">
            <a href="./everyone-sleeps.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Сон</span>
                <span class="continue__heading">Спят все</span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="./circadiam-rhytms-and-scn.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Сон</span>
                <span class="continue__heading">
                  Циркадные ритмы и Супрахиазматическое ядро
                </span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4769986/"
                  target="_blank"
                  >Krueger, M et al. “Sleep function: Toward elucidating an
                  enigma.” Sleep medicine reviews vol. 28 (2016): 46-54.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a
                  class="sources__link"
                  href="https://sci-hub.se/10.1002/cne.21974"
                  target="_blank"
                  >Azevedo, A C et al. “Equal numbers of neuronal and
                  nonneuronal cells make the human brain an isometrically
                  scaled-up primate brain.” The Journal of comparative neurology
                  vol. 513,5 (2009): 532-41.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a
                  class="sources__link"
                  href="https://sci-hub.se/10.3389/fninf.2019.00032"
                  target="_blank"
                  >Fan, Xue et al. "A Brief History of Simulation Neuroscience".
                  <i>Frontiers in neuroinformatics</i> vol. 13. 05/07/2019.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a
                  class="sources__link"
                  href="https://sci-hub.se/10.1142/9781860947186_0005"
                  target="_blank"
                  >Peraita-Adrados, R. "Electroencephalography, polysomnography,
                  and other sleep recording systems". The Physiologic Nature of
                  Sleep. 2005.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a
                  class="sources__link"
                  href="https://sci-hub.se/10.5664/jcsm.26814"
                  target="_blank"
                  >Silber, Michael H et al. "The visual scoring of sleep in
                  adults".
                  <i
                    >Journal of clinical sleep medicine : JCSM : official
                    publication of the American Academy of Sleep Medicine</i
                  >
                  vol. 3, 2. 03/15/2007.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a
                  class="sources__link"
                  href="https://walkerlab.berkeley.edu/reprints/Walker_HarvardRevPsych_2008.pdf"
                  target="_blank"
                  >Walker, Matthew P. “Sleep-dependent memory processing.”
                  Harvard review of psychiatry vol. 16,5 (2008): 287-98.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a
                  class="sources__link"
                  href="https://sci-hub.se/10.1142/9781860947186_0006"
                  target="_blank"
                  >Maquet, P. A. et al. "Brain imaging on passing to sleep". The
                  Physiologic Nature of Sleep, 123–137. 2005.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[8]</span>
                <a
                  class="sources__link"
                  href="https://sci-hub.se/10.1017/CBO9780511615511.003"
                  target="_blank"
                  >Hobson, J A et al. “Dreaming and the brain: toward a
                  cognitive neuroscience of conscious states.” The Behavioral
                  and brain sciences vol. 23,6 (2000): 793-842; discussion
                  904-1121.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[9]</span>
                <a
                  class="sources__link"
                  href="https://sci-hub.se/10.1038/nature02223"
                  target="_blank"
                  >Wagner, Ullrich et al. "Sleep inspires insight".
                  <i>Nature</i> vol. 427, 6972. 01/22/2004.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[10]</span>
                <a
                  class="sources__link"
                  href="https://journals.physiology.org/doi/full/10.1152/physrev.00032.2012"
                  target="_blank"
                  >Rasch, Björn, and Jan Born. “About sleep's role in memory.”
                  Physiological reviews vol. 93,2 (2013): 681-766.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[11]</span>
                <a
                  class="sources__link"
                  href="https://sci-hub.se/10.1080/0015587032000104211"
                  target="_blank"
                  >Owen Davies. "The Nightmare Experience, Sleep Paralysis, and
                  Witchcraft Accusations". Folklor. 2003.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[12]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/pmid/22811426/"
                  target="_blank"
                  >Brown, Ritchie E et al. “Control of sleep and wakefulness.”
                  Physiological reviews vol. 92,3 (2012): 1087-187.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[13]</span>
                <a
                  class="sources__link"
                  href="https://sci-hub.se/10.1016/s1388-2457(01)00507-7"
                  target="_blank"
                  >Brandenberger, G et al. "Inverse coupling between ultradian
                  oscillations in delta wave activity and heart rate variability
                  during sleep".
                  <i
                    >Clinical neurophysiology : official journal of the
                    International Federation of Clinical Neurophysiology</i
                  >
                  vol. 112, 6. 2001 Jun.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[14]</span>
                <a
                  class="sources__link"
                  href="https://sci-hub.se/https://doi.org/10.1016%2Fj.sleep.2007.03.005"
                  target="_blank"
                  >McCarley, Robert W et al. "Neurobiology of REM and NREM
                  sleep". <i>Sleep medicine</i> vol. 8, 4. 2007 Jun.</a
                >
              </li>
            </ul>
          </div>
        </article>
      </section>
    </main>
  </body>
</html>
