{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Сонная иммунная система | Адам Леос" />
{% endblock %}
{% block title %} Сонная иммунная система | Адам Леос {% endblock %}
{% block header_style %}header--secondary{% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/sleep.html"><span>Сон</span></a>
            <div class="post__delimiter"></div>
          </span>
          Сонная иммунная система
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/sleepy-immune-system.jpg') }}" alt="sleepy-immune-system">
          </div>
          <p class="post__text">
            Сегодня мы наконец приступим к разбору влияния сна на системы
            организма, которые теснее всего с ним связаны. Начнем с очень важной
            иммунной системы.
          </p>
          <p class="post__text">
            Как вы наверняка знаете, наш иммунитет умеет бороться с инфекциями и
            болезнями, даже с которыми мы сталкиваемся впервые. Это называется
            “адаптивный” или “приобретённый” иммунитет. Но что самое важное -
            научившись справляться с новыми врагами, иммунитет запоминает их.
            Это позволяет при следующей встречи с теми же болезнями быть уже
            готовым и бороться более эффективно [<a href="#sources-list">1</a>].
          </p>
          <p class="post__text">
            В разрезе же темы сна, особенно интересным моментом является его
            помощь в борьбе с новыми болезнями и выработке антител к ним [<a href="#sources-list">2</a>]. Как показывают данные, всего одна ночь хорошего сна после
            вакцинации может увеличить производство антител в два раза
            (сравнивая с депривацией сна) [<a href="#sources-list">3</a>].
            Заодно значительно увеличить количество Т-хелперов [<a href="#sources-list">4</a>]. Это вспомогательный тип Т-клеток, отвечающий во многом за
            активацию других клеток иммунной системы [<a href="#sources-list">5</a>]. Пора бы уже при каждой вакцинации давать рекомендацию
            “обязательно хорошенько поспите” (на днях вакцинировался от ковид,
            такого не увидел).
          </p>
          <p class="post__text">
            И конечно же, влияние сна касается не только адаптации к новым
            болезням, но также и работы иммунитета в целом [<a href="#sources-list">6</a>]. Любопытной находкой было, что функционирование иммунной системы
            во время сна немного иное, чем во время бодрствования (например,
            меняется преобладающий тип цитокинов, являющихся сигнальными
            протеинами иммунитета) [<a href="#sources-list">7</a>]. И уже одна
            бессонная ночь сильно изменяет популяцию клеток иммунитета [<a href="#sources-list">8</a>]. К счастью, это приходит в норму после качественного сна.
          </p>
          <p class="post__text">
            Занимательно, что не только сон влияет на иммунную систему, но и
            иммунная система влияет на сон [<a href="#sources-list">9</a>]. Было
            замечено, что инфекции часто изменяют архитектуру сна [<a href="#sources-list">10</a>]. Например, в одном исследовании людям вводили эндотоксин - это
            белок бактерии, но иммунная система воспринимает его как бактерию,
            поэтому происходит очень резкая иммунная реакция. И после введения
            ученые зафиксировали увеличение длительности глубокого сна и,
            соответственно, меньше быстрого [<a href="#sources-list">11</a>].
          </p>
          <p class="post__text">
            В общем, данных о плотной связи иммунной системы и сна довольно
            много [<a href="#sources-list">12</a>]. Что увеличивает уже и без
            того огромную гору причин “почему сон важен”. Но уже в последующих
            постах мы увеличим эту гору многократно.
          </p>

          <div class="post__continue continue">
            <a href="/posts/cortisol-stress-hormone.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Сон</span>
                <span class="continue__heading">Кортизол, он же “гормон стресса”</span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="/posts/metabolism-and-sleep.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Сон</span>
                <span class="continue__heading">Метаболизм и сон</span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/pmid/25845377/" target="_blank">Yatim, M, and Fadi G Lakkis. “A brief journey through the
                  immune system.” Clinical journal of the American Society of
                  Nephrology : CJASN vol. 10,7 (2015): 1274-81.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a class="sources__link" href="https://sci-hub.se/10.1093/sleep/30.4.401" target="_blank">Dimitrov, Stoyan et al. "Number and function of circulating
                  human antigen presenting cells regulated by sleep".
                  <i>Sleep</i> vol. 30, 4. 2007 Apr.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a class="sources__link" href="https://sci-hub.st/10.1097/01.psy.0000091382.61178.f1" target="_blank">Lange, et al. “Sleep enhances the human antibody response to
                  hepatitis A vaccination.” Psychosomatic medicine vol. 65,5
                  (2003): 831-5.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a class="sources__link" href="https://www.jimmunol.org/content/187/1/283.long" target="_blank">Lange, et al. “Sleep after vaccination boosts immunological
                  memory.” Journal of immunology (Baltimore, Md. : 1950) vol.
                  187,1 (2011): 283-90.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/pmid/22474485/" target="_blank">Luckheeram, Rishi Vishal et al. “CD4⁺T cells: differentiation
                  and functions.” Clinical & developmental immunology vol. 2012
                  (2012): 925135.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a class="sources__link" href="https://sci-hub.se/10.1038/nri1369" target="_blank">Bryant, Penelope A et al. "Sick and tired: Does sleep have a
                  vital role in the immune system?".
                  <i>Nature reviews. Immunology</i> vol. 4, 6. 2004 Jun.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a class="sources__link" href="https://jamanetwork.com/journals/jamainternalmedicine/fullarticle/410828" target="_blank">Lange, et al. “Shift of monocyte function toward cellular
                  immunity during sleep.” Archives of internal medicine vol.
                  166,16 (2006): 1695-700.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[8]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC294300/" target="_blank">Dinges, F et al. “Leukocytosis and natural killer cell
                  function parallel neurobehavioral fatigue induced by 64 hours
                  of sleep deprivation.” The Journal of clinical investigation
                  vol. 93,5 (1994): 1930-9.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[9]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4568388/" target="_blank">Ibarra-Coronado, Elizabeth G et al. “The Bidirectional
                  Relationship between Sleep and Immunity against Infections.”
                  <i>Journal of immunology research</i> vol. 2015 (2015):
                  678164.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[10]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5441385/" target="_blank">Krueger, M, and M R Opp. “Sleep and Microbes.” International
                  review of neurobiology vol. 131 (2016): 207-225.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[11]</span>
                <a class="sources__link" href="http://sci-hub.se/10.1152/ajpregu.1993.264.6.R1077" target="_blank">Pollmächer, T et al. "Influence of endotoxin on nocturnal
                  sleep in humans".
                  <i>The American journal of physiology</i> vol. 264, 6 Pt 2.
                  1993 Jun.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[12]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6689741/" target="_blank">Besedovsky, et al. “The Sleep-Immune Crosstalk in Health and
                  Disease.” Physiological reviews vol. 99,3 (2019):
                  1325-1380.</a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    {% endblock %}