{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Спорт и холод. Как увеличить производительность?| Адам Леос" />
{% endblock %}
{% block title %} Спорт и холод. Как увеличить производительность?| Адам Леос {% endblock %}
{% block content %}
<section class="main__section">
        <h2 class="main__heading main__heading--post"> <span class="main__subheading"> <a
                                href="/topics/temperature-stress-cold.html"><span>Температурный Стресс: Холод</span></a>
                        <div class="post__delimiter"></div>
                </span> Спорт и холод. Как увеличить производительность?
        </h2>
        <article class="post">
                <div class="post__imagewrapper"> <img class="post__image"
                                src="{{ url_for('static', filename='img/posts/sport-and-cold-increasing-perfomance.jpg')}}"
                                alt="sport-and-cold-increasing-perfomance" /> </div>
                </div>
                <p class="post__text">После обсуждения зачем что-то охлаждать при занятиях спортом и какие проблемы
                        могут из-за этого
                        быть, пора посмотреть, как же делать это правильно.</p>
                <p class="post__text">Я несколько раз упоминал, что важным моментом является место охлаждения. Сегодня
                        нас интересуют
                        участки кожи не покрытые волосами, а особенно - ладони, ступы ног, и верхняя часть лица [1].
                        Секрет успешного
                        повышения физической производительности при помощи холода лежит в охлаждении именно этих частей
                        тела. Но почему
                        именно этих?</p>
                <p class="post__text">Дело в том, что в данных местах находится много артерио-венозных анастомоз. Звучит
                        страшно, но на
                        деле очень просто: это кровеносные сосуды, соединяющие артерию с веной напрямую, обходя
                        капилляры. Такие себе
                        короткие пути циркуляции крови [2]. </p>
                <p class="post__text">Зачем нам такие странные обходы? Уверен, вы уже догадались. Основная задача таких
                        сосудов - помочь
                        избавиться от лишнего тепла. Пока мы находимся в прохладно-нейтральном состоянии, эти пути
                        закрыты, и кровь течет по
                        длинному пути через капилляры. </p>
                <p class="post__text">Но когда температура начинает расти и нам необходимо избавиться от лишнего тепла,
                        пути
                        открываются. Это многократно увеличивает объем циркулирующей крови за тот же промежуток времени,
                        а также направляет
                        ее ближе к коже. Так мы начинаем быстрее передавать тепло из организма в окружение и охлаждаться
                        [3].</p>
                <p class="post__text">Ну а в дополнение к этому, при применении прохлады к данным участкам,
                        артерио-венозный анастомоз
                        остается открытым, помогая очень эффективно температуру терять (пока она слишком высокая). Таким
                        образом, при
                        грамотном применении, можно значительно повысить физическую производительность. Например,
                        охлаждая руки водой
                        (+16°C), в исследовании достигли прироста производительности жима лежа в 40%, а подтягиваний аж
                        в 140% [4]!</p>
                <p class="post__text">Но большой упор я хотел бы сделать на грамотном применении. Вся суть данного
                        метода - избавиться
                        от умеренно лишнего тепла при нагрузках. Из этого вытекают несколько следующих важных моментов:
                </p>
                <p class="post__text"> 1. Это не делает вас сильнее по определению. В примере с подтягиванием выше -
                        140% прирост - был
                        для опытных атлетов, в то время как новички получали прирост всего в 20%. Так что никаких
                        экстремальных нагрузок.
                </p>
                <p class="post__text"> 2. Продолжая об экстримах, данный метод малоэффективен при очень высоких скачках
                        температур. Дело
                        в том, что таким образом организм избавляется от тепла “по-быстрому”. И в исследовании
                        высокоинтенсивных силовых
                        нагрузок, прирост производительности при помощи холода отсутствовал [5].</p>
                <p class="post__text"> 3. Избавляться стоит только от лишнего тепла, не надо переохлаждать конечности!
                        Используйте
                        прохладную воду, достаточно комнатной температуры. Холод очень эффективно притупляет ощущение
                        боли и воспаление в
                        следствии физических нагрузок, что мешает трезво оценивать собственные силы и приводит к
                        травмам. Во многих
                        исследованиях именно поэтому и существовал прирост эффективности, т.к. люди не получали
                        корректные “стоп сигналы”
                        [6].</p>
                <p class="post__text"> 4. Остужайте зоны грамотно: например, охлаждение рук при беге не будет
                        эффективным (еще одна
                        причина иметь качественную обувь) [7]. </p>
                <p class="post__text">Ну и напоследок: самые впечатляющие результаты, вплоть до 500% прироста
                        производительности в
                        некоторых случаях, были получены при помощи специальных приспособлений. Они не только применяли
                        прохладу на ладони,
                        но и подвергали определенному давлению руку, что дополнительно увеличивало кровообращение. Таким
                        образом, даже
                        охлаждение одной ладошки было очень эффективным [8]. </p>
                <p class="post__text">Но на этой, пожалуй, мы будем закругляться со спортом. В следующих постах
                        поговорим на другую
                        интересную тему - как холод влияет на мозг и ментальное здоровье.</p>

                <div class="post__continue continue"> <a href="/posts/sport-and-cold-is-it-that-good.html"
                                class="continue__button">
                                <div class="continue__arrow">&#10229;</div>
                                <div class="continue__content"> <span class="continue__tag">Температурный Стресс:
                                                Холод</span> <span class="continue__heading">Спорт и холод. Так ли это
                                                хорошо?
                                        </span> </div>
                        </a>
                        <div class="continue__delimiter"></div> <a href="/posts/brain-cooling.html"
                                class="continue__button">
                                <div class="continue__content continue__content--right"> <span
                                                class="continue__tag">Температурный
                                                Стресс: Холод</span>
                                        <span class="continue__heading">Охлаждение для мозга
                                        </span>
                                </div>
                                <div class="continue__arrow">&#10230;</div>
                        </a>
                </div>
                <div class="post__sources sources" id="sources-list">
                        <h5 class="sources__toggler">Источники</h5>
                        <ul class="sources__list">
                                <li class="sources__item"><span class="sources__number">[1]</span> <a
                                                class="sources__link"
                                                href="https://sci-hub.st/10.1080/15459624.2018.1470635"
                                                target="_blank">Grahn, Dennis et al. "A
                                                method to reduce heat strain while clad in encapsulating outerwear".
                                                <i>Journal of occupational
                                                        and environmental hygiene</i> vol. 15, 8. 2018 Aug.</a></li>
                                <li class="sources__item"><span class="sources__number">[2]</span> <a
                                                class="sources__link"
                                                href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4861183/"
                                                target="_blank">Walløe, Lars.
                                                “Arterio-venous anastomoses in the human skin and their role in
                                                temperature control.”
                                                <i>Temperature (Austin, Tex.)</i> vol. 3,1 92-103. 12 Oct. 2015.</a>
                                </li>
                                <li class="sources__item"><span class="sources__number">[3]</span> <a
                                                class="sources__link"
                                                href="http://sci-hub.st/10.1097/00005768-200205000-00006"
                                                target="_blank">Yamazaki, Fumio et al.
                                                "Vasomotor responses in glabrous and nonglabrous skin during sinusoidal
                                                exercise". <i>Medicine
                                                        and science in sports and exercise</i> vol. 34, 5. 2002 May.</a>
                                </li>
                                <li class="sources__item"><span class="sources__number">[4]</span> <a
                                                class="sources__link"
                                                href="https://sci-hub.st/10.1519/JSC.0b013e31823f8c1a"
                                                target="_blank">Grahn, Dennis A et al.
                                                "Work volume and strength training responses to resistive exercise
                                                improve with periodic heat
                                                extraction from the palm". <i>Journal of strength and conditioning
                                                        research</i> vol. 26, 9. 2012
                                                Sep.</a></li>
                                <li class="sources__item"><span class="sources__number">[5]</span> <a
                                                class="sources__link"
                                                href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC8136565/"
                                                target="_blank">Esteves, Gilmar J
                                                et al. “Different Cooling Strategies Applied During Inter-Set Rest
                                                Intervals in High-Intensity
                                                Resistance Training.” <i>International journal of exercise science</i>
                                                vol. 14,2 295-303. 1 Apr.
                                                2021.</a></li>
                                <li class="sources__item"><span class="sources__number">[6]</span> <a
                                                class="sources__link" href="https://pubmed.ncbi.nlm.nih.gov/33629973/"
                                                target="_blank">ERROR</a></li>
                                <li class="sources__item"><span class="sources__number">[7]</span> <a
                                                class="sources__link" href="http://sci-hub.ru/10.1055/s-0032-1327576"
                                                target="_blank">Scheadler, C M et al. "Palm
                                                cooling does not improve running performance". <i>International journal
                                                        of sports medicine</i>
                                                vol. 34, 8. 2013 Aug.</a></li>
                                <li class="sources__item"><span class="sources__number">[8]</span> <a
                                                class="sources__link"
                                                href="https://journals.physiology.org/doi/full/10.1152/japplphysiol.00093.2005"
                                                target="_blank">ERROR</a></li>
                        </ul>
                </div>
        </article>
</section>
{% endblock %}