{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Три цвета жира | Адам Леос" />
{% endblock %}
{% block title %} Три цвета жира | Адам Леос {% endblock %}
{% block content %}
    <section class="main__section">
        <h2 class="main__heading main__heading--post"> <span class="main__subheading"> <a href="/topics/temperature-stress-cold.html"><span>Температурный Стресс: Холод</span></a>
                <div class="post__delimiter"></div>
            </span> Три цвета жира
        </h2>
        <article class="post">
            <div class="post__imagewrapper"> <img class="post__image" src="{{ url_for('static', filename='img/posts/three-colors-of-fat.png') }}" alt="three-colors-of-fat"> </div>
            
            <p class="post__text">В названии поста я уже заспойлерил ответ на поставленный вопрос в предыдущей
                публикации. Да, на сегодняшний день выделяется три “цвета”, но давайте посмотрим чем они отличаются
                между собой и почему это важно в нашей текущей теме.</p>
            <p class="post__text">Значит, давайте сразу обозначим цвета - белый, коричневый, бежевый. Все три относятся
                к жировой ткани, хотя под капотом все малость интереснее. И не спроста - ведь и выполняют они разные
                роли в организме. </p>
            <p class="post__text"> • Белый - здесь все просто, потому что это именно тот жир, о котором всегда говорят.
                В том числе и мы уже обсуждали его в подробностях, в разрезе голодания. Коротко все же напомню: основная
                задача белого жира - это хранить излишки энергии “на потом” (но задач вообще сильно больше). Новой
                информацией сегодня будет то, что белый жир также принимает определенное участие в защите от холода,
                т.к. обладает отличной теплоизоляцией [<a href="#sources-list">1</a>]. </p>
            <p class="post__text"> • Коричневый - это звезда нашего поста и вообще всей текущей темы. Механизмы его
                настолько интересны, что давайте посвятим ему отдельный пост. Но без информации сейчас вас не оставлю,
                конечно же. </p>
            <p class="post__text"> Важен коричневый жир тем, что выполняет центральную роль в несократительном
                термогенезе (производстве тепла) [<a href="#sources-list">2</a>]. Т.е. во многом именно благодаря этому жирку мы согреваемся. Как он
                вырабатывает тепло? При помощи митохондрий, которые внутри него! Просто в коричневом жире этих
                митохондрий больше, да и сами они крупнее. Собственно, именно за счет более высокой концентрации
                митохондрий этот жир и выглядит коричневым [<a href="#sources-list">3</a>].</p>
            <p class="post__text"> Но еще важнее - именно он и стоит во главе адаптации к холоду. Потому что при
                длительном\частом подвержению холоду мы увеличиваем количество этого жира (за редким исключением). Иными
                словами, мы “закаляемся”. Но к механизмам “закаливания” мы еще вернемся в отдельном посте, сразу после
                углубленного разбора коричневого жира [<a href="#sources-list">4</a>].</p>
            <p class="post__text"> • Бежевый - вы же еще не забыли о третьем типе жира? Бежевый жир есть относительно
                свежим открытием. Он находится внутри подкожного белого жира, но может выполнять любую из двух
                предыдущих ролей по необходимости. Такой себе “динамический жирок”. Если холодно - увеличит концентрацию
                митохондрий, “покоричневеет”, и будет помогать производить тепло. Если же условия теплые - то займется
                хранением излишка ресурсов, также как и белый жир. [<a href="#sources-list">5, 6</a>]</p>
            <p class="post__text">Что же, на самом деле различия между типами жира довольно простые и очевидные. И как
                вы уже поняли, больше всего нас интересует коричневый жир. Давайте его особенности и влияние на здоровье
                подробно разберем в следующем посте.</p>

            <div class="post__continue continue"> <a href="/posts/reacting-to-cold.html" class="continue__button">
                    <div class="continue__arrow">&#10229;</div>
                    <div class="continue__content"> <span class="continue__tag">Температурный Стресс: Холод</span> <span class="continue__heading">Реагируем на холод
                        </span> </div>
                </a>
                <div class="continue__delimiter"></div> <a href="/posts/brown-fat.html" class="continue__button">
                    <div class="continue__content continue__content--right"> <span class="continue__tag">Температурный
                            Стресс: Холод</span>
                        <span class="continue__heading">Коричневый жир (ну или бурый)
                        </span>
                    </div>
                    <div class="continue__arrow">&#10230;</div>
                </a>
            </div>
            <div class="post__sources sources" id="sources-list">
                <h5 class="sources__toggler">Источники</h5>
                <ul class="sources__list">
                    <li class="sources__item"><span class="sources__number">[<a href="#sources-list">1</a>]</span> <a class="sources__link" href="https://sci-hub.st/10.1159/000321319" target="_blank">Saely, Christoph H et al. "Brown
                            versus white adipose tissue: a mini-review". <i>Gerontology</i> vol. 58, 1. 2012.</a></li>
                    <li class="sources__item"><span class="sources__number">[<a href="#sources-list">2</a>]</span> <a class="sources__link" href="https://sci-hub.hkvisa.net/10.1016/B978-0-444-63912-7.00010-2" target="_blank">Blondin, Denis P, and François Haman. “Shivering and nonshivering
                            thermogenesis in skeletal muscles.” Handbook of clinical neurology vol. 156 (2018): 153-173.
                        </a></li>
                    <li class="sources__item"><span class="sources__number">[<a href="#sources-list">3</a>]</span> <a class="sources__link" href="https://sci-hub.hkvisa.net/10.1016/j.pcad.2018.07.002" target="_blank">Ruiz, Jonatan R
                            et al. "Role of Human Brown Fat in Obesity, Metabolism and Cardiovascular Disease:
                            Strategies to Turn Up the Heat". <i>Progress in cardiovascular diseases</i> vol. 61, 2.
                            Jul-Aug 2018.</a></li>
                    <li class="sources__item"><span class="sources__number">[<a href="#sources-list">4</a>]</span> <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7330484/" target="_blank">Jung, Su Myung
                            et al. “Brown Adipose Tissue Development and Metabolism.” <i>Handbook of experimental
                                pharmacology</i> vol. 251 (2019): 3-36.</a></li>
                    <li class="sources__item"><span class="sources__number">[<a href="#sources-list">5</a>]</span> <a class="sources__link" href="https://www.jci.org/articles/view/78362" target="_blank">Sidossis, Labros, and Shingo
                            Kajimura. “Brown and beige fat in humans: thermogenic adipocytes that control energy and
                            glucose homeostasis.” The Journal of clinical investigation vol. 125,2 (2015): 478-86. </a>
                    </li>
                    <li class="sources__item"><span class="sources__number">[<a href="#sources-list">6</a>]</span> <a class="sources__link" href="https://sci-hub.hkvisa.net/10.1007/s11684-015-0382-2" target="_blank">Qian, Shuwen et
                            al. "Brown and beige fat: the metabolic function, induction, and therapeutic potential".
                            <i>Frontiers of medicine</i> vol. 9, 2. 2015 Jun.</a></li>
                </ul>
            </div>
        </article>
    </section>
{% endblock %}