{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="" />
{% endblock %}
{% block title %}  {% endblock %}
{% block header_style %}header--secondary{% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/fasting.html"><span>Голодание</span></a>
            <div class="post__delimiter"></div>
          </span>
          Ограниченное окно для принятия пищи (Time-restricted eating). Часть I
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/time-restricted-eating-i.jpg') }}" alt="time-restricted-eating-i">
          </div>
          <p class="post__text">
            Углубление в основные техники голодания мы начнем с ограниченного
            окна для принятия пищи (англ. TRE). Да, не смотря на то, что для
            некоторых это не является “голоданием” как таковым, и даже я этот
            подход называю больше “здоровым режимом приема пищи”, ограниченное
            окно способно предложить очень много [<a href="#sources-list">1</a>].
          </p>
          <p class="post__text">
            Но что важно, являясь крайне простым и доступным режимом, оно
            способно предоставить много положительных эффектов классического
            голодания [<a href="#sources-list">2</a>]. А что еще важнее,
            ограниченное окно не исключает продолжительного периодического
            голодания, а напротив, очень хорошо дополняет [<a href="#sources-list">3</a>].
          </p>
          <p class="post__text">
            Более того, я бы настоятельно рекомендовал каждому (за редким
            исключением определенных болезней) привнести этот подход в свою
            жизнь на постоянной основе. Благо, режим довольно гибок, т.к. размер
            окна можно увеличивать\уменьшать, исходя из собственных
            возможностей, ощущений, и желаний [<a href="#sources-list">2</a>].
          </p>
          <p class="post__text">
            Например, одно из самых простых вариаций TRE - 12\12 (12 часов едим,
            12 нет) [<a href="#sources-list">4</a>]. Окно в 12 часов очень
            большое, я бы даже сказал огромное. Начав есть где-то в 9 утра,
            закончить надо аж в 9 вечера. Казалось бы, что здесь такого? Но
            исследования указывают на значительные улучшения показателей,
            особенно связанные с метаболизмом [<a href="#sources-list">5</a>].
          </p>
          <p class="post__text">
            Дело в том, что даже такое большое окно стабилизирует приемы пищи и
            синхронизирует их с естественными циркадными ритмами (если окно
            дневное) [<a href="#sources-list">6</a>]. Дополнительно, решается
            безостановочное чревоугодие [<a href="#sources-list">7</a>]. У
            людей, как вы возможно догадались, очень сложные отношения с едой,
            часто на базе психологических расстройств [<a href="#sources-list">8</a>].
          </p>
          <p class="post__text">
            И действительно, данные указывают, что большинство положительных
            эффектов в таких случаях связаны с отсутствием поздних и постоянных
            перекусов (и алкоголя) [<a href="#sources-list">9</a>]. Это также
            вытекает в заметное снижение потребляемых калорий, без каких-либо
            негативных последствий - т.к. в основном это была вредная\лишняя
            еда\напитки [<a href="#sources-list">10</a>]. К тому же, это
            положительно сказывается на сне [<a href="#sources-list">11</a>]. Вы
            же помните
            <a class="post__link" href="/posts/metabolism-and-sleep.html">пост о связи сна и метаболизма</a>?
          </p>
          <p class="post__text">
            Конечно же, такими базовыми вещами польза от ТРЕ не ограничивалась
            [<a href="#sources-list">12</a>]. Прежде чем перейти к более
            глубоким примерам, напомню, что это мы обсуждали режим 12\12. Если
            же говорить серьезнее, то самый популярный режим будет 16\8 (16
            часов без еды, 8 для еды) [<a href="#sources-list">13</a>]. Т.е.
            начав есть где-то в 9 утра, окно открыто аж до 5 вечера. Такой
            подход все еще безумно прост, но уже способен предложить намного
            больше эффектов [<a href="#sources-list">14</a>].
          </p>
          <p class="post__text">
            О необходимости организму заниматься “самообслуживанием” [<a href="#sources-list">15</a>], преимущественно во время отсутствия еды, я уже немного говорил в
            первом
            <a class="post__link" href="/posts/fasting-is-not-what-you-think.html">посте по голоданию</a>
            [<a href="#sources-list">16</a>]. Одним из отличных примеров будет
            Мигрирующий моторный комплекс (Migrating motor complex). Это
            определенная подвижность желудочно-кишечного тракта (ЖКТ), которая
            циклично происходит во время отсутствия еды [<a href="#sources-list">17</a>].
          </p>
          <p class="post__text">
            Прием же пищи эту активность прерывает [<a href="#sources-list">17</a>]. Важен ММК тем, что благодаря ему происходит здоровое
            передвижение еды по ЖКТ и поддерживается здоровая микрофлора [<a href="#sources-list">18</a>].
          </p>
          <p class="post__text">
            А если же ваша цель - начать использовать жир для энергии и войти в
            состояние кетозиса, то согласно данным, в среднем организм начинает
            переключение на кетоны (как основной источник энергии), спустя всего
            12-36 часов [<a href="#sources-list">18</a>]. Время варьируется в
            зависимости от запасов гликогена в печени и интенсивности
            использовании энергии организмом (как только гликоген печенью
            израсходован, начинается переключение на кетоны) [<a href="#sources-list">19</a>].
          </p>
          <p class="post__text">
            Но переключение ещё не значит что вы вошли в кетозис. Не уходя
            глубоко в “кето”, ещё одно важное уточнение - обычный человек
            использует кетоны все время, даже без голодания и без диеты на
            жирах. Просто % энергии, поступающий из кетонов, в обычных условиях
            не более 5%. И уже в состоянии кетозиcа увеличивается [<a href="#sources-list">19</a>].
          </p>
          <p class="post__text">
            (А так как у меня, как обычно, в один пост все не влазит -
            окончание, с рекомендациями по подходам, в следующем посте завтра)
          </p>

          <div class="post__continue continue">
            <a href="/posts/circadian-components-in-eating.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Голодание</span>
                <span class="continue__heading">Циркадные компоненты в приемах пищи</span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="/posts/time-restricted-eating-ii.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Голодание</span>
                <span class="continue__heading">
                  Ограниченное окно для принятия пищи (Time-restricted eating).
                  Часть II
                </span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a class="sources__link" href="https://www.annualreviews.org/doi/10.1146/annurev-nutr-071816-064634" target="_blank">
                  Patterson, Ruth E, and Dorothy D Sears. “Metabolic Effects of
                  Intermittent Fasting.” Annual review of nutrition vol. 37
                  (2017): 371-393.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a class="sources__link" href="https://academic.oup.com/nutritionreviews/article/72/5/308/1933482" target="_blank">Rothschild, Jeff et al. “Time-restricted feeding and risk of
                  metabolic disease: a review of human and animal studies.”
                  Nutrition reviews vol. 72,5 (2014): 308-18.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a class="sources__link" href="https://www.cell.com/cell-metabolism/fulltext/S1550-4131(16)30250-9" target="_blank">Longo, Valter D, and Satchidananda Panda. “Fasting, Circadian
                  Rhythms, and Time-Restricted Feeding in Healthy Lifespan.”
                  Cell metabolism vol. 23,6 (2016): 1048-1059.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a class="sources__link" href="http://sci-hub.se/10.1093/ajcn/63.4.491" target="_blank">Sawaya, A L et al. “Evaluation of four methods for
                  determining energy intake in young and older women: comparison
                  with doubly labeled water measurements of total energy
                  expenditure.” The American journal of clinical nutrition vol.
                  63,4 (1996): 491-9.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2121099/" target="_blank">Carlson, Olga et al. “Impact of reduced meal frequency
                  without caloric restriction on glucose regulation in healthy,
                  normal-weight middle-aged men and women.” Metabolism: clinical
                  and experimental vol. 56,12 (2007): 1729-34.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3973145/" target="_blank">Hardin, Paul E, and Satchidananda Panda. “Circadian
                  timekeeping and output mechanisms in animals.” Current opinion
                  in neurobiology vol. 23,5 (2013): 724-31.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4635036/" target="_blank">Gill, Shubhroz, and Satchidananda Panda. “A Smartphone App
                  Reveals Erratic Diurnal Eating Patterns in Humans that Can Be
                  Modulated for Health Benefits.” Cell metabolism vol. 22,5
                  (2015): 789-98.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[8]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6709695/" target="_blank">Frank, Guido K W et al. “The Neurobiology of Eating
                  Disorders.” Child and adolescent psychiatric clinics of North
                  America vol. 28,4 (2019): 629-640.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[9]</span>
                <a class="sources__link" href="https://www.nature.com/articles/ijo2015154" target="_blank">Chowdhury, E A et al. “Effect of extended morning fasting
                  upon ad libitum lunch intake and associated metabolic and
                  hormonal responses in obese adults.” International journal of
                  obesity (2005) vol. 40,2 (2016): 305-11.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[10]</span>
                <a class="sources__link" href="https://www.cambridge.org/core/journals/british-journal-of-nutrition/article/restricting-nighttime-eating-reduces-daily-energy-intake-in-healthy-young-men-a-shortterm-crossover-study/3627087601F148E8D16163468FCB3F05" target="_blank">LeCheminant, James D et al. “Restricting night-time eating
                  reduces daily energy intake in healthy young men: a short-term
                  cross-over study.” The British journal of nutrition vol.
                  110,11 (2013): 2108-13.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[11]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6411188/" target="_blank">Lopes, Tássia do Vale Cardoso et al. “Eating Late Negatively
                  Affects Sleep Pattern and Apnea Severity in Individuals With
                  Sleep Apnea.” Journal of clinical sleep medicine : JCSM :
                  official publication of the American Academy of Sleep Medicine
                  vol. 15,3 383-392. 15 Mar. 2019.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[12]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3200169/" target="_blank">Trepanowski, John F et al. “Impact of caloric and dietary
                  restriction regimens on markers of health and longevity in
                  humans and animals: a summary of available findings.”
                  Nutrition journal vol. 10 107. 7 Oct. 2011.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[13]</span>
                <a class="sources__link" href="http://sci-hub.se/10.3945/ajcn.2008.27327" target="_blank">Soeters, Maarten R et al. “Intermittent fasting does not
                  affect whole-body glucose, lipid, or protein metabolism.” The
                  American journal of clinical nutrition vol. 90,5 (2009):
                  1244-51.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[14]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3946160/" target="_blank">Longo, Valter D, and Mark P Mattson. “Fasting: molecular
                  mechanisms and clinical applications.” Cell metabolism vol.
                  19,2 (2014): 181-92.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[15]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6314618/" target="_blank">Wilhelmi de Toledo, Françoise et al. “Safety, health
                  improvement and well-being during a 4 to 21-day fasting period
                  in an observational study including 1422 subjects.” PloS one
                  vol. 14,1 e0209353. 2 Jan. 2019.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[16]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4250148/" target="_blank">Mattson, Mark P et al. “Meal frequency and timing in health
                  and disease.” Proceedings of the National Academy of Sciences
                  of the United States of America vol. 111,47 (2014):
                  16647-53.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[17]</span>
                <a class="sources__link" href="https://sci-hub.se/https://pubmed.ncbi.nlm.nih.gov/22450306/" target="_blank">Deloose, Eveline et al. “The migrating motor complex: control
                  mechanisms and its role in health and disease.” Nature
                  reviews. Gastroenterology & hepatology vol. 9,5 271-85.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[18]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5783752/" target="_blank">Anton, Stephen D et al. “Flipping the Metabolic Switch:
                  Understanding and Applying the Health Benefits of Fasting.”
                  Obesity (Silver Spring, Md.) vol. 26,2 (2018): 254-268.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[19]</span>
                <a class="sources__link" href="http://sci-hub.se/10.1146/annurev.nutr.26.061505.111258" target="_blank">Cahill, George F Jr. “Fuel metabolism in starvation.” Annual
                  review of nutrition vol. 26 (2006): 1-22.
                </a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    {% endblock %}