{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Спектр видимого света: естественное освещение | Адам Леос" />
{% endblock %}
{% block title %} Спектр видимого света: естественное освещение | Адам Леос {% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/sleep.html"><span>Сон</span></a>
            <div class="post__delimiter"></div>
          </span>
          Спектр видимого света: естественное освещение
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/visible-light-spectrum-natural.jpg') }}" alt="visible-light-spectrum-natural">
          </div>
          <p class="post__text">
            В последнем посте мы остановились на мысли, что промышленный
            прожектор в комнате возможно и решит проблему яркости освещения, но
            не покроет другой крайне важный момент: правильное распределение
            интенсивности спектра. Не пугайтесь, все гораздо проще, чем звучит.
          </p>
          <p class="post__text">
            Совсем немного вспомним физику. Обещаю, что будет несложно и
            интересно, а самое главное - крайне полезно! То, что мы называем
            “видимым светом”, на самом деле является электромагнитным
            излучением. Также как и радиоволны, рентген или ультрафиолет. Все,
            что их различает между собой - длина волны. И вот определенные длины
            эволюционировал воспринимать и человеческий глаз, благодаря чему вы
            сейчас можете видеть этот текст [<a href="#sources-list">1</a>].
          </p>
          <p class="post__text">
            Если конкретнее, то наш глаз воспринимает спектр от 380 до 750
            нанометров (если усреднённо). 380 будет едва различимым фиолетовым,
            и ниже уже будет ультрафиолет. А 750 - красный, плавно переходящий в
            инфракрасный с увеличением длины волны. Пик нашей чувствительности
            находится где-то на 550 нанометров (зеленый). Из интересного, если
            такие цвета, как синий (450 нм) или оранжевый (600нм) еще являются
            волнами видимого спектра, то вот розовый или пурпурный - нет.
            Последние цвета генерирует наш мозг, из комбинаций нескольких разных
            волн. Или что черный на самом деле не цвет, а отсутсвие цветов.
            Вообще, вся эта тема супер занимательная, но вернемся к здоровью [<a href="#sources-list">2</a>].
          </p>
          <p class="post__text">
            Дальше, наверняка каждый из вас слышал о “палочках” и “колбочках” -
            двух типах фоторецепторов, находящихся в сетчатке глаза. Первые
            помогают видеть при плохом освещении или в темноте, а вторые -
            преимущественно отвечают за цветовосприятие [<a href="#sources-list">3</a>]. Сегодня нас интересует группа светочувствительных белков -
            опсинов, представители которых и находятся в палочках и колбочках.
            Опсинов существует несколько типов, и они как раз и помогают нам
            трансформировать электромагнитное излучение в сигналы,
            воспринимаемые мозгом. Что затем превратится в видимую картинку [<a href="#sources-list">4</a>].
          </p>
          <p class="post__text">
            Но больше всего внимания заслуживает один из недавно обнаруженных
            типов опсинов - меланопсин. И если название вам что-то и напоминало,
            то не зря. Меланопсин задействован не столько в формировании цвета,
            как в регуляции циркадных ритмов. И находится в третьем типе
            фоторецепторов, глубже колбочек и палочек. Он наконец-то помог нам
            понять, каким же образом слепые люди могут регулировать циркадные
            ритмы [<a href="#sources-list">5</a>].
          </p>
          <p class="post__text">
            Но что самое важное - пик чувствительности меланопсина будет около
            480нм, что соответствует синему свету. Это во многом и обьясняет,
            почему больше всего выработку мелатонина блокирует синий цвет. Но
            если быть более точным, то это лишь пик чувствительности, а все
            распределение сильно шире. Т.е. мелатонин также будет блокироваться
            и другими короткими волнам, что есть холодным светом в целом [<a href="#sources-list">6</a>]. Ведь холодное освещение содержит больше коротких волн, чем
            длинных. Ну а теплое, соотвественно, наоборот.
          </p>
          <p class="post__text">
            Это хорошо дополняет картину естественного цикла человека, когда
            холодный утренний свет блокирует выработку мелатонина и мы
            бодрствуем. А ближе к вечеру, когда спектр смещается к длинным
            волнам и освещение вокруг теплеет, мелатонина вырабатывается все
            больше, и мы начинаем понемногу хотеть спать. Но это если мы говорим
            об солнечном свете, у которого распределение интенсивности спектра
            плавное, с небольшим постепенным смещением из коротких волн к теплым
            (но на протяжении суток присутствуют все) [<a href="#sources-list">7</a>]. А что по поводу искусственного?
          </p>

          <div class="post__continue continue">
            <a href="/posts/light-brightness-recommendations.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Сон</span>
                <span class="continue__heading">Яркость освещения: рекомендации</span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="/posts/visible-light-spectrum-artificial.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Сон</span>
                <span class="continue__heading">
                  Спектр видимого света: искусственное освещение
                </span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a class="sources__link" href="https://arxiv.org/abs/1304.3196" target="_blank">Choudhury, Debesh et al. "Artificial color perception using
                  microwaves". Journal of Optics of Optical Society of India.
                  2003.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a class="sources__link" href="https://arxiv.org/abs/1609.04830" target="_blank">Prangnell, Lee. "Visible Light-Based Human Visual System
                  Conceptual Model". Discussion Paper, Department of Computer
                  Science, University of Warwick, UK. 2019.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4374737/" target="_blank">Do, Michael Tri Hoang, and King-Wai Yau. “Intrinsically
                  photosensitive retinal ganglion cells.”
                  <i>Physiological reviews</i> vol. 90,4 (2010): 1547-81.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/books/NBK52768/" target="_blank">Fu, Yingbin. “Phototransduction in Rods and Cones.”
                  Webvision: The Organization of the Retina and Visual System,
                  edited by Helga Kolb et. al., University of Utah Health
                  Sciences Center, 1 April 2010.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6772411/" target="_blank">Provencio, I et al. “A novel human opsin in the inner
                  retina.”
                  <i>The Journal of neuroscience : the official journal of the
                    Society for Neuroscience</i>
                  vol. 20,2 (2000): 600-5.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/pmid/23554393/" target="_blank">Bailes, Helena J, and Robert J Lucas. “Human melanopsin forms
                  a pigment maximally sensitive to blue light (λmax ≈ 479 nm)
                  supporting activation of G(q/11) and G(i/o) signalling
                  cascades.” Proceedings. Biological sciences vol. 280,1759
                  20122987. 3 Apr. 2013.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6656201/" target="_blank">Lanca, Carla et al. “The Effects of Different Outdoor
                  Environments, Sunglasses and Hats on Light Levels:
                  Implications for Myopia Prevention.”
                  <i>Translational vision science & technology</i> vol. 8,4 7.
                  18 Jul. 2019.</a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    {% endblock %}