{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Спектр видимого света: искусственное освещение | Адам Леос" />
{% endblock %}
{% block title %} Спектр видимого света: искусственное освещение | Адам Леос {% endblock %}
{% block header_style %}header--secondary{% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/sleep.html"><span>Сон</span></a>
            <div class="post__delimiter"></div>
          </span>
          Спектр видимого света: искусственное освещение
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/visible-light-spectrum-natural.jpg') }}" alt="visible-light-spectrum-artificial">
          </div>
          <p class="post__text">
            А вот в искусственном освещении уже происходит “дикий запад”. Дело в
            том, что белый свет можно создать большим количеством комбинаций
            волн, и у разных лампочек можно увидеть разные резкие скачки
            интенсивность определенных длин волн (и очень низкий уровень
            других). На глаз вы это не отличите никак, все будет довольно белым
            для вас. Но организм уже получит совершенно другие сигналы [<a href="#sources-list">1</a>].
          </p>
          <p class="post__text">
            Это возвращает нас к “лучшей рекомендации вообще для сна” из поста о
            яркости - чаще бывать на улице. Как видите, солнечный свет
            незаменим. Не только по уровню яркости, который мы обсудили в
            прошлый раз, но и по распределению интенсивности волн. Именно
            поэтому лучше всего после пробуждения погулять под открытым небом. А
            еще лучше - если сможете добавить прогулку на закате. Как вы уже
            поняли, сигналы, получаемые вашим организмом в это время,
            кардинально разные, но очень важные.
          </p>
          <p class="post__text">
            Снова, я понимаю об ограничениях в возможностях, и одним из
            вариантов, который отчасти бы мог помочь - умные лампы (честное
            слово, я ничего не рекламирую, так уж вышло что это действительно
            хорошая штука). Я настроил их включаться до пробуждения, с
            постепенным увеличением яркости и смещением в холодный свет. Это
            подтолкнет организм проснуться естественным образом. Днем они горят
            на максимум яркости, ведь как вы помните, дома никогда не достаточно
            освещения. А к вечеру смещаются в желтый, и затем в красный,
            постепенно затухая. Это поможет организму лучше сориентироваться во
            времени суток, получать какие-никакие сигналы окружения и лучше
            подготавливаться к сну.
          </p>
          <p class="post__text">
            В общем, вот такой вот вышел небольшой экскурс в физику. Дайте
            знать, было ли вам интересно и хотели бы видеть больше. А в
            следующий раз мы поговорим о другом критическом сигнале, снова
            зависящим от солнца - температуре.
          </p>

          <div class="post__continue continue">
            <a href="/posts/visible-light-spectrum-natural.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Сон</span>
                <span class="continue__heading">Спектр видимого света: естественное освещение</span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="/posts/cool-sleep.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Сон</span>
                <span class="continue__heading">Прохладный сон</span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6751071/" target="_blank">Blume, Christine et al. “Effects of light on human circadian
                  rhythms, sleep and mood.”
                  <i>Somnologie : Schlafforschung und Schlafmedizin = Somnology
                    : sleep research and sleep medicine</i>
                  vol. 23,3 (2019): 147-156.</a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    {% endblock %}