{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="А что вообще значит “температура”? | Адам Леос" />
{% endblock %}
{% block title %} А что вообще значит “температура”? | Адам Леос {% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/temperature-stress-cold.html"><span>Холод</span></a>
            <div class="post__delimiter"></div>
          </span>
          А что вообще значит “температура”?
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/what-is-a-temperature-anyway.jpeg') }}" alt="what-is-a-temperature-anyway">
          </div>
          <p class="post__text">
            Ну что, делаем последнее небольшое ответвление в физику и
            разберемся, что вообще значит эта штука “температура”. Не
            напрягайтесь, физики на самом деле почти не будет, но будут очень
            ценные знания, которые когда-то перевернули мое восприятие мира.
          </p>
          <p class="post__text">
            Начнем с того, что “температуры” не существует. Это очередная
            абстракция, которая позволяет нам описать какие-то физические
            концепты. Что мы описываем в этот раз? Энергию! В частности,
            тепловую энергию.
          </p>
          <p class="post__text">
            Если температура только что закипевшей воды выше температуры кубика
            льда (одинакового изначального объема воды), это значит что
            закипевшая вода содержит больше тепловой энергии, чем лед. Логично,
            но снова-таки, что это значит, “содержать больше тепловой энергии”?
          </p>
          <p class="post__text">
            По законам термодинамики (обещаю, будет очень упрощенно и быстро),
            тепловая энергия передается в виде тепла, всегда от более горячего к
            более холодному. И передача энергии будет происходить до момента,
            пока сущности не достигнут температурного равновесия. Иными словами,
            пока что-то “горячее” и передача тепла возможна - тепло будет
            передаваться от горячего к холодному, пока температура не станет
            одинаковая.
          </p>
          <p class="post__text">
            А теперь вернемся к нашей закипевшей воде и кубику льда. Если
            бросить кубик льда в воду, лед быстро начнет получать тепловую
            энергию из окружившей его горячей воды, т.к. у льда этой энергии
            намного меньше. Как следствие, горячая вода начнет терять
            температуру и охлаждаться, а температура льда начнет расти и он
            будет таять. Через какое-то время у нас останется только вода
            равномерной температуры.
          </p>
          <p class="post__text">
            Ок, конечно же, перевернуло мой мир не это, а одна небольшая, но
            очень интересная деталь.
          </p>
          <p class="post__text">
            Давайте возьмем всего по одной молекуле из закипевшей воды и кубика
            льда. Обе будут одинаковыми молекулами воды, но также как и кипяток
            имеет больше тепловой энергии, чем лед, так и молекула горячей воды
            будет иметь больше энергии, чем молекула льда. И это будет… заметно.
          </p>
          <p class="post__text">
            Представьте себе танцпол с двумя людьми: один танцует очень
            вяленько, практически не двигаясь и лишь качая головой в такт
            музыке; А второй человек отрывается по полной - машет и руками, и
            ногами, и даже носится по всему танцполу. Последний, как мы бы
            сказали, намного энергичнее первого. Или же обладает большим
            количеством кинетической энергии…
          </p>
          <p class="post__text">
            Думаю, вы уже распознали связь двух молекул и двух танцующих людей.
            И действительно, молекулы, обладающие большей кинетической энергией,
            проявляют это вибрациями, вращением, и смещением.
          </p>
          <p class="post__text">
            А теперь еще лучше, если такая “энергичная” молекула врежется в
            “менее подвижную” молекулу, то произойдет передача энергии между
            ними. Первая потеряет немного энергии, а вторая приобретёт.
            Представьте, если бы тот активный танцор, совершая свои перемещения
            по танцполу, врезался в скромного танцора, и тем самым отдал бы
            немного энергии.
          </p>
          <p class="post__text">
            Это буквально происходит постоянно во всем мире вокруг нас - частицы
            носятся, врезаются друг в друга, и передают энергию. Тепло - это
            ничто иное, как просто передача кинетической энергии от одной
            частицы другой, часто путем банального “сталкивания лбами”. Именно
            так и выравнялась температура между кипятком и льдом - более быстрые
            молекулы горячей воды передавали свою энергию, врезаясь в медленные
            молекулы льда.
          </p>
          <p class="post__text">
            Так мы и измеряем температуру - ртуть в термометре либо получает
            тепло из окружения и расширяется (из-за подвижности - занимает
            больше места), либо же отдает тепло и падает. Но еще интереснее,
            если при этом передача энергии происходят с человеческим телом.
            Тогда мы ощущаем это как “горячо” или “холодно”, в зависимости от
            того, получили мы энергии или потеряли. Но это взаимодействие, а
            также его влияние на наш организм (и многое другое) мы обсудим уже в
            следующем посте.
          </p>
          <p class="post__text">
            P.S. Да, существуют и другие формы передачи тепла, но сегодня мы не
            сможем все покрыть.
          </p>

          <div class="post__continue continue">
            <a href="/posts/hormesis-a-little-bit-of-bad-good.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Холод</span>
                <span class="continue__heading">
                  Гормезис. Немножко плохо - хорошо?
                </span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="/posts/how-to-feel-temperarture.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Холод</span>
                <span class="continue__heading">Как почувствовать температуру?
                </span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>
        </article>
      </section>
    {% endblock %}