{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Что есть на голодание имитирующей диете? | Адам Леос" />
{% endblock %}
{% block title %} Что есть на голодание имитирующей диете? | Адам Леос {% endblock %}
{% block header_style %}header--secondary{% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/fasting.html"><span>Голодание</span></a>
            <div class="post__delimiter"></div>
          </span>
          Что есть на голодание имитирующей диете?
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/what-to-eat-on-fmd.jpg') }}" alt="what-to-eat-on-fmd">
          </div>
          <p class="post__text">
            Я особо не планировал данный пост, но один из самых частых вопросов,
            после публикации видео о голодании (https://t.me/adamleos/108), был
            “Что есть на
            <a class="post__link" href="/posts/mimicking-fasting.html">имитирующей голодание диете</a>, конкретно”. Поэтому закрывая
            <a class="post__link" href="/posts/fasting-is-not-what-you-think.html">тему голодания</a>, закончим этим постом, где я подробнее поделюсь подходящими
            вариациями блюд и продуктов.
          </p>

          <p class="post__text">
            В ролике я периодически вставлял фотографии блюд, которые были в
            моем рационе на период эксперимента (также опубликовал отдельно их в
            <a class="post__link" href="https://www.instagram.com/p/CU39z2Kl_Fp/" target="_blank">Инстаграмм</a>, можете освежить память). Как и в обычном режиме, я придерживался
            своего классического способа готовки - “накидать всего полезного и
            разного в тарелку, заправить оливковым маслом и специями, и
            потратить как можно меньше времени при этом”.
          </p>
          <p class="post__text">
            Конечно же, на этой диете были небольшие изменения (немного меньше
            выбор и значительно меньше масла). Все, что не поедается в сыром
            виде (зелень, орехи, некоторые виды овощей), я готовлю в скороварке
            (пар под давлением), примерно в течении трех минут в случае овощей.
          </p>
          <p class="post__text">
            Как вы помните по
            <a class="post__link" href="/posts/mimicking-fasting.html">описанию диеты</a>, цель - это снизить количество поглощаемых калорий до 30% от нормы
            в день (примерно), при этом сильно фокусируясь на происхождении
            калорий. Цель - поглощать по максимуму калории из растений,
            преимущественно низкокалорийных овощей и зелени, ведь они
            <a class="post__link" href="/posts/what-to-eat-for-microbiome-to-thrive.html">богаты клетчаткой</a>
            и полезными веществами. Также можно употреблять немного ненасыщенных
            жиров, немного - т.к. подобные продукты довольно калорийны. Быстрые
            углеводы и протеины животного происхождения должны быть исключены.
          </p>
          <p class="post__text">
            К счастью, если быть открытым к продуктам, то выбор все еще очень
            большой - лично я не испытывал проблем с разнообразием вовсе.
            Основой приемов пищи являлись овощи, богатые на клетчатку - спаржа
            (аспарагус), броколли, цветная капуста. Эти я готовил в скороварке,
            и поигрывая количеством воды при готовке, а также специями и
            дополнениями (о них немного дальше) - можно было получать разные
            результаты из одного и того же продукта. Это практически каждый
            знает лучше меня, т.к. я никогда не увлекался приготовлением еды.
          </p>
          <p class="post__text">
            Заправлял я это совсем небольшим количеством оливкового масла, что
            служило источником ненасыщенных жиров. Дополнительно, другими
            источниками были грецкие орехи и фисташки. Эти два наименее
            калорийные среди полезных орехов, но все еще должны быть сильно
            ограничены. Конечно же, речь идет о сырых и несоленых вариациях. В
            моем случае это было около 5 целых грецких орехов и около 15
            фисташек в день. Пару раз я воровал две чайные ложки кокосового
            йогурта (без добавок и подсластителей) у жены. На этом с жирами все.
          </p>
          <p class="post__text">
            На всякий случай, я бы хотел напомнить, что я придерживался более
            строгого режима, поглощая около 400 ккал. в день. Это намного меньше
            30% от моей нормы, но мне казалось что 30% это очень щедро и была
            уверенность и желание попробовать такой режим. В случае же 30% вы
            можете позволить себе намного больше (вплоть до х2 раз от моего
            рациона).
          </p>
          <p class="post__text">
            Говоря о дополнениях к основе блюд, здесь все ограничивается лишь
            вашей фантазией (и доступом к продуктам). Я добавлял укроп,
            петрушку, лук, капусту, кинзу, грибы, редис, репу, латук, ростки
            броколли и капусты, руколлу, шпинат, мангольд, татцой, бок-чой, кале
            (кейл), и еще множество растений из миксов свежих салатов, которые
            не имеют внятного перевода на русский. Просто смотрите, что доступно
            в вашей локации. Многие из данных видов зелени имеют необычный и
            пикатный вкус, способный разнообразить ваше привычное блюдо до
            неузнаваемости.
          </p>
          <p class="post__text">
            Но вишенкой на блюдах были, конечно же, специи. Сами по себе специи
            являются источниками не только богатого и разнообразного вкуса, но
            также и огромного количества полезных веществ. Однажды будет
            отдельный пост, но я бы хотел выделить черный перец, горчицу,
            куркуму, орегано, ну и соль. Также, сушенная зелень, типа укропа или
            петрушки тоже сработает.
          </p>
          <p class="post__text">
            В общем, если разнообразие блюд покажется скудным, или овощи
            приедятся, или подобные ограничения смущают ваши привыкшие к изыскам
            рецепторы - не скупитесь на добавки и специи (но в меру, конечно
            же)! Когда хочется сильно есть - попейте воды. Можно пить чай, лучше
            зеленый или вовсе травяной. Главное - без добавок и подсластилей.
          </p>

          <div class="post__continue continue">
            <a href="/posts/fasting-nuances-v-ending-fast.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Голодание</span>
                <span class="continue__heading">Нюансы голодания. Часть V: Выходим из голодания</span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="./posts/posts/what-is-about-temperature-stress.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Холод</span>
                <span class="continue__heading">О чем температурный стресс?
                </span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>
        </article>
      </section>
    {% endblock %}