{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="" />
{% endblock %}
{% block title %}  {% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/microbiome.html"><span>Микрофлора</span></a>
            <div class="post__delimiter"></div>
          </span>
          Какие повседневные вещи уничтожают микрофлору. Часть I
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/what-destroying-microbiome-i.jpg') }}" alt="what-destroying-microbiome-i">
          </div>
          <p class="post__text">
            Сегодня последний пост о микрофлоре (который не влез в один пост,
            поэтому их два сразу). В конце поста, кстати, упомяну тему следующей
            серии публикаций. В завершении этой темы хотел бы обратить внимание
            на основные вещи в нашей с вами ежедневной жизни, которые незаметно
            разрушают нашу микрофлору.
          </p>
          <p class="post__text">
            Начну с медикаментов. Прежде всего, конечно же, антибиотики. Они
            были великолепным открытием и спасли многие миллионы жизней. Но как
            же неправильно мы их использовали… Они прописывались налево и
            направо, по каждому чиху и просто в целях профилактики. Да и люди
            любили принять антибиотик без повода, ведь “что в этом плохого, они
            убивают все эти плохие бактерии”. И не просто убивают, антибиотики
            буквально выжигают всю вашу микрофлору, будто напалмом [<a href="#sources-list">1</a>]. Только вот потом оказалось, что многие бактерии не только “не
            плохие”, но и критически необходимые для здорового функционирования
            человека. Мы сейчас опустим детали других серьёзных проблем, ждущих
            человечество в будущем из-за переиспользования антибиотиков (как
            бактериальная резистентность) [<a href="#sources-list">2</a>] и
            сосредоточимся лишь на микрофлоре. Но об антибиотиках я обязательно
            сделаю отдельное видео и ряд постов. Пока что же, если вам
            действительно прописали антибиотики и случай серьезный - обязательно
            закончите весь курс, и в особенности курс по восстановлению
            микрофлоры после (и не забывайте о диете).
          </p>
          <p class="post__text">
            Еще есть Нестероидные Противовоспалительные Препараты (НПВП): группа
            лекарственных средств, обладающих обезболивающим, жаропонижающим и
            противовоспалительным эффектами, уменьшают боль, лихорадку и
            воспаление. Известными представителями являются Аспирин и Ибупрофен.
            Такие препараты оказывают значительное негативное влияние на
            микробов в кишечнике [<a href="#sources-list">3</a>]. Так что в
            следующий раз, когда решите принять “аспиринчик для профилактики”,
            вспомните, что сделаете только хуже себе.
          </p>
          <p class="post__text">
            Это ещё не всё! Так как материал в один пост не влез, продолжение о
            незаметных повседневных вещах - ниже, во второй части.
          </p>

          <div class="post__continue continue">
            <a href="/posts/how-microbs-manipulate-with-our-food-preferences.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Микрофлора</span>
                <span class="continue__heading">Как микробы манипулируют нашими предпочтениями в еде</span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="/posts/what-destroying-microbiome-ii.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Микрофлора</span>
                <span class="continue__heading">Какие повседневные вещи уничтожают микрофлору. Часть II</span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4831151/" target="_blank">Amy Langdon, Amy et al. “The effects of antibiotics on the
                  microbiome throughout development and alternative approaches
                  for therapeutic modulation.” Genome medicine vol. 8,1 39. 13
                  Apr. 2016.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2937522/" target="_blank">Davies, Julian, and Dorothy Davies. “Origins and evolution of
                  antibiotic resistance.”
                  <i>Microbiology and molecular biology reviews : MMBR</i> vol.
                  74,3 (2010): 417-33.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4754147/" target="_blank">M Rogers, M A M, and D M Aronoff. “The influence of
                  non-steroidal anti-inflammatory drugs on the gut microbiome.”
                  Clinical microbiology and infection : the official publication
                  of the European Society of Clinical Microbiology and
                  Infectious Diseases vol. 22,2 (2016): 178.e1-178.e9.</a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    {% endblock %}