{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="О чем температурный стресс? | Адам Леос" />
{% endblock %}
{% block title %} О чем температурный стресс? | Адам Леос {% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/temperature-stress-cold.html"><span>Холод</span></a>
            <div class="post__delimiter"></div>
          </span>
          О чем температурный стресс?
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/what-is-about-temperature-stress.jpg') }}" alt="what-is-about-temperature-stress">
          </div>

          <p class="post__text">
            Этот вводный пост я бы хотел посвятить обсуждению причин выбора
            данной темы (температурного стресса), а также что это значит и как
            это работает. Поговорим сейчас обобщенно, а в будущих публикациях
            каждому моменту будет посвящен отдельный подробный пост.
          </p>

          <p class="post__text">
            Изначально, назвать тему я хотел “Контролируемый температурный
            стресс”, но решил остановится на названии “попроще”. Идейно,
            “контролируемый стресс” берет начало из термина Гормезис [1].
          </p>

          <p class="post__text">
            Если вкратце, гормезис подразумевает, что при определенных уровнях
            стресса, организм может получать положительные эффекты. Самые
            распространенными примерами будут физические нагрузки, ограничения
            приемов пищи, небольшие дозы токсических веществ или даже радиации
            [2]. Уже в следующем посте мы поговорим о гормезисе более подробно,
            но сейчас продолжим про температуру.
          </p>

          <p class="post__text">
            Ведь еще одним отличным примером, также довольно известным для
            каждого из нас, будет… закаливание. Что логично, потому что резкий
            холод для нас - довольно сильный стресс, т.к. потенциально несет
            угрозу гомеостазу [3]. И как минимум я за свое детство слышал очень
            уж часто о “закаливании для здоровья”.
          </p>

          <p class="post__text">
            Скажу сразу: эффекты вследствие закаливания имеют место быть, и
            довольно сильные [4, 5]. Но вот насколько они положительны - здесь
            немного сложнее. К счастью, этому будет посвящена целая тема, так
            что ответы мы обязательно найдем!
          </p>

          <p class="post__text">
            Но подождите, ведь холод - это лишь одна сторона термометра… Ведь
            есть еще жара, которая тоже стресс для организма [6]. И такие
            инструменты, как банальная сауна или баня, могут предложить очень (и
            очень) много [7, 8]!
          </p>

          <p class="post__text">
            Чего уж, хотя мне это и было известно, в процессе сбора материала я
            был сильно удивлен увидеть намного большее количество данных именно
            о стрессе теплом, чем холодом.
          </p>

          <p class="post__text">
            Но это мы забегаем немного вперед (в следующую часть данной темы). А
            сейчас же сосредоточимся на холоде. Но вначале, необходимо
            разобраться в базовых концептах. Обещаю, будет интересно, а самое
            главное - очень полезно!
          </p>

          <div class="post__continue continue">
            <a href="/posts/what-to-eat-on-fmd.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Голодание</span>
                <span class="continue__heading">Что есть на голодание имитирующей диете?
                </span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="/posts/hormesis-a-little-bit-of-bad-good.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Холод</span>
                <span class="continue__heading">Гормезис. Немножко плохо - хорошо?
                </span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6213774/" target="_blank">Calabrese, Edward J. “Hormesis: Path and Progression to
                  Significance.”
                  <i>International journal of molecular sciences</i> vol. 19,10
                  2871. 21 Sep. 2018.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a class="sources__link" href="https://sci-hub.se/10.1016/j.arr.2007.08.007" target="_blank">Mattson, Mark P et al. "Hormesis defined".
                  <i>Ageing research reviews</i> vol. 7, 1. 2008 Jan.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a class="sources__link" href="https://sci-hub.se/10.1007/s12024-010-9142-4" target="_blank">Turk, Elisabeth E et al. "Hypothermia".
                  <i>Forensic science, medicine, and pathology</i> vol. 6, 2.
                  2010 Jun.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a class="sources__link" href="https://sci-hub.se/10.1152/jappl.1977.43.2.216" target="_blank">Johnson, D G et al. "Plasma norepinephrine responses of man
                  in cold water".
                  <i>Journal of applied physiology: respiratory, environmental
                    and exercise physiology</i>
                  vol. 43, 2. 1977 Aug.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a class="sources__link" href="https://academic.oup.com/jcem/article/99/3/E438/2537319" target="_blank">ERROR</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a class="sources__link" href="https://sci-hub.hkvisa.net/10.1016/s0002-9343(00)00671-9" target="_blank">Minna L Hannuksela; Samer Ellahham (2001). Benefits and risks
                  of sauna bathing. , 110(2), 0–126.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a class="sources__link" href="https://sci-hub.se/10.1016/j.mayocp.2018.04.008" target="_blank">Laukkanen, Jari A et al. "Cardiovascular and Other Health
                  Benefits of Sauna Bathing: A Review of the Evidence".
                  <i>Mayo Clinic proceedings</i> vol. 93, 8. 2018 Aug.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[8]</span>
                <a class="sources__link" href="https://sci-hub.se/10.1001/jamainternmed.2014.8187" target="_blank">Laukkanen, Tanjaniina et al. "Association between sauna
                  bathing and fatal cardiovascular and all-cause mortality
                  events". <i>JAMA internal medicine</i> vol. 175, 4. 2015
                  Apr.</a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    {% endblock %}