<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/articles.css" />
    <link rel="stylesheet" href="../styles/post.css" />
    <link rel="stylesheet" href="../styles/continue.css" />
    <link rel="stylesheet" href="../styles/sources.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <title>
      Какие повседневные вещи уничтожают микрофлору. Часть II | Адам Леос
    </title>
  </head>

  <body>
    <header class="header header--secondary">
      <nav class="header__nav nav">
        <input type="checkbox" id="hamburger" class="nav__hamburger-checkbox" />
        <label for="hamburger" class="nav__hamburger">
          <span class="nav__bar-one"></span>
          <span class="nav__bar-two"></span>
          <span class="nav__bar-three"></span>
        </label>
        <a href="../index.html" class="header__link header__link--mobile">
          <img
            src="../img/logo.png"
            alt="graphic brain with mustache"
            class="header__logo"
          />
        </a>
        <ul class="nav__list">
          <li class="nav__item">
            <a href="../index.html" class="nav__link">Главная</a>
          </li>
          <li class="nav__item">
            <a href="../topics/index.html" class="nav__link">Темы</a>
          </li>
          <li class="nav__item nav__item--logo">
            <a href="../index.html" class="header__link">
              <img
                src="../img/logo.png"
                alt="graphic brain with mustache"
                class="header__logo"
              />
            </a>
          </li>
          <li class="nav__item">
            <a href="../media/index.html" class="nav__link">Медиа</a>
          </li>
          <li class="nav__item">
            <a href="../contacts/index.html" class="nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main">
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="../topics/microbiome.html"><span>Микрофлора</span></a>
            <div class="post__delimiter"></div>
          </span>
          Какие повседневные вещи уничтожают микрофлору. Часть II
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img
              class="post__image"
              src="../img/posts/what-destroying-microbiome-ii.jpg"
              alt="what-destroying-microbiome-ii"
            />
          </div>
          <p class="post__text">
            Но если медикаменты мы еще как-то осознанно привносим в свою жизнь,
            то вот другая группа вещей уже приходит незаметно. Первый
            представитель этой группы будет содержаться в водопроводной воде,
            причем в очень щедрых количествах. Я говорю о хлоре, который несет
            разрушающий эффект на некоторые виды бактерий кишечника, что в итоге
            ассоциировано с развитием Колоректального рака [<a
              href="#sources-list"
              >1</a
            >]. К слову, даже если вы живете в месте, где считается, что вода
            из-под крана питьевая - обязательно перепроверьте эту информации из
            каких-нибудь независимых источников. Именно таким образом я
            обнаружил что вода в Mountain View, где я проживаю, считающаяся
            “одной из самых чистых”, на самом деле превышает ряд безопасных
            норм. Включая галоуксусную кислоту (превышает в 320 раз!),
            трихлоруксусную кислоту (в 118 раз), бромодихлометан (в 116 раз),
            хлороформ (в 87 раз) и другие, несущие целый ряд потенциальных
            проблем для человеческого здоровья [<a href="#sources-list">2</a>].
            Но об этом мы поговорим в другой раз.
          </p>
          <p class="post__text">
            Не уходя далеко от воды, мы также можем обнаружить опасно высокие
            уровни мышьяка (частый случай с питьевой водой), который нарушает
            правильное функционирование микробиома (опять-таки, в дополнении к
            ряду других проблем) [<a href="#sources-list">3</a>]. Занимательно,
            что мужчины более уязвимы и имеют больше негативных последствий от
            мышьяка [<a href="#sources-list">4</a>]. Так что постарайтесь найти
            качественную питьевую воду для заказа на дом.
          </p>
          <p class="post__text">
            Еще частой добавкой в питьевой воде является фторид. Тот самый,
            который еще находится в ряде средств для гигиены полости рта, ведь
            он помогает бороться с кариесом. На самом же деле фторид уничтожает
            оральную микрофлору. И стенки кишечника [<a href="#sources-list"
              >5</a
            >]. Зато с кариесом проблем меньше. И если анти-бактериальное мыло
            производить уже запретили, то такую продукцию гигиены ротовой
            полости еще нет. Поэтому держитесь подальше от средств типа “для
            полоскания рта” и выбирайте зубную пасту внимательно. (вообще хоть
            отдельный пост пиши о “безопасной продукции в ежедневной жизни” - во
            всех индустриях все очень плохо).
          </p>
          <p class="post__text">
            Закончим мы на гербицидах, а конкретно глифосате - средстве для
            борьбы с сорняками и вредителями, мешающим выращивать овощи и
            фрукты. Он имеет огромное количество негативного влияние на
            здоровье, ну и, само собой, на микрофлору. Особенно у детей, еще не
            достигших полового созревания. А как мы уже знаем, в этот период
            происходит много критических процессов развития человека. Вообще,
            Всемирная Ассоциация Здравоохранения обозначила глифосат как
            “потенциально канцерогенный” (т.е. cпособствующий развитию рака). Не
            так давно фиксировали его небезопасно высокие уровни у более чем 90%
            американцев. Включая беременных женщин, а глифосат нарушает
            корректное развитие плода. Даже если вы употребляете его через
            питьевую воду в “одобренным государством безопасном уровне” [<a
              href="#sources-list"
              >6</a
            >]. Здесь я бы советовал все же покупать органическую продукцию, где
            это возможно. Там хотя бы ряд таких веществ запрещен к использованию
            (но это не значит что “все 100% безопасно” и с органическими
            продуктами).
          </p>
          <p class="post__text">
            Ну что ж, думаю, на сегодня уже достаточно. Надеюсь, пост был
            полезным, а тема Микрофлоры вам понравилась. Ведь в следующий раз мы
            будем уже говорить о сне, и как такой интересный и загадочный
            процесс организма является ключевым для здоровья и жизни.
          </p>

          <div class="post__continue continue">
            <a
              href="./what-destroying-microbiome-i.html"
              class="continue__button"
            >
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Микрофлора</span>
                <span class="continue__heading"
                  >Какие повседневные вещи уничтожают микрофлору. Часть I</span
                >
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="./everyone-sleeps.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Сон</span>
                <span class="continue__heading">Спят все</span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4505894/"
                  target="_blank"
                  >Sasada, Tatsunari et al. “Chlorinated Water Modulates the
                  Development of Colorectal Tumors with Chromosomal Instability
                  and Gut Microbiota in Apc-Deficient Mice.”
                  <i>PloS one</i> vol. 10,7 e0132435. 17 Jul. 2015.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a
                  class="sources__link"
                  href="https://www.ewg.org/tapwater/system.php?pws=CA4310007"
                  target="_blank"
                  >City of Mountain View. “EWG's Tap Water Database: What's in
                  Your Drinking Water?” EWG Tap Water Database.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a
                  class="sources__link"
                  href="http://sci-hub.st/10.1289/ehp.1307429"
                  target="_blank"
                  >Lu, Kun et al. "Arsenic exposure perturbs the gut microbiome
                  and its metabolic profile in mice: an integrated metagenomics
                  and metabolomics analysis".
                  <i>Environmental health perspectives</i> vol. 122, 3. 2014
                  Mar.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a
                  class="sources__link"
                  href="https://sci-hub.st/10.1021/acs.chemrestox.6b00066"
                  target="_blank"
                  >Chi, Liang et al. "Sex-Specific Effects of Arsenic Exposure
                  on the Trajectory and Function of the Gut Microbiome".
                  <i>Chemical research in toxicology</i> vol. 29, 6.
                  06/20/2016.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a
                  class="sources__link"
                  href="http://sci-hub.st/10.1016/j.chemosphere.2019.06.080"
                  target="_blank"
                  >Liu, Jing et al. "Intestinal barrier damage involved in
                  intestinal microflora changes in fluoride-induced mice".
                  <i>Chemosphere</i> vol. 234. 2019 Nov.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7780628/"
                  target="_blank"
                  >Suppa, Antonio et al. “Roundup causes embryonic development
                  failure and alters metabolic pathways and gut microbiota
                  functionality in non-target species.” <i>Microbiome</i> vol.
                  8,1 170. 15 Dec. 2020.</a
                >
              </li>
            </ul>
          </div>
        </article>
      </section>
    </main>
  </body>
</html>
