{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="" />
{% endblock %}
{% block title %}  {% endblock %}
{% block header_style %}header--secondary{% endblock %}
{% block content %}
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="/topics/microbiome.html"><span>Микрофлора</span></a>
            <div class="post__delimiter"></div>
          </span>
          Чем питаться, чтобы микрофлора кишечника процветала (а вместе с ней и
          вы)
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img class="post__image" src="{{ url_for('static', filename='img/posts/what-to-eat-for-microbiome-to-thrive.jpg') }}" alt="what-to-eat-for-microbiome-to-thrive">
          </div>
          <p class="post__text">
            Сегодня более практичный пост, где мы обсудим пищу, которую обожает
            наша микрофлора и которая в итоге сделает нас здоровее и счастливее.
            На всякий случай - это не пример "правильного питания", а лишь
            обсуждение лучшей еды для развития хорошей микрофлоры. Но буду
            честным, это одно из лучших улучшений в питании, что вы можете
            сделать.
          </p>
          <p class="post__text">
            Быстро напомню, что микроорганизмы в нашем кишечнике очень любят
            клетчатку [<a href="#sources-list">1</a>]. Это такие сложные
            углеводы (еще называют медленными), которые пищеварение человека не
            в состоянии самостоятельно переработать. Поэтому такая еда проходит
            по пищеварительному каналу, пока не попадет в толстую кишку, где за
            нее возьмутся триллионы микроорганизмов [<a href="#sources-list">2</a>]. А если углеводы были качественными, заодно произведут для нас
            витамины, короткоцепочечные жирные кислоты, нейромедиаторы и прочие
            полезные вещества [<a href="#sources-list">3</a>].
          </p>
          <p class="post__text">
            Так откуда же взять эту волшебную клетчатку? Источников очень много
            и самый очевидный - растения. Пожалуйста, пускай вас не отталкивает
            обилие овощей и зелени, они все очень отличаются и невероятно богаты
            на вкус. А в совокупности с легкостью приготовления и доступностью,
            чудесно дополнят рацион каждого. И да, я уже говорил что они крайне
            полезны?
          </p>
          <p class="post__text">
            * Обратите внимание на обширное семейство Капустных или
            Крестоцветных растений (приготовьтесь к обилию слова "капуста" в
            названиях - почему-то на русском названия не очень оригинальные - на
            английском все виды называются абсолютно иначе) - броколли, капуста,
            брюссельская капуста, цветная капуста, кудрявая капуста, романеско,
            кольраби, редис, репа, хрен, бок-чой, руккола, и много другого.
          </p>
          <p class="post__text">
            * обязательно привнесите в рацион корнеплоды - пастернак, сельдерей,
            свекла, морковь, турнепс, редька, брюква, дайкон
          </p>
          <p class="post__text">
            * будьте щедры с зеленью: латук, шпинат, петрушка, укроп, кинза,
            мята, базилик, мангольд
          </p>
          <p class="post__text">
            * не забудьте о интересных клубнях - якон, сладкий картофель (не
            путать с обычным), маниок, имбирь, ямс, юкка
          </p>
          <p class="post__text">
            * отдельным рядом орехи - макадамия, грецкий, бразильский (немного),
            лесной, фисташки, пекан (немного), ну и кокос
          </p>
          <p class="post__text">
            * конечно же фрукты и ягоды (только очень прошу, не наседайте - в
            современных фруктах и ягодах мало клетчатки, но много сахара).
            Перечислю самые "хорошие" - ежевика, малина, гранат, сливы, абрикосы
          </p>
          <p class="post__text">
            * также важные полезные - авокадо, артишок, куркума, окра, оливки,
            фенхель, бобы (хорошо приготовить), радиккьо
          </p>
          <p class="post__text">
            * ну и должен быть честным и упомянуть крупы, как хороший источник
            клетчатки, но сразу же скажу что я лично их не ем по ряду причин, о
            которых мы поговорим в будущем. Пока на ваше усмотрение.
          </p>
          <p class="post__text">
            Есть еще источники определенных видов клетчатки, очень радующей
            микрофлору кишечника, возьмите на отдельную заметку:
          </p>
          <p class="post__text">
            * Инулин [<a href="#sources-list">4</a>] (не путать с инсулином) -
            лук, чеснок, корни цикория, хикама, якон, топинамбур, одуванчик
          </p>
          <p class="post__text">
            * Олигосахариды [<a href="#sources-list">5</a>] (определенные виды
            находятся в человеческом грудном молоке) - спаржа, лук-порей,
            топинамбур
          </p>
          <p class="post__text">
            * Стойкий крахмал [<a href="#sources-list">6</a>] (не путать с
            обычным крахмалом, который является быстрым углеводом и может
            привести к проблемам со здоровьем) - сладкий картофель, якон, ямс
          </p>
          <p class="post__text">
            * Вы же не забыли, что среди вашей микрофлоры кишечника находятся
            грибки? Для них даже отдельное обозначение есть - Mycobiom [<a href="#sources-list">7</a>]. Так вот, к слову о грибах - обязательно ешьте грибы, все
            съедобные виды и не ограничивайте себя
          </p>
          <p class="post__text">
            Ну что ж, вышел довольно большой список, где каждый найдет что-то
            для себя. Главное привносите в свой рацион понемногу полезные вещи,
            экспериментируйте, и вы не заметите, как начнете есть здорово и при
            этом получать все больше удовольствия от еды. Я серьезно - если бы
            мне кто-то сказал два года назад, что я буду есть много овощей и
            зелени, и при этом получать удовольствия больше, чем от нутеллы и
            пиццы, я бы покрутил пальцем у виска. Но сегодня это именно так.
          </p>
          <p class="post__text">
            Кстати, микрофлора вам в этом поможет (микробы могут манипулировать
            вашим аппетитом и сигналами вкусовых и обонятельных рецепторов - но
            об этом в другой раз [<a href="#sources-list">8</a>]).
          </p>

          <div class="post__continue continue">
            <a href="/posts/which-useful-compounds-microbiom-makes-for-us.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Микрофлора</span>
                <span class="continue__heading">
                  Какие полезные (и критически необходимые) вещества производит
                  для нас наша микрофлора
                </span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a href="/posts/probiotics-and-prebiotics-crucial-for-health.html" class="continue__button">
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Микрофлора</span>
                <span class="continue__heading">ПРОбиотики и ПРЕбиотики - инструмент для втюхивания йогуртов
                  или важная составляющая крепкого здоровья?</span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a class="sources__link" href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(18)31809-9/fulltext" target="_blank">Andrew Reynolds, Andrew et al. “Carbohydrate quality and
                  human health: a series of systematic reviews and
                  meta-analyses.” Lancet (London, England) vol. 393,10170
                  (2019): 434-445.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5390821/" target="_blank">Hannah Holscher, Hannah D. “Dietary fiber and prebiotics and
                  the gastrointestinal microbiota.” Gut microbes vol. 8,2
                  (2017): 172-184.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a class="sources__link" href="https://sci-hub.se/10.1097/00004836-200603000-00015" target="_blank">Wong, Julia M W et al. "Colonic health: fermentation and
                  short chain fatty acids".
                  <i>Journal of clinical gastroenterology</i> vol. 40, 3. 2006
                  Mar.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a class="sources__link" href="https://peerj.com/articles/4446/" target="_blank">Zhang, Qian et al. “Inulin-type fructan improves diabetic
                  phenotype and gut microbiota profiles in rats.” PeerJ vol. 6
                  e4446. 1 Mar. 2018.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4974821/" target="_blank">Monteagudo-Mera, A et al. “High purity
                  galacto-oligosaccharides enhance specific Bifidobacterium
                  species and their metabolic activity in the mouse gut
                  microbiome.” <i>Beneficial microbes</i> vol. 7,2 (2016):
                  247-64.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7758519/" target="_blank">Patthanakorn Jaiturong, Patthanakorn et al. “Physicochemical
                  and prebiotic properties of resistant starch from Musa
                  sapientum Linn., ABB group, cv. Kluai Namwa Luang.” Heliyon
                  vol. 6,12 e05789. 21 Dec. 2020.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a class="sources__link" href="https://academic.oup.com/femsre/article/41/4/479/3738183" target="_blank">Huseyin, Chloe E et al. “Forgotten fungi-the gut mycobiome in
                  human health and disease.” FEMS microbiology reviews vol. 41,4
                  (2017): 479-511.</a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[8]</span>
                <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4270213/" target="_blank">Alcock, Joe et al. “Is eating behavior manipulated by the
                  gastrointestinal microbiota? Evolutionary pressures and
                  potential mechanisms.”
                  <i>BioEssays : news and reviews in molecular, cellular and
                    developmental biology</i>
                  vol. 36,10 (2014): 940-9.</a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    {% endblock %}