{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Все темы об улучшении здоровья и качества жизни | Адам Леос" />
{% endblock %}
{% block title %} Все темы об улучшении здоровья и качества жизни | Адам Леос {% endblock %}
{% block content %}
      <section class="main__section articles">
        <h2 class="main__heading">Темы</h2>

        <div class="articles__grid">
          <div class="articles__topic">
            <h3 class="articles__heading">
              <a href="/topics/temperature-stress-cold.html"><span>Температурный Стресс: Холод</span></a>
              <span class="articles__delimiter"></span>
            </h3>
            <article class="articles__preview article">
              <div class="article__top">
                <a class="article__link" href="/posts/how-to-feel-temperarture.html">
                  <div class="article__imagewrapper">
                    <img class="article__image" src="{{ url_for('static', filename='img/posts/how-to-feel-temperarture.jpeg') }}" alt="how-to-feel-temperarture">
                  </div>
                </a>
                <a class="article__link" href="/topics/temperature-stress-cold.html">
                  <span class="article__tag">Холод</span>
                </a>
                <a class="article__link" href="/posts/how-to-feel-temperarture.html">
                  <h3 class="article__heading">
                    Как почувствовать температуру?
                  </h3>
                </a>
              </div>
              <a class="article__link" href="/posts/how-to-feel-temperarture.html">
                <p class="article__description">
                  Что ж, в предыдущем посте, где мы разбирали что вообще такое
                  “температура”, я немного затронул сегодняшнюю тему. А
                  конкретно: как наш организм воспринимает и реагирует на
                  изменения температуры. Давайте взглянем на них подробнее, т.к.
                  на этой информации, по сути, и будет построен весь последующий
                  материал. Начнем с самого актуального: Нобелевская Премия по
                  медицине в этом году была выдана двум ученым за открытие
                  рецепторов температуры и прикосновений. Как вы догадались, нас
                  интересует первые рецепторы (хотя другие тоже очень
                  интересные, может быть однажды в будущем обсудим)
                </p>
              </a>
            </article>

            <article class="articles__preview article">
              <div class="article__top">
                <a class="article__link" href="/posts/what-is-a-temperature-anyway.html">
                  <div class="article__imagewrapper">
                    <img class="article__image" src="{{ url_for('static', filename='img/posts/what-is-a-temperature-anyway.jpeg') }}" alt="what-is-a-temperature-anyway">
                  </div>
                </a>
                <a class="article__link" href="/topics/temperature-stress-cold.html">
                  <span class="article__tag">Холод</span>
                </a>
                <a class="article__link" href="/posts/what-is-a-temperature-anyway.html">
                  <h3 class="article__heading">
                    А что вообще значит “температура”?
                  </h3>
                </a>
              </div>
              <a class="article__link" href="/posts/what-is-a-temperature-anyway.html">
                <p class="article__description">
                  Ну что, делаем последнее небольшое ответвление в физику и
                  разберемся, что вообще значит эта штука “температура”. Не
                  напрягайтесь, физики на самом деле почти не будет, но будут
                  очень ценные знания, которые когда-то перевернули мое
                  восприятие мира. Начнем с того, что “температуры” не
                  существует. Это очередная абстракция, которая позволяет нам
                  описать какие-то физические концепты. Что мы описываем в этот
                  раз? Энергию! В частности, тепловую энергию.
                </p>
              </a>
            </article>

            <a href="/topics/temperature-stress-cold.html" class="articles__all">
              <span class="articles__arrow articles__arrow--top">&nbsp;</span>
              <span class="articles__arrow-text articles__arrow-text--tall">Все посты по теме <br>&laquo;Холод&raquo;</span>
              <span class="articles__arrow articles__arrow--bottom">&nbsp;</span>
            </a>

            <a href="/topics/temperature-stress-cold.html" class="articles__button articles__button--mobile">
              Все посты по теме <br>&laquo;Холод&raquo;
            </a>
          </div>

          <div class="articles__topic">
            <h3 class="articles__heading">
              <a href="/topics/fasting.html"><span>Голодание</span></a>
              <span class="articles__delimiter"></span>
            </h3>
            <article class="articles__preview article">
              <div class="article__top">
                <a class="article__link" href="/posts/what-to-eat-on-fmd.html">
                  <div class="article__imagewrapper">
                    <img class="article__image" src="{{ url_for('static', filename='img/posts/what-to-eat-on-fmd.jpg') }}" alt="what-to-eat-on-fmd">
                  </div>
                </a>
                <a href="/topics/fasting.html"><span class="article__tag">Голодание</span></a>
                <a class="article__link" href="/posts/what-to-eat-on-fmd.html">
                  <h3 class="article__heading">
                    Что есть на имитирующей голодание диете?
                  </h3>
                </a>
              </div>
              <a class="article__link" href="/posts/what-to-eat-on-fmd.html">
                <p class="article__description">
                  Я особо не планировал данный пост, но один из самых частых
                  вопросов, после публикации видео о голодании , был “Что есть
                  на имитирующей голодание диете, конкретно”. Поэтому закрывая
                  тему голодания , закончим этим постом, где я подробнее
                  поделюсь подходящими вариациями блюд и продуктов.
                </p>
              </a>
            </article>

            <article class="articles__preview article">
              <div class="article__top">
                <a class="article__link" href="/posts/fasting-nuances-v-ending-fast.html">
                  <div class="article__imagewrapper">
                    <img class="article__image" src="{{ url_for('static', filename='img/posts/fasting-nuances-v-ending-fast.jpg') }}" alt="fasting-nuances-v-ending-fast">
                  </div>
                </a>
                <a class="article__link" href="/topics/fasting.html">
                  <span class="article__tag">Голодание</span>
                </a>
                <a class="article__link" href="/posts/fasting-nuances-v-ending-fast.html">
                  <h3 class="article__heading">
                    Нюансы голодания. Часть V: Выходим из голодания
                  </h3>
                </a>
              </div>
              <a class="article__link" href="/posts/fasting-nuances-v-ending-fast.html">
                <p class="article__description">
                  Ладненько, последняя часть нюансов голодания, а заодно и
                  заключительный пост темы голодания перед выходом видео.
                  Сегодня хотел бы обратить внимание на один важный нюанс,
                  который обычно не берется во внимание - как правильно и
                  безопасно выйти из голодания.
                </p>
              </a>
            </article>

            <a href="/topics/fasting.html" class="articles__all">
              <span class="articles__arrow articles__arrow--top">&nbsp;</span>
              <span class="articles__arrow-text articles__arrow-text--tall">Все посты по теме <br>&laquo;Голоданиe&raquo;</span>
              <span class="articles__arrow articles__arrow--bottom">&nbsp;</span>
            </a>

            <a href="/topics/fasting.html" class="articles__button articles__button--mobile">
              Все посты по теме <br>&laquo;Голоданиe&raquo;
            </a>
          </div>

          <div class="articles__topic">
            <h3 class="articles__heading">
              <a href="/topics/sleep.html"><span>Сон</span></a><span class="articles__delimiter"></span>
            </h3>
            <article class="articles__preview article">
              <div class="article__top">
                <a class="article__link" href="/posts/growing-in-sleep.html">
                  <div class="article__imagewrapper">
                    <img class="article__image" src="{{ url_for('static', filename='img/posts/growing-in-sleep.jpg') }}" alt="growing-in-sleep">
                  </div>
                </a>
                <a class="article__link" href="/topics/sleep.html">
                  <span class="article__tag">Сон</span>
                </a>
                <a class="article__link" href="/posts/growing-in-sleep.html">
                  <h3 class="article__heading">Растем во сне</h3>
                </a>
              </div>
              <a class="article__link" href="/posts/growing-in-sleep.html">
                <p class="article__description">
                  Вот и самый последний пост по теме сна. Закончим мы довольно
                  важной информацией о связи сна с гормоном роста. Я очень хотел
                  об этом упомянуть в видео, но ролик был и без того объёмный.
                  Быстрая вводная - гормон роста это именно то, что вы подумали.
                  Этот протеин стимулирует рост, регенерацию и деление клеток.
                  Гормон роста является критической составляющей для
                  полноценного роста и развития тела, особенно в период
                  взросления.
                </p>
              </a>
            </article>

            <article class="articles__preview article">
              <div class="article__top">
                <a class="article__link" href="/posts/caffeine-sleep.html">
                  <div class="article__imagewrapper">
                    <img class="article__image" src="{{ url_for('static', filename='img/posts/caffeine-sleep.jpg') }}" alt="caffeine-sleep">
                  </div>
                </a>
                <a class="article__link" href="/topics/sleep.html">
                  <span class="article__tag">Сон</span>
                </a>
                <a class="article__link" href="/posts/caffeine-sleep.html">
                  <h3 class="article__heading">Кофеиновый сон</h3>
                </a>
              </div>
              <a class="article__link" href="/posts/caffeine-sleep.html">
                <p class="article__description">
                  Пора серьезно поговорить о кофеине, самом популярном
                  психоактивном веществе. Кофеин оказывает сильный эффект на
                  центральную нервную систему и довольно близок по эффектам к
                  таким веществам как героин, кокаин и амфетамин. И хотя эффекты
                  не такие значительные, как от последних веществ, я все же
                  настоятельно попрошу вас отнестись серьезно к моим словам (и
                  данным), так как ситуация серьезнее, чем мы ее воспринимаем
                </p>
              </a>
            </article>

            <a href="/topics/sleep.html" class="articles__all">
              <span class="articles__arrow articles__arrow--top">&nbsp;</span>
              <span class="articles__arrow-text articles__arrow-text--tall">Все посты по теме <br>&laquo;Сон&raquo;</span>
              <span class="articles__arrow articles__arrow--bottom">&nbsp;</span>
            </a>

            <a href="/topics/sleep.html" class="articles__button articles__button--mobile">
              Все посты по теме <br>&laquo;Сон&raquo;
            </a>
          </div>

          <div class="articles__topic">
            <h3 class="articles__heading">
              <a href="/topics/microbiome.html">
                <span>Микрофлора</span>
              </a>
              <span class="articles__delimiter"></span>
            </h3>

            <article class="articles__preview article">
              <div class="article__top">
                <a class="article__link" href="/posts/what-destroying-microbiome-ii.html">
                  <div class="article__imagewrapper">
                    <img class="article__image" src="{{ url_for('static', filename='img/posts/what-destroying-microbiome-ii.jpg') }}" alt="what-destroying-microbiome-ii">
                  </div>
                </a>
                <a href="/topics/microbiome.html"><span class="article__tag">Микрофлора</span></a>
                <a class="article__link" href="/posts/what-destroying-microbiome-ii.html">
                  <h3 class="article__heading">
                    Какие повседневные вещи уничтожают микрофлору. Часть II
                  </h3>
                </a>
              </div>
              <a class="article__link" href="/posts/what-destroying-microbiome-ii.html">
                <p class="article__description">
                  Но если медикаменты мы еще как-то осознанно привносим в свою
                  жизнь, то вот другая группа вещей уже приходит незаметно.
                  Первый представитель этой группы будет содержаться в
                  водопроводной воде, причем в очень щедрых количествах. Я
                  говорю о хлоре, который несет разрушающий эффект на некоторые
                  виды бактерий кишечника, что в итоге ассоциировано с развитием
                  Колоректального рака
                </p>
              </a>
            </article>

            <article class="articles__preview article">
              <div class="article__top">
                <a class="article__link" href="/posts/what-destroying-microbiome-i.html">
                  <div class="article__imagewrapper">
                    <img class="article__image" src="{{ url_for('static', filename='img/posts/what-destroying-microbiome-i.jpg') }}" alt="what-destroying-microbiome-i">
                  </div>
                </a>
                <a href="/topics/microbiome.html"><span class="article__tag">Микрофлора</span></a>
                <a class="article__link" href="/posts/what-destroying-microbiome-i.html">
                  <h3 class="article__heading">
                    Какие повседневные вещи уничтожают микрофлору. Часть I
                  </h3>
                </a>
              </div>
              <a class="article__link" href="/posts/what-destroying-microbiome-i.html">
                <p class="article__description">
                  Сегодня последний пост о микрофлоре (который не влез в один
                  пост, поэтому их два сразу), а на следующей неделе уже релиз
                  видео. В конце поста, кстати, упомяну тему следующей серии
                  публикаций и нового ролика. В завершении этой темы хотел бы
                  обратить внимание на основные вещи в нашей с вами ежедневной
                  жизни, которые незаметно разрушают нашу микрофлору.
                </p>
              </a>
            </article>

            <a href="/topics/microbiome.html" class="articles__all">
              <span class="articles__arrow articles__arrow--top">&nbsp;</span>
              <span class="articles__arrow-text articles__arrow-text--tall">Все посты по теме <br>&laquo;Микрофлора&raquo;</span>
              <span class="articles__arrow articles__arrow--bottom">&nbsp;</span>
            </a>

            <a href="/topics/microbiome.html" class="articles__button articles__button--mobile">
              Все посты по теме <br>&laquo;Микрофлора&raquo;
            </a>
          </div>
        </div>
      </section>
    {% endblock %}