{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include "styles-post.html"%}
<meta name="description" content="Температурный Стресс: Холод" />
{% endblock %}
{% block title %} {% endblock %}
{% block content %}
<section class="main__section articles">
  <h2 class="main__heading">Температурный Стресс: Холод</h2>

  <input type="checkbox" id="gradient" class="articles__gradient-checkbox">
  <ul class="articles__list">
    <label for="gradient" class="articles__navigation">
      <span class="articles__navigation-arrow"></span>
      <span class="
                articles__navigation-arrow articles__navigation-arrow--right
              "></span>
    </label>
    <li class="articles__item">
      <a href="/posts/what-is-about-temperature-stress.html" class="articles__link">1. О чем температурный стресс?
      </a>
    </li>

    <li class="articles__item">
      <a href="/posts/hormesis-a-little-bit-of-bad-good.html" class="articles__link">2. Гормезис. Немножко плохо -
        хорошо?
      </a>
    </li>

    <li class="articles__item">
      <a href="/posts/what-is-a-temperature-anyway.html" class="articles__link">3. А что вообще значит “температура”?
      </a>
    </li>

    <li class="articles__item">
      <a href="/posts/how-to-feel-temperature.html" class="articles__link">4. Как почувствовать температуру?
      </a>
    </li>

    <li class="articles__item">
      <a href="/posts/reacting-to-cold.html" class="articles__link">5. Реагируем на холод
      </a>
    </li>

    <li class="articles__item">
      <a href="/posts/three-colors-of-fat.html" class="articles__link">6. Три цвета жира
      </a>
    </li>

    <li class="articles__item">
      <a href="/posts/brown-fat.html" class="articles__link">7. Коричневый жир (ну или бурый)
      </a>
    </li>

    <li class="articles__item">
      <a href="/posts/how-cold-makes-you-stronger.html" class="articles__link">8. Как холод закаляет
      </a>
    </li>

    <li class="articles__item">
      <a href="/posts/how-to-lose-weight-with-cold.html" class="articles__link">9. Как похудеть при помощи холода
      </a>
    </li>

    <li class="articles__item">
      <a href="/posts/sport-and-cold-what-to-cool.html" class="articles__link">10. Спорт и холод. Что будем охлаждать?
      </a>
    </li>

    <li class="articles__item">
      <a href="/posts/sport-and-cold-is-it-that-good.html" class="articles__link">11. Спорт и холод. Так ли это хорошо?
      </a>
    </li>

    <li class="articles__item">
      <a href="/posts/sport-and-cold-increasing-perfomance.html" class="articles__link">12. Cпорт и холод. Как увеличить
        производительность?
      </a>
    </li>

    <li class="articles__item">
      <a href="/posts/brain-cooling.html" class="articles__link">13. Охлаждение для мозга
      </a>
    </li>

    <li class="articles__item">
      <a href="/posts/can-cold-make-immunity-stronger.html" class="articles__link">14. Можно ли холодом закалить
        иммунитет?
      </a>
    </li>

    <li class="articles__item">
      <a href="/posts/adapting-to-cold.html" class="articles__link">15. Как закалиться без проблем
      </a>
    </li>
  </ul>

  <span class="articles__delimiter articles__delimiter--single"></span>

  <div class="articles__grid">
    <div class="articles__topic">
      <article class="articles__preview article">
        <div class="article__top">
          <a class="article__link" href="/posts/what-is-about-temperature-stress.html">
            <div class="article__imagewrapper">
              <img class="article__image"
                src="{{ url_for('static', filename='img/posts/what-is-about-temperature-stress.jpg') }}"
                alt="what-is-about-temperature-stress">
            </div>
          </a>
          <a class="article__link" href="/topics/temperature-stress-cold.html">
            <span class="article__tag">Холод</span>
          </a>
          <a class="article__link" href="/posts/what-is-about-temperature-stress.html">
            <h3 class="article__heading">О чем температурный стресс?</h3>
          </a>
        </div>
        <a class="article__link" href="/posts/what-is-about-temperature-stress.html">
          <p class="article__description">
            Этот вводный пост я бы хотел посвятить обсуждению причин
            выбора данной темы (температурного стресса), а также что это
            значит и как это работает. Поговорим сейчас обобщенно, а в
            будущих публикациях каждому моменту будет посвящен отдельный
            подробный пост. Изначально, назвать тему я хотел
            “Контролируемый температурный стресс”, но решил остановится на
            названии “попроще”. Идейно, “контролируемый стресс” берет
            начало из термина Гормезис
          </p>
        </a>
      </article>

      <article class="articles__preview article">
        <div class="article__top">
          <a class="article__link" href="/posts/hormesis-a-little-bit-of-bad-good.html">
            <div class="article__imagewrapper">
              <img class="article__image"
                src="{{ url_for('static', filename='img/posts/hormesis-a-little-bit-of-bad-good.png') }}"
                alt="hormesis-a-little-bit-of-bad-good">
            </div>
          </a>
          <a class="article__link" href="/topics/temperature-stress-cold.html">
            <span class="article__tag">Холод</span>
          </a>
          <a class="article__link" href="/posts/hormesis-a-little-bit-of-bad-good.html">
            <h3 class="article__heading">
              Гормезис. Немножко плохо - хорошо?
            </h3>
          </a>
        </div>
        <a class="article__link" href="/posts/hormesis-a-little-bit-of-bad-good.html">
          <p class="article__description">
            В предыдущем посте я кратко упоминал концепт под названием
            “Гормезис”. Концепт интересный и полезный, а самое главное -
            тесно связанный с нашей темой. Давайте взглянем на него самую
            малость подробнее. Гормезис подразумевает, что многие виды
            вредоносного стресса для организма могут быть… благоприятны.
            Вопрос лишь в “дозировке”. И спектр возможных стрессоров
            довольно широкий - от банальных физических нагрузок и
            экстремальных температур, вплоть до токсинов и даже радиации
          </p>
        </a>
      </article>

      <article class="articles__preview article">
        <div class="article__top">
          <a class="article__link" href="/posts/what-is-a-temperature-anyway.html">
            <div class="article__imagewrapper">
              <img class="article__image"
                src="{{ url_for('static', filename='img/posts/what-is-a-temperature-anyway.jpeg') }}"
                alt="what-is-a-temperature-anyway">
            </div>
          </a>
          <a class="article__link" href="/topics/temperature-stress-cold.html">
            <span class="article__tag">Холод</span>
          </a>
          <a class="article__link" href="/posts/what-is-a-temperature-anyway.html">
            <h3 class="article__heading">
              А что вообще значит “температура”?
            </h3>
          </a>
        </div>
        <a class="article__link" href="/posts/what-is-a-temperature-anyway.html">
          <p class="article__description">
            Ну что, делаем последнее небольшое ответвление в физику и
            разберемся, что вообще значит эта штука “температура”. Не
            напрягайтесь, физики на самом деле почти не будет, но будут
            очень ценные знания, которые когда-то перевернули мое
            восприятие мира. Начнем с того, что “температуры” не
            существует. Это очередная абстракция, которая позволяет нам
            описать какие-то физические концепты. Что мы описываем в этот
            раз? Энергию! В частности, тепловую энергию.
          </p>
        </a>
      </article>

      <article class="articles__preview article">
        <div class="article__top">
          <a class="article__link" href="/posts/how-to-feel-temperature.html">
            <div class="article__imagewrapper">
              <img class="article__image"
                src="{{ url_for('static', filename='img/posts/how-to-feel-temperature.jpeg') }}"
                alt="how-to-feel-temperature">
            </div>
          </a>
          <a class="article__link" href="/topics/temperature-stress-cold.html">
            <span class="article__tag">Холод</span>
          </a>
          <a class="article__link" href="/posts/how-to-feel-temperature.html">
            <h3 class="article__heading">
              Как почувствовать температуру?
            </h3>
          </a>
        </div>
        <a class="article__link" href="/posts/how-to-feel-temperature.html">
          <p class="article__description">
            Что ж, в предыдущем посте, где мы разбирали что вообще такое
            “температура”, я немного затронул сегодняшнюю тему. А
            конкретно: как наш организм воспринимает и реагирует на
            изменения температуры. Давайте взглянем на них подробнее, т.к.
            на этой информации, по сути, и будет построен весь последующий
            материал. Начнем с самого актуального: Нобелевская Премия по
            медицине в этом году была выдана двум ученым за открытие
            рецепторов температуры и прикосновений. Как вы догадались, нас
            интересует первые рецепторы (хотя другие тоже очень
            интересные, может быть однажды в будущем обсудим)
          </p>
        </a>
      </article>

      <article class="articles__preview article">
        <div class="article__top">
          <a class="article__link" href="/posts/reacting-to-cold.html">
            <div class="article__imagewrapper">
              <img class="article__image" src="{{ url_for('static', filename='img/posts/reacting-to-cold.jpeg') }}"
                alt="reacting-to-cold">
            </div>
          </a>
          <a class="article__link" href="/topics/temperature-stress-cold.html">
            <span class="article__tag">Холод</span>
          </a>
          <a class="article__link" href="/posts/reacting-to-cold.html">
            <h3 class="article__heading">
              Реагируем на холод
            </h3>
          </a>
        </div>
        <a class="article__link" href="/posts/reacting-to-cold.html">
          <p class="article__description">

            Предыдущий пост об ощущениях температуры мы закончили на обещании разобраться, как же наше тело регулирует
            собственную температуру. Для этого у него есть ряд занимательных трюков, многие из которых нам известны с
            самого детства. Сейчас же я предлагаю посмотреть, каким образом это все работает и как взаимосвязано между
            собой.

          </p>
        </a>
      </article>
      <article class="articles__preview article">
        <div class="article__top">
          <a class="article__link" href="/posts/brown-fat.html">
            <div class="article__imagewrapper">
              <img class="article__image" src="{{ url_for('static', filename='img/posts/brown-fat.png') }}"
                alt="brown-fat">
            </div>
          </a>
          <a class="article__link" href="/topics/temperature-stress-cold.html">
            <span class="article__tag">Холод</span>
          </a>
          <a class="article__link" href="/posts/brown-fat.html">
            <h3 class="article__heading">
              Коричневый жир (ну или бурый)
            </h3>
          </a>
        </div>
        <a class="article__link" href="/posts/brown-fat.html">
          <p class="article__description">
            В последнем посте мы обозначили существование трех цветов жира - белого, бежевого, и коричневого. В текущей
            теме температурного стресса холодом нас особенно интересует последний. Пора разобраться, почему же он такой
            интересный.
          </p>
        </a>
      </article>
      <article class="articles__preview article">
        <div class="article__top">
          <a class="article__link" href="/posts/three-colors-of-fat.html">
            <div class="article__imagewrapper">
              <img class="article__image" src="{{ url_for('static', filename='img/posts/three-colors-of-fat.png') }}"
                alt="three-colors-of-fat">
            </div>
          </a>
          <a class="article__link" href="/topics/temperature-stress-cold.html">
            <span class="article__tag">Холод</span>
          </a>
          <a class="article__link" href="/posts/three-colors-of-fat.html">
            <h3 class="article__heading">
              Три цвета жира
            </h3>
          </a>
        </div>
        <a class="article__link" href="/posts/three-colors-of-fat.html">
          <p class="article__description">
            В названии поста я уже заспойлерил ответ на поставленный вопрос в предыдущей публикации. Да, на сегодняшний
            день выделяется три “цвета”, но давайте посмотрим чем они отличаются между собой и почему это важно в нашей
            текущей теме.
          </p>
        </a>
      </article>
      <article class="articles__preview article">
        <div class="article__top">
          <a class="article__link" href="/posts/how-cold-makes-you-stronger.html">
            <div class="article__imagewrapper">
              <img class="article__image"
                src="{{ url_for('static', filename='img/posts/how-cold-makes-you-stronger.jpg') }}"
                alt="how-cold-makes-you-stronger">
            </div>
          </a>
          <a class="article__link" href="/topics/temperature-stress-cold.html">
            <span class="article__tag">Холод</span>
          </a>
          <a class="article__link" href="/posts/how-cold-makes-you-stronger.html">
            <h3 class="article__heading">
              Как холод закаляет
            </h3>
          </a>
        </div>
        <a class="article__link" href="/posts/how-cold-makes-you-stronger.html">
          <p class="article__description">
            Последний пост оборвался на очень хороших вопросах: как мы вообще закаляемся, что поменяется при более
            низких температурах, эффективно ли это, и можно ли при помощи холода… похудеть? Что ж, давайте ответим на
            эти и другие вопросы, по порядку.

          </p>
        </a>
      </article>
      <article class="articles__preview article">
        <div class="article__top">
          <a class="article__link" href="/posts/how-to-lose-weight-with-cold.html">
            <div class="article__imagewrapper">
              <img class="article__image"
                src="{{ url_for('static', filename='img/posts/how-to-lose-weight-with-cold.jpg') }}"
                alt="how-to-lose-weight-with-cold">
            </div>
          </a>
          <a class="article__link" href="/topics/temperature-stress-cold.html">
            <span class="article__tag">Холод</span>
          </a>
          <a class="article__link" href="/posts/how-to-lose-weight-with-cold.html">
            <h3 class="article__heading">
              Как похудеть при помощи холода
            </h3>
          </a>
        </div>
        <a class="article__link" href="/posts/how-to-lose-weight-with-cold.html">
          <p class="article__description">
            Никак! Не хотел просто вас томить в ожиданиях. Хотя, немного вес сбросить все же можно. Так что давайте
            разберемся, почему все так неоднозначно, откуда вообще идея похудения при помощи холода пошла, и самое
            главное - какие действительно полезные эффекты мы можем получить.
          </p>
        </a>
      </article>
      <article class="articles__preview article">
        <div class="article__top">
          <a class="article__link" href="/posts/sport-and-cold-what-to-cool.html">
            <div class="article__imagewrapper">
              <img class="article__image"
                src="{{ url_for('static', filename='img/posts/sport-and-cold-what-to-cool.jpg') }}"
                alt="sport-and-cold-what-to-cool">
            </div>
          </a>
          <a class="article__link" href="/topics/temperature-stress-cold.html">
            <span class="article__tag">Холод</span>
          </a>
          <a class="article__link" href="/posts/sport-and-cold-what-to-cool.html">
            <h3 class="article__heading">
              Спорт и холод. Что будем охлаждать?
            </h3>
          </a>
        </div>
        <a class="article__link" href="/posts/sport-and-cold-what-to-cool.html">
          <p class="article__description">
            Немного отложил публикации, переезжал поближе к океану. Но теперь океан под боком, а значит пора обсудить
            очень интересную связку холода и физических упражнений. И здесь есть что обсуждать!
            Начнем с важной и быстрой вводной: как вам известно, слишком высокая температура тела точно также опасна,
            как и слишком низкая. Например, наши белки начнут терять форму и неправильно сворачиваться (денатурация),
            что приведет к распаду и смерти клеток (а следом и человека).
          </p>
        </a>
      </article>
      <article class="articles__preview article">
        <div class="article__top">
          <a class="article__link" href="/posts/sport-and-cold-is-it-that-good.html">
            <div class="article__imagewrapper">
              <img class="article__image"
                src="{{ url_for('static', filename='img/posts/sport-and-cold-is-it-that-good.jpg') }}"
                alt="sport-and-cold-is-it-that-good">
            </div>
          </a>
          <a class="article__link" href="/topics/temperature-stress-cold.html">
            <span class="article__tag">Холод</span>
          </a>
          <a class="article__link" href="/posts/sport-and-cold-is-it-that-good.html">
            <h3 class="article__heading">
              Спорт и холод. Так ли это хорошо?
            </h3>
          </a>
        </div>
        <a class="article__link" href="/posts/sport-and-cold-is-it-that-good.html">
          <p class="article__description">
            Последний пост мы закончили прямыми намеками на влияние холода на физическую производительность. Пора
            разобраться, какие эффекты нам способен холод предложить в этом разрезе, а также какие подводные камни нас
            здесь ждут. Как обычно, все совсем не так просто, как может показаться на первый взгляд.

            Ведь как мы обозначили в предыдущем посте, повышение температуры тела является большим фактором,
            ограничивающим наши физические возможности. Вплоть до ситуаций, когда просто при жаре дома или на улице мы
            уже не то, что не в состоянии нормально заниматься спортом, но даже двигаться не хочется. И действительно,
            физическая производительность людей при умеренной температуре окружения (+17-22°C) значительно выше, чем на
            жаре
          </p>
        </a>
      </article>
      <article class="articles__preview article">
        <div class="article__top">
          <a class="article__link" href="/posts/sport-and-cold-increasing-perfomance.html">
            <div class="article__imagewrapper">
              <img class="article__image"
                src="{{ url_for('static', filename='img/posts/sport-and-cold-increasing-perfomance.jpg') }}"
                alt="sport-and-cold-increasing-perfomance">
            </div>
          </a>
          <a class="article__link" href="/topics/temperature-stress-cold.html">
            <span class="article__tag">Холод</span>
          </a>
          <a class="article__link" href="/posts/sport-and-cold-increasing-perfomance.html">
            <h3 class="article__heading">
              Спорт и холод. Как увеличить производительность?
            </h3>
          </a>
        </div>
        <a class="article__link" href="/posts/sport-and-cold-increasing-perfomance.html">
          <p class="article__description">
            После обсуждения зачем что-то охлаждать при занятиях спортом и какие проблемы могут из-за этого быть, пора
            посмотреть, как же делать это правильно.

            Я несколько раз упоминал, что важным моментом является место охлаждения. Сегодня нас интересуют участки кожи
            не покрытые волосами, а особенно - ладони, ступы ног, и верхняя часть лица [1]. Секрет успешного повышения
            физической производительности при помощи холода лежит в охлаждении именно этих частей тела. Но почему именно
            этих?
          </p>
        </a>
      </article>
      <article class="articles__preview article">
        <div class="article__top">
          <a class="article__link" href="/posts/brain-cooling.html">
            <div class="article__imagewrapper">
              <img class="article__image" src="{{ url_for('static', filename='img/posts/brain-cooling.jpg') }}"
                alt="brain-cooling">
            </div>
          </a>
          <a class="article__link" href="/topics/temperature-stress-cold.html">
            <span class="article__tag">Холод</span>
          </a>
          <a class="article__link" href="/posts/brain-cooling.html">
            <h3 class="article__heading">
              Охлаждение для мозга
            </h3>
          </a>
        </div>
        <a class="article__link" href="/posts/brain-cooling.html">
          <p class="article__description">
            Про всякие мышцы поговорили, пора обсудить самую важную для многих штуку - мозг. Ожидаемо, холод оказывает
            большое влияние на работу мозга, но много ли в этом полезного?

            В посте о реакции организма на холод я уже упоминал резкий и сильный выброс норарденалина (норэпинефрина),
            когда тело подвергается низким температурам. Всего за несколько минут в прохладных условиях его количество в
            крови может увеличиться в несколько раз
          </p>
        </a>
      </article>
      <article class="articles__preview article">
        <div class="article__top">
          <a class="article__link" href="/posts/can-cold-make-immunity-stronger.html">
            <div class="article__imagewrapper">
              <img class="article__image" src="{{ url_for('static', filename='img/posts/can-cold-make-immunity-stronger.jpg') }}"
                alt="can-cold-make-immunity-stronger">
            </div>
          </a>
          <a class="article__link" href="/topics/temperature-stress-cold.html">
            <span class="article__tag">Холод</span>
          </a>
          <a class="article__link" href="/posts/can-cold-make-immunity-stronger.html">
            <h3 class="article__heading">
              Можно ли холодом закалить иммунитет?
            </h3>
          </a>
        </div>
        <a class="article__link" href="/posts/can-cold-make-immunity-stronger.html">
          <p class="article__description">
            Чуть было не пропустили самое главное, так сказать “центральную идею закаливания”! Думаю, что не только мне
            одному постоянно рассказывали о “закаливании для улучшения иммунитета”. Сколько в этом правды? Очень мало.
            Честное слово, я не перестаю поражаться, насколько много информации, что я получал от
            родственников\друзей\блогеров по теме здоровья, далеко от реальности…

            Прежде всего, исследований о “закаливании и иммунитете” до неприличия мало. Мне пришлось хорошенько покопать
            в этом направлении, так что давайте разберемся, что мы имеем на самом деле.
          </p>
        </a>
      </article>
      <article class="articles__preview article">
        <div class="article__top">
          <a class="article__link" href="/posts/adapting-to-cold.html">
            <div class="article__imagewrapper">
              <img class="article__image" src="{{ url_for('static', filename='img/posts/adapting-to-cold.jpg') }}"
                alt="adapting-to-cold">
            </div>
          </a>
          <a class="article__link" href="/topics/temperature-stress-cold.html">
            <span class="article__tag">Холод</span>
          </a>
          <a class="article__link" href="/posts/adapting-to-cold.html">
            <h3 class="article__heading">
              Как закалиться без проблем
            </h3>
          </a>
        </div>
        <a class="article__link" href="/posts/adapting-to-cold.html">
          <p class="article__description">
            Значит, вы однозначно решили улучшить свое сопротивление холоду. Возможно, чтобы поменьше болеть. Либо же вы
            захотели улучшить метаболические показатели таким образом. А может, вас просто заинтересовало улучшение
            настроения и сопротивления стрессу. Какой бы не была причина, сейчас мы обсудим, как это сделать эффективно
            и, самое главное, безопасно.

            Кто внимательно изучал текущую тему, знает, что основой адаптации к холоду у человека является коричневый
            жир. Но значит ли это, что вам необходимо усиленно наращивать данный жир, чтобы получить положительные
            эффекты, упомянутые в начале поста? Вовсе нет.
          </p>
        </a>
      </article>
      
    </div>
  </div>
</section>
{% endblock %}