{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% include "styles-post.html" %}
{% endblock %}
{% block title %} Грудное молоко для микрофлоры | Адам Леос {% endblock %}

{% block content %}
  <section class="main__section">
  <h2 class="main__heading main__heading--post">
    <span class="main__subheading">
      <a href="/topics/microbiome.html"><span>Микрофлора</span></a>
      <div class="post__delimiter"></div>
    </span>
    Грудное молоко для микрофлоры
  </h2>

  <article class="post">
    <div class="post__imagewrapper">
      <img class="post__image" src="{{ url_for('static', filename='img/posts/breast-milk-for-microbiome.png') }}"
        alt="breast-milk-for-microbiome">
    </div>
    <p class="post__text">
      Сегодня пост будет о грудном молоке и скорее всего информация вас
      удивит.
    </p>
    <p class="post__text">
      Занимательно, что человеческое грудное молоко содержит
      олигосахариды, которые мы полностью расщепить в тонком кишечнике не
      можем. Кто читал предыдущие посты, уже заподозрил к чему это ведет.
    </p>
    <p class="post__text">
      Долгое время мы считали, что это эволюционная случайность и
      олигосахариды бесполезны. И только недавно разобрались, что это еда
      для нашего микробиома [<a href="#sources-list">1</a>]. Т.е. молоко
      важно не только для развития ребёнка, но и его микробов. Что лишний
      раз подчеркивает, как важно нам было развивать микрофлору совместно
      с ребенком, с самого рождения. Ведь мы уже знаем, как микробы очень
      важны для нашего здоровья, а особенно в первые годы после появления
      на свет.
    </p>
    <p class="post__text">
      По последним данным олигосахариды в грудном молоке уже далеко не
      просто “еда для микробов” [<a href="#sources-list">2</a>]. В
      частности, они имеют противомикробные (-вирусные, -бактериальные)
      свойства, так как блокируют прикрепление патогенов к клеткам
      слизистой оболочки кишечника [<a href="#sources-list">3</a>]. Также
      помогают иммунной системе правильно функционировать. Например, за
      счет влияния на популяцию иммунных клеток [<a href="#sources-list">4</a>].
    </p>
    <p class="post__text">
      И это не говоря об огромном ряде других питательных веществ в
      грудном молоке и их участии в большинстве процессов развития
      ребёнка. Так что в следующем посте сравним его с детским питанием
      (формулами).
    </p>

    <div class="post__continue continue">
      <a href="./developing-together-with-microbiome-from-birth.html" class="continue__button">
        <div class="continue__arrow">&#10229;</div>
        <div class="continue__content">
          <span class="continue__tag">Микрофлора</span>
          <span class="continue__heading">Развиваемся вместе с микрофлорой! С самого рождения</span>
        </div>
      </a>
      <div class="continue__delimiter"></div>
      <a href="./breast-milk-vs-baby-formulas.html" class="continue__button">
        <div class="continue__content continue__content--right">
          <span class="continue__tag">Микрофлора</span>
          <span class="continue__heading">Грудное молоко vs детское питание. Неповторимый оригинал и
            жалкая подделка</span>
        </div>
        <div class="continue__arrow">&#10230;</div>
      </a>
    </div>

    <div class="post__sources sources" id="sources-list">
      <h5 class="sources__toggler">Источники</h5>
      <ul class="sources__list">
        <li class="sources__item">
          <span class="sources__number">[1]</span>
          <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2596198/" target="_blank">D Sela,
            D A et al. “The genome sequence of Bifidobacterium
            longum subsp. infantis reveals adaptations for milk
            utilization within the infant microbiome.” Proceedings of the
            National Academy of Sciences of the United States of America
            vol. 105,48 (2008): 18964-9.</a>
        </li>
        <li class="sources__item">
          <span class="sources__number">[2]</span>
          <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3406618/" target="_blank">Lars.
            Bode, Lars. “Human milk oligosaccharides: every baby
            needs a sugar mama.” Glycobiology vol. 22,9 (2012):
            1147-62.</a>
        </li>
        <li class="sources__item">
          <span class="sources__number">[3]</span>
          <a class="sources__link" href="https://www.jbc.org/article/S0021-9258(19)64562-X/fulltext" target="_blank">
            Ruiz-Palacios, Guillermo M et al. “Campylobacter jejuni binds
            intestinal H(O) antigen (Fuc alpha 1, 2Gal beta 1, 4GlcNAc),
            and fucosyloligosaccharides of human milk inhibit its binding
            and infection.” The Journal of biological chemistry vol.
            278,16 (2003): 14112-20.</a>
        </li>
        <li class="sources__item">
          <span class="sources__number">[4]</span>
          <a class="sources__link" href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5443461/"
            target="_blank">Comstock, Sarah S et al. “Dietary Human Milk Oligosaccharides
            but Not Prebiotic Oligosaccharides Increase Circulating
            Natural Killer Cell and Mesenteric Lymph Node Memory T Cell
            Populations in Noninfected and Rotavirus-Infected Neonatal
            Piglets.” <i>The Journal of nutrition</i> vol. 147,6 (2017):
            1041-1047.</a>
        </li>
      </ul>
    </div>
  </article>
  </section>
{% endblock %}