<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/articles.css" />
    <link rel="stylesheet" href="../styles/post.css" />
    <link rel="stylesheet" href="../styles/continue.css" />
    <link rel="stylesheet" href="../styles/sources.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <title>Циркадные ритмы и Супрахиазматическое ядро| Адам Леос</title>
  </head>

  <body>
    <header class="header header--secondary">
      <nav class="header__nav nav">
        <input type="checkbox" id="hamburger" class="nav__hamburger-checkbox" />
        <label for="hamburger" class="nav__hamburger">
          <span class="nav__bar-one"></span>
          <span class="nav__bar-two"></span>
          <span class="nav__bar-three"></span>
        </label>
        <a href="../index.html" class="header__link header__link--mobile">
          <img
            src="../img/logo.png"
            alt="graphic brain with mustache"
            class="header__logo"
          />
        </a>
        <ul class="nav__list">
          <li class="nav__item">
            <a href="../index.html" class="nav__link">Главная</a>
          </li>
          <li class="nav__item">
            <a href="../topics/index.html" class="nav__link">Темы</a>
          </li>
          <li class="nav__item nav__item--logo">
            <a href="../index.html" class="header__link">
              <img
                src="../img/logo.png"
                alt="graphic brain with mustache"
                class="header__logo"
              />
            </a>
          </li>
          <li class="nav__item">
            <a href="../media/index.html" class="nav__link">Медиа</a>
          </li>
          <li class="nav__item">
            <a href="../contacts/index.html" class="nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main">
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="../topics/sleep.html"><span>Сон</span></a>
            <div class="post__delimiter"></div>
          </span>
          Циркадные ритмы и Супрахиазматическое ядро
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img
              class="post__image"
              src="../img/posts/circadiam-rhytms-and-scn.jpg"
              alt="circadiam-rhytms-and-scn"
            />
          </div>
          <p class="post__text">
            Сегодня мы поговорим о Циркадных ритмах. Вообще, это большая,
            интересная и важная тема, заслуживающая отдельного видео. Но так как
            Циркадные ритмы - критическая составляющая сна, мы обсудим ключевые
            моменты.
          </p>
          <p class="post__text">
            Все живое на Земле эволюционировали в условиях цикличного
            присутствия и отсутствия Солнца, а для многих оно было основным
            источником энергии, освещения и условий для выживания. Все такие
            организмы выработали определенные ритмы для жизни в соответсвии с
            активностью солнца. Те самые Циркадные ритмы, которые опираются на
            24х-часовой (почти) цикл Солнца, проявляются в том или ином виде у
            животных, растений, грибов, ну и, конечно же, человека [<a
              href="#sources-list"
              >1</a
            >].
          </p>
          <p class="post__text">
            Циркадные ритмы - это внутренний биологический механизм,
            регулирующий множество процессов в соответствии с внутренними часами
            организма. Про часы, кстати, серьезно. У них даже есть название -
            Циркадные Часы. Они помогают нам отслеживать время суток и
            регулировать такие вещи, как метаболизм и сон. Даже микрофлора, о
            которой мы уже много говорили, зависит от этих часов [<a
              href="#sources-list"
              >2</a
            >]. Человек будет следовать циклу в 24е часа, даже если его
            отправить жить в глубокую пещеру, без малейших признаков Солнца.
            Собственно, что пара ученых однажды и сделала, прожив в такой пещере
            более месяца [<a href="#sources-list">3</a>]. Они все равно
            продолжали следовать естественному циклу, хоть и с небольшим
            отклонением. Дело в том, что Циркадные Часы у человека не совсем
            точные - они превышают 24е часа на несколько минут (10-20) [<a
              href="#sources-list"
              >4</a
            >]. Но почему тогда в природе это не проявляется? Ведь тогда мы бы
            постоянно смещались в сутках, с каждым днем накапливая эту разницу в
            несколько минут.
          </p>
          <p class="post__text">
            Как мы уже обсудили, Циркадные ритмы зависят от смены дня и ночи. А
            если быть точным - от стимулов, связанных с активностью Солнца (и
            окружающего мира). Например, перепадов температуры или, в большей
            степени, изменения освещения. Как раз и опираясь на эти стимулы, наш
            организм постоянно корректирует внутренние часы. Для этого в
            гипоталамусе у нас существует Супрахиазматическое ядро. Это кластер
            из тысяч клеток, находящийся прямо над пересечением зрительных
            нервов. Связано это с тем, что ядру необходима информация об
            изменении освещения. И в соответсвии с яркостью или спектром света,
            оно корректирует наши внутренние часы, стараясь приблизить их к
            натуральному 24х-часовому циклу [<a href="#sources-list">5</a>].
            Собственно, именно от Супрахиазматического ядра и его сигналов
            зависят многие процессы организма. Среди которых и критические
            составляющие сна - изменение температуры тела [<a
              href="#sources-list"
              >6</a
            >] и выделение гормонов [<a href="#sources-list">7</a>].
          </p>
          <p class="post__text">
            Кстати, если же ядро повреждено, то это приводит к нерегулярному сну
            на протяжении суток, потому что оно начинает посылать ложные
            сигналы. Например женщина, у которой ядро было повреждено после
            огнестрельной раны, спала случайными короткими периодами днем и
            ночью [<a href="#sources-list">8</a>]. Но можно и без повреждений -
            у нас теперь есть искусственное освещение и гаджеты, щедро
            освещающие наши очи даже в темное время суток. Что сильно сбивает
            организм с толку [<a href="#sources-list">9</a>]. Ведь мы
            эволюционно привыкли что светло лишь днем, когда светит солнце. Ну
            еще совсем недавно научились использовать огонь, но обо всем этом
            еще поговорим в посте о гигиене сна. Хотя у вас уже наверняка начал
            складываться пазл о зависимости сна от освещения. Но он сложится еще
            лучше после следующего поста, где мы обсудим гормоны, от которых
            зависит сон.
          </p>

          <div class="post__continue continue">
            <a
              href="./sleep-phazes-and-brain-waves.html"
              class="continue__button"
            >
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Сон</span>
                <span class="continue__heading"
                  >Фазы сна (и немного мозговые волны)</span
                >
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a
              href="./melatonin-aka-sleep-hormone.html"
              class="continue__button"
            >
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Сон</span>
                <span class="continue__heading">
                  Мелатонин aka Гормон Сна
                </span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a
                  class="sources__link"
                  href="http://sci-hub.st/10.1016/j.jsmc.2015.08.003"
                  target="_blank"
                  >Rosenwasser, Alan M et al. "Neurobiology of Circadian Rhythm
                  Regulation". <i>Sleep medicine clinics</i> vol. 10, 4. 2015
                  Dec.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a
                  class="sources__link"
                  href="sci-hub.se/10.1016/bs.irn.2016.07.002"
                  target="_blank"
                  >Voigt, R M et al. “Circadian Rhythm and the Gut Microbiome.”
                  International review of neurobiology vol. 131 (2016): 193-205.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a
                  class="sources__link"
                  href="https://books.google.com/books?hl=en&lr=&id=FwKzKM4sdEoC&oi=fnd&pg=PA1&ots=LSAUoneVes&sig=okuu40Yusf1q6u8_f6yaSddgLTI#v=onepage"
                  target="_blank"
                  >Kleitman, Nathaniel. "Sleep and wakefulness". University of
                  Chicago Press. 1987.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a
                  class="sources__link"
                  href="https://sci-hub.se/10.1073/pnas.1010666108"
                  target="_blank"
                  >Duffy, Jeanne F et al. "Sex difference in the near-24-hour
                  intrinsic period of the human circadian timing system".
                  <i
                    >Proceedings of the National Academy of Sciences of the
                    United States of America</i
                  >
                  vol. 108 Suppl 3, Suppl 3. 09/13/2011.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a
                  class="sources__link"
                  href="https://www.cell.com/current-biology/fulltext/S0960-9822(03)00222-7"
                  target="_blank"
                  >Sujino, Mitsugu et al. “Suprachiasmatic nucleus grafts
                  restore circadian behavioral rhythms of genetically arrhythmic
                  mice.” Current biology : CB vol. 13,8 (2003): 664-8.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a
                  class="sources__link"
                  href="https://sci-hub.se/10.1177/0748730404273983"
                  target="_blank"
                  >Benloucif, S et al. "Stability of melatonin and temperature
                  as circadian phase markers and their relation to sleep times
                  in humans". <i>Journal of biological rhythms</i> vol. 20, 2.
                  2005 Apr.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a
                  class="sources__link"
                  href="https://sci-hub.se/10.1016/j.psyneuen.2017.05.018"
                  target="_blank"
                  >Adam, Emma K et al. "Diurnal cortisol slopes and mental and
                  physical health outcomes: A systematic review and
                  meta-analysis". <i>Psychoneuroendocrinology</i> vol. 83. 2017
                  Sep.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[8]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3960389/"
                  target="_blank"
                  >DelRosso, Lourdes M et al. “Sleep-wake pattern following
                  gunshot suprachiasmatic damage.”
                  <i
                    >Journal of clinical sleep medicine : JCSM : official
                    publication of the American Academy of Sleep Medicine</i
                  >
                  vol. 10,4 443-5. 15 Apr. 2014.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[9]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7065627/"
                  target="_blank"
                  >Wahl, Siegfried et al. “The inner clock-Blue light sets the
                  human rhythm.” Journal of biophotonics vol. 12,12 (2019):
                  e201900102.
                </a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    </main>
  </body>
</html>
