<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/articles.css" />
    <link rel="stylesheet" href="../styles/post.css" />
    <link rel="stylesheet" href="../styles/continue.css" />
    <link rel="stylesheet" href="../styles/sources.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <title>
      Развиваемся вместе с микрофлорой! С самого рождения | Адам Леос
    </title>
  </head>

  <body>
    <header class="header header--secondary">
      <nav class="header__nav nav">
        <input type="checkbox" id="hamburger" class="nav__hamburger-checkbox" />
        <label for="hamburger" class="nav__hamburger">
          <span class="nav__bar-one"></span>
          <span class="nav__bar-two"></span>
          <span class="nav__bar-three"></span>
        </label>
        <a href="../index.html" class="header__link header__link--mobile">
          <img
            src="../img/logo.png"
            alt="graphic brain with mustache"
            class="header__logo"
          />
        </a>
        <ul class="nav__list">
          <li class="nav__item">
            <a href="../index.html" class="nav__link">Главная</a>
          </li>
          <li class="nav__item">
            <a href="../topics/index.html" class="nav__link">Темы</a>
          </li>
          <li class="nav__item nav__item--logo">
            <a href="../index.html" class="header__link">
              <img
                src="../img/logo.png"
                alt="graphic brain with mustache"
                class="header__logo"
              />
            </a>
          </li>
          <li class="nav__item">
            <a href="../media/index.html" class="nav__link">Медиа</a>
          </li>
          <li class="nav__item">
            <a href="../contacts/index.html" class="nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main">
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="../topics/microbiome.html"><span>Микрофлора</span></a>
            <div class="post__delimiter"></div>
          </span>
          Развиваемся вместе с микрофлорой! С самого рождения
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img
              class="post__image"
              src="../img/posts/developing-together-with-microbiome-from-birth.jpg"
              alt="developing-together-with-microbiome-from-birth"
            />
          </div>
          <p class="post__text">
            Ну что, после предыдущих постов вы наверняка уже поняли, насколько
            микробы важны для нашего с вами здоровья. Вряд ли вас удивишь
            очередными “полезностями” микрофлоры… Но я попробую!
          </p>
          <p class="post__text">
            Давайте изучим как микробы отвечают за правильное развитие человека,
            начиная буквально с первых секунд после рождения. Так что начнем с
            появления нас на свет.
          </p>
          <p class="post__text">
            Занимательно, что пока плод формируется в чреве матери, у него по
            сути еще нет микрофлоры. Первый контакт происходит именно при
            рождении, когда ребенок проходит через родовой канал и контактирует
            с вагинальной микрофлорой матери (которая к родам, к слову, сильно
            обогащается) [<a href="#sources-list">1</a>].
          </p>
          <p class="post__text">
            Этот первый контакт очень критичен для новорожденного ребенка - вы
            уже знаете, как важно иметь микробиом человеку, и как важно иметь
            его в правильном виде. Но более того, сразу после рождения и в
            течении первых лет жизни происходят ключевые процессы развития
            ребенка и микрофлора играет огромную роль в них [<a
              href="#sources-list"
              >2</a
            >]. В том числе в развитии метаболизма [<a href="#sources-list">3</a
            >], иммунной [<a href="#sources-list">4</a>] и даже нервной систем
            [<a href="#sources-list">5</a>]. А колонизация неправильных микробов
            в этот период может привести к проблемам со здоровьем [<a
              href="#sources-list"
              >6</a
            >].
          </p>
          <p class="post__text">
            Еще интереснее, дети, рожденные при помощи кесаревого сечения,
            контактируют уже не с вагинальной микрофлорой, а кожной. И
            соответствующим образом сильно меняют начальную микрофлору [<a
              href="#sources-list"
              >7</a
            >], и это выливается в серьезные проблемы со здоровьем на протяжении
            всей последующей жизни [<a href="#sources-list">8, 9, 10</a>].
            Именно поэтому новорожденных кесаревом сечением обмазывают
            вагинальной жидкостью матери.
          </p>
          <p class="post__text">
            Ну и напоследок уточню - ДА, качество микрофлоры матери играет
            важную роль [<a href="#sources-list">11</a>]. Вплоть до развития
            мозга [<a href="#sources-list">12</a>] у ребенка и даже может
            привести к аутизму [<a href="#sources-list">13</a>]. Особенно если
            мать была с нездоровым весом [<a href="#sources-list">14</a>] или
            ожирением [<a href="#sources-list">15</a>] (но это вы и сами поняли,
            т.к. уже знаете что это признаки скорее плохой диеты и нездоровой
            микрофлоры).
          </p>
          <p class="post__text">
            Вообще вынашивание - большая и сложная тема, там даже стресс во
            время беременности влияет на микрофлору [<a href="#sources-list"
              >16, 17</a
            >]. Но об этом в другой раз.
          </p>

          <div class="post__continue continue">
            <a
              href="./how-our-immune-system-depends-on-microbs.html"
              class="continue__button"
            >
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Микрофлора</span>
                <span class="continue__heading"
                  >Как наш иммунитет зависит от микробов в кишечнике</span
                >
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a
              href="./breast-milk-for-microbiome.html"
              class="continue__button"
            >
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Микрофлора</span>
                <span class="continue__heading"
                  >Грудное молоко для микрофлоры</span
                >
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5706746/"
                  target="_blank"
                  >Milani, Christian et al. “The First Microbial Colonizers of
                  the Human Gut: Composition, Activities, and Health
                  Implications of the Infant Gut Microbiota.”
                  <i>Microbiology and molecular biology reviews : MMBR</i> vol.
                  81,4 e00036-17. 8 Nov. 2017.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a
                  class="sources__link"
                  href="https://elifesciences.org/articles/36521#s2"
                  target="_blank"
                  >Martínez, Inés et al. “Experimental evaluation of the
                  importance of colonization history in early-life gut
                  microbiota assembly.” eLife vol. 7 e36521. 18 Sep. 2018.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4134513"
                  target="_blank"
                  >Cox, Laura M et al. “Altering the intestinal microbiota
                  during a critical developmental window has lasting metabolic
                  consequences.” Cell vol. 158,4 (2014): 705-721.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a
                  class="sources__link"
                  href="https://science.sciencemag.org/content/336/6080/489.long"
                  target="_blank"
                  >Olszak, Torsten et al. “Microbial exposure during early life
                  has persistent effects on natural killer T cell function.”
                  Science (New York, N.Y.) vol. 336,6080 (2012): 489-93.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a
                  class="sources__link"
                  href="https://link.springer.com/article/10.1007/s00213-018-5161-8"
                  target="_blank"
                  >Gao, Wei et al. “Gut microbiome and brain functional
                  connectivity in infants-a preliminary study focusing on the
                  amygdala.” Psychopharmacology vol. 236,5 (2019): 1641-1651.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a
                  class="sources__link"
                  href="https://science.sciencemag.org/content/336/6080/489.long"
                  target="_blank"
                  >Olszak, Torsten et al. “Microbial exposure during early life
                  has persistent effects on natural killer T cell function.”
                  Science (New York, N.Y.) vol. 336,6080 (2012): 489-93.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2900693/"
                  target="_blank"
                  >Dominguez-Bello, Maria G et al. “Delivery mode shapes the
                  acquisition and structure of the initial microbiota across
                  multiple body habitats in newborns.” Proceedings of the
                  National Academy of Sciences of the United States of America
                  vol. 107,26 (2010): 11971-5</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[8]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4762591/"
                  target="_blank"
                  >Michael Pistiner, Michael et al. “Birth by cesarean section,
                  allergic rhinitis, and allergic sensitization among children
                  with a parental history of atopy.” The Journal of allergy and
                  clinical immunology vol. 122,2 (2008): 274-9.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[9]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3784307/"
                  target="_blank"
                  >Susanna Huh, Susanna Y et al. “Delivery by caesarean section
                  and risk of obesity in preschool age children: a prospective
                  cohort study.” Archives of disease in childhood vol. 97,7
                  (2012): 610-6.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[10]</span>
                <a
                  class="sources__link"
                  href="https://onlinelibrary.wiley.com/doi/abs/10.1111/j.1365-2222.2007.02780.x"
                  target="_blank"
                  >Thavagnanam, S et al. “A meta-analysis of the association
                  between Caesarean section and childhood asthma.” Clinical and
                  experimental allergy : journal of the British Society for
                  Allergy and Clinical Immunology vol. 38,4 (2008): 629-33.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[11]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5102250/"
                  target="_blank"
                  >Buffington, Shelly A et al. “Microbial Reconstitution
                  Reverses Maternal Diet-Induced Social and Synaptic Deficits in
                  Offspring.” <i>Cell</i> vol. 165,7 (2016): 1762-1775.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[12]</span>
                <a
                  class="sources__link"
                  href="https://sci-hub.se/https://doi.org/10.1016/j.bbi.2019.03.006"
                  target="_blank"
                  >Rincel, Marion et al. "Multi-hit early life adversity affects
                  gut microbiota, brain and behavior in a sex-dependent manner".
                  <i>Brain, behavior, and immunity</i> vol. 80. 2019 Aug.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[13]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3897394/"
                  target="_blank"
                  >Hsiao, Elaine Y et al. “Microbiota modulate behavioral and
                  physiological abnormalities associated with neurodevelopmental
                  disorders.” <i>Cell</i> vol. 155,7 (2013): 1451-63.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[14]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6422265"
                  target="_blank"
                  >Sugino, Kameron Y et al. “Michigan cohorts to determine
                  associations of maternal pre-pregnancy body mass index with
                  pregnancy and infant gastrointestinal microbial communities:
                  Late pregnancy and early infancy.” PloS one vol. 14,3
                  e0213733. 18 Mar. 2019.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[15]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4237395/"
                  target="_blank"
                  >Galley, Jeffrey D et al. “Maternal obesity is associated with
                  alterations in the gut microbiome in toddlers.”
                  <i>PloS one</i> vol. 9,11 e113026. 19 Nov. 2014.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[16]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5339804/"
                  target="_blank"
                  >Jašarević, Eldin et al. “Stress during pregnancy alters
                  temporal and spatial dynamics of the maternal and offspring
                  microbiome in a sex-specific manner.”
                  <i>Scientific reports</i> vol. 7 44182. 7 Mar. 2017.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[17]</span>
                <a
                  class="sources__link"
                  href="https://sci-hub.se/https://doi.org/10.1016/j.psyneuen.2015.01.006"
                  target="_blank"
                  >Zijlmans, Maartje A C et al. "Maternal prenatal stress is
                  associated with the infant intestinal microbiota".
                  <i>Psychoneuroendocrinology</i> vol. 53. 2015 Mar.</a
                >
              </li>
            </ul>
          </div>
        </article>
      </section>
    </main>
  </body>
</html>
