<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/articles.css" />
    <link rel="stylesheet" href="../styles/post.css" />
    <link rel="stylesheet" href="../styles/continue.css" />
    <link rel="stylesheet" href="../styles/sources.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <title>Вариации голодания | Адам Леос</title>
  </head>

  <body>
    <header class="header header--secondary">
      <nav class="header__nav nav">
        <input type="checkbox" id="hamburger" class="nav__hamburger-checkbox" />
        <label for="hamburger" class="nav__hamburger">
          <span class="nav__bar-one"></span>
          <span class="nav__bar-two"></span>
          <span class="nav__bar-three"></span>
        </label>
        <a href="../index.html" class="header__link header__link--mobile">
          <img
            src="../img/logo.png"
            alt="graphic brain with mustache"
            class="header__logo"
          />
        </a>
        <ul class="nav__list">
          <li class="nav__item">
            <a href="../index.html" class="nav__link">Главная</a>
          </li>
          <li class="nav__item">
            <a href="../topics/index.html" class="nav__link">Темы</a>
          </li>
          <li class="nav__item nav__item--logo">
            <a href="../index.html" class="header__link">
              <img
                src="../img/logo.png"
                alt="graphic brain with mustache"
                class="header__logo"
              />
            </a>
          </li>
          <li class="nav__item">
            <a href="../media/index.html" class="nav__link">Медиа</a>
          </li>
          <li class="nav__item">
            <a href="../contacts/index.html" class="nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main">
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="../topics/fasting.html"><span>Голодание</span></a>
            <div class="post__delimiter"></div>
          </span>
          Вариации голодания
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img
              class="post__image"
              src="../img/posts/fasting-variations.jpg"
              alt="fasting-variations"
            />
          </div>
          <p class="post__text">
            Сегодня мы обсудим вариации
            <a class="post__link" href="./fasting-is-not-what-you-think.html"
              >голодания</a
            >, какие подходы на сегодняшний день самые популярные и, что самое
            главное, эффективные [<a href="#sources-list">1</a>]. Конечно же,
            каждый из них заслуживает отдельный, самостоятельный пост… Что мы,
            собственно, и сделаем, где-то на следующей неделе. Так что
            принимайте этот пост как верхнеуровневую сводку (но все еще крайне
            полезную), после которой мы углубимся в самые важные направления.
          </p>

          <p class="post__text">
            - Периодическое голодание (Intermittent Fasting) [<a
              href="#sources-list"
              >2</a
            >]. Это одно из первых направлений голодания, от которого по сути
            затем отпочковались альтернативные подходы, которые прозвучат ниже.
            Самый распространенный режим периодического голодания был 5\2, где
            пять дней в неделю вы питаетесь без каких-либо ограничений, а другие
            два вы “голодаете” [<a href="#sources-list">3</a>]. Голодаете здесь
            было в кавычках, так как в крайне популярной модификации этого
            подхода был даже не полный отказ от еды, а лишь сокращение привычной
            нормы до 25% (или около 600 калорий, +-) [<a href="#sources-list"
              >4</a
            >]. Несмотря на простоту, показывало результаты не хуже длительного
            голодания [<a href="#sources-list">1</a>]. К этой игре с
            ограничениями, для обхода полного отсутствия еды, мы еще вернемся.
          </p>
          <p class="post__text">
            - Голодание через день (Alternate Day Fasting) [<a
              href="#sources-list"
              >5</a
            >]. Точного термина на русском не встречал, но перевод идейно
            точный. Это модификация периодического голодания, которая следует
            тем же правилам по ограничениям, заменяя лишь график. Как вы поняли
            из названия, чередование происходит каждый день. Сегодня голодаете,
            завтра нет, послезавтра голодаете, и т.д. Результаты были ничем не
            хуже режима с длительными периодами [<a href="#sources-list">6</a>],
            но следовать такой вариации некоторым проще.
          </p>
          <p class="post__text">
            - Ограниченное окно для принятия пищи (Time-restricted eating) [<a
              href="#sources-list"
              >7</a
            >]. Этот очень интересный подход заслуживает особого внимания. Здесь
            идея в том, чтобы выделять какое-то ограниченное окно по времени
            каждый день для принятия пищи и есть, очевидно, только в этот
            период. Самый популярный вариант 16\8, где вы можете есть в течении
            8и часов, и затем 16 нет. На самом деле это совсем не сложно, т.к. 8
            часов - очень много. Если начать есть в 10 утра, то окно закроется
            аж в 18 вечера. Я бы даже назвал это не голоданием, а адекватным
            питанием в первую очередь [<a href="#sources-list">8</a>]. Большое
            количество положительных эффектов в таком случае связаны с лучшей
            синхронизацией с
            <a class="post__link" href="./circadiam-rhytms-and-scn.html"
              >циркадными ритмами</a
            >
            [<a href="#sources-list">9</a>]. Также окно можно сильно сокращать,
            достигая еще больших эффектов [<a href="#sources-list">10</a>].
          </p>
          <p class="post__text">
            - Продолжительно голодание на воде (Water-only fasting) [<a
              href="#sources-list"
              >11</a
            >]. Вынес в отдельный пункт, так как это также важная вариация.
            Многие исследования указывают на большое количество положительных
            эффектов, проявляющихся лишь после продолжительного голодания. В
            среднем существует консенсус пяти дней. Что пять дней на одной воде
            запустят процессы восстановления клеток организма и подавят процессы
            старения [<a href="#sources-list">12</a>]. Здесь очень ВАЖНОЕ
            уточнение: пять дней, особенно на одной воде, это очень и очень
            серьезный стресс для организма и может обернутся печальными
            последствиями для неподготовленного организма, особенно если чем-то
            болеете [<a href="#sources-list">11</a>]. Я настоятельно НЕ
            рекомендую самостоятельно, без какого-либо профессионального
            наблюдения и сопровождения проводить такой эксперимент. К
            потенциальным опасностям голодания “на одной воде” мы вернемся в
            отдельном посте. К счастью, для желающих и рыбку съесть, и косточкой
            не подавиться, есть еще один интересный вариант.
          </p>
          <p class="post__text">
            - Имитирующая голодание диета (Fasting Mimicking Diet) [<a
              href="#sources-list"
              >14</a
            >]. Приобрела много популярности благодаря исследованиям очень
            уважаемым мною Dr. Valter Longo. И не спроста, ведь данные
            указывают, что большинство эффектов продолжительного голодания можно
            получить снова-таки, не отказываясь от пищи полностью [<a
              href="#sources-list"
              >15</a
            >]. Как и с вариациями периодического голодания, достаточно
            ограничения по калориям, а если быть точным, исследования предлагают
            придерживаться около 40% от привычного количества. Но как и в
            предыдущем варианте, пять дней подряд минимум, если хотите получить
            максимально положительный результат [<a href="#sources-list">16</a
            >]. И также все еще предупреждение - это все еще серьезное
            голодание, не шутки!
          </p>

          <div class="post__continue continue">
            <a
              href="./fasting-is-not-what-you-think.html"
              class="continue__button"
            >
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Голодание</span>
                <span class="continue__heading"
                  >Голодание - это не то, что вы подумали</span
                >
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a
              href="./circadian-components-in-eating.html"
              class="continue__button"
            >
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Голодание</span>
                <span class="continue__heading"
                  >Циркадные компоненты в приемах пищи
                </span>
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a
                  class="sources__link"
                  href="https://www.annualreviews.org/doi/10.1146/annurev-nutr-071816-064634"
                  target="_blank"
                >
                  Patterson, Ruth E, and Dorothy D Sears. “Metabolic Effects of
                  Intermittent Fasting.” Annual review of nutrition vol. 37
                  (2017): 371-393.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3946160/"
                  target="_blank"
                  >Longo, Valter D, and Mark P Mattson. “Fasting: molecular
                  mechanisms and clinical applications.” Cell metabolism vol.
                  19,2 (2014): 181-92.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a
                  class="sources__link"
                  href="http://sci-hub.se/10.1016/j.clnu.2020.02.022"
                  target="_blank"
                >
                  Scholtens, E L et al. “Intermittent fasting 5:2 diet: What is
                  the macronutrient and micronutrient intake and composition?.”
                  Clinical nutrition (Edinburgh, Scotland) vol. 39,11 (2020):
                  3354-3360.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6836141/"
                  target="_blank"
                >
                  Phillips, Matthew C L. “Fasting as a Therapy in Neurological
                  Disease.” Nutrients vol. 11,10 2501. 17 Oct. 2019.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a
                  class="sources__link"
                  href="https://academic.oup.com/ajcn/article/86/1/7/4633143"
                  target="_blank"
                >
                  Varady, Krista A, and Marc K Hellerstein. “Alternate-day
                  fasting and chronic disease prevention: a review of human and
                  animal trials.” The American journal of clinical nutrition
                  vol. 86,1 (2007): 7-13.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a
                  class="sources__link"
                  href="https://academic.oup.com/ajcn/article/81/1/69/4607679"
                  target="_blank"
                  >Heilbronn, Leonie K et al. “Alternate-day fasting in nonobese
                  subjects: effects on body weight, body composition, and energy
                  metabolism.” The American journal of clinical nutrition vol.
                  81,1 (2005): 69-73.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7284632/"
                  target="_blank"
                >
                  Moon, Shinje et al. “Beneficial Effects of Time-Restricted
                  Eating on Metabolic Diseases: A Systemic Review and
                  Meta-Analysis.” Nutrients vol. 12,5 1267. 29 Apr. 2020.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[8]</span>
                <a
                  class="sources__link"
                  href="https://academic.oup.com/nutritionreviews/article/72/5/308/1933482"
                  target="_blank"
                >
                  Rothschild, Jeff et al. “Time-restricted feeding and risk of
                  metabolic disease: a review of human and animal studies.”
                  Nutrition reviews vol. 72,5 (2014): 308-18.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[9]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5388543/"
                  target="_blank"
                  >Longo, Valter D, and Satchidananda Panda. “Fasting, Circadian
                  Rhythms, and Time-Restricted Feeding in Healthy Lifespan.”
                  Cell metabolism vol. 23,6 (2016): 1048-1059.
                  doi:10.1016/j.cmet.2016.06.001</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[10]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5388543/"
                  target="_blank"
                  >Longo, Valter D, and Satchidananda Panda. “Fasting, Circadian
                  Rhythms, and Time-Restricted Feeding in Healthy Lifespan.”
                  Cell metabolism vol. 23,6 (2016): 1048-1059.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[10]</span>
                <a
                  class="sources__link"
                  href="https://sci-hub.se/10.1080/10408398.2020.1789550"
                  target="_blank"
                >
                  Queiroz, Jéssica do Nascimento et al. “Time-restricted eating
                  and circadian rhythms: the biological clock is ticking.”
                  Critical reviews in food science and nutrition vol. 61,17
                  (2021): 2863-2875.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[11]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5819235/"
                  target="_blank"
                >
                  Finnell, John S et al. “Is fasting safe? A chart review of
                  adverse events during medically supervised, water-only
                  fasting.” BMC complementary and alternative medicine vol. 18,1
                  67. 20 Feb. 2018.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[12]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/pmid/24440038/"
                  target="_blank"
                >
                  Longo, Valter D, and Mark P Mattson. “Fasting: molecular
                  mechanisms and clinical applications.” Cell metabolism vol.
                  19,2 (2014): 181-92
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[14]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6816332/"
                  target="_blank"
                  >Wei, Min et al. “Fasting-mimicking diet and markers/risk
                  factors for aging, diabetes, cancer, and cardiovascular
                  disease.” Science translational medicine vol. 9,377 (2017):
                  eaai8700.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[15]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6528490/"
                  target="_blank"
                >
                  Rangan, Priya et al. “Fasting-Mimicking Diet Modulates
                  Microbiota and Promotes Intestinal Regeneration to Reduce
                  Inflammatory Bowel Disease Pathology.” Cell reports vol. 26,10
                  (2019): 2704-2719.e6.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[16]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4509734/"
                  target="_blank"
                >
                  Brandhorst, Sebastian et al. “A Periodic Diet that Mimics
                  Fasting Promotes Multi-System Regeneration, Enhanced Cognitive
                  Performance, and Healthspan.” Cell metabolism vol. 22,1
                  (2015): 86-99.
                </a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    </main>
  </body>
</html>
