<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/articles.css" />
    <link rel="stylesheet" href="../styles/post.css" />
    <link rel="stylesheet" href="../styles/continue.css" />
    <link rel="stylesheet" href="../styles/sources.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <title>Метаболизм и сон | Адам Леос</title>
  </head>

  <body>
    <header class="header header--secondary">
      <nav class="header__nav nav">
        <input type="checkbox" id="hamburger" class="nav__hamburger-checkbox" />
        <label for="hamburger" class="nav__hamburger">
          <span class="nav__bar-one"></span>
          <span class="nav__bar-two"></span>
          <span class="nav__bar-three"></span>
        </label>
        <a href="../index.html" class="header__link header__link--mobile">
          <img
            src="../img/logo.png"
            alt="graphic brain with mustache"
            class="header__logo"
          />
        </a>
        <ul class="nav__list">
          <li class="nav__item">
            <a href="../index.html" class="nav__link">Главная</a>
          </li>
          <li class="nav__item">
            <a href="../topics/index.html" class="nav__link">Темы</a>
          </li>
          <li class="nav__item nav__item--logo">
            <a href="../index.html" class="header__link">
              <img
                src="../img/logo.png"
                alt="graphic brain with mustache"
                class="header__logo"
              />
            </a>
          </li>
          <li class="nav__item">
            <a href="../media/index.html" class="nav__link">Медиа</a>
          </li>
          <li class="nav__item">
            <a href="../contacts/index.html" class="nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main">
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="../topics/sleep.html"><span>Сон</span></a>
            <div class="post__delimiter"></div>
          </span>
          Метаболизм и сон
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img
              class="post__image"
              src="../img/posts/metabolism-and-sleep.jpg"
              alt="metabolism-and-sleep"
            />
          </div>
          <p class="post__text">
            Сегодня посмотрим как сон влияет на метаболизм. Начнем с плохого.
            Даже одна ночь недосыпания (~4 часа) может снизить инсулиновую
            чувствительность на 25% [<a href="#sources-list">1</a>]. Значит это,
            что клетки будут хуже реагировать на инсулин и соотвественно
            недополучать глюкозу из крови [<a href="#sources-list">2</a>].
            Обычно за этим следует увеличение производства инсулина и если это
            происходит продолжительное время, то приводит к диабету 2-го типа
            [<a href="#sources-list">3</a>]. Вообще, можно к этому приблизиться
            всего после четырех таких ночей: инсулиновая чувствительность может
            упасть до 30%, а эффективность утилизации глюкозы аж на 40% [<a
              href="#sources-list"
              >4</a
            >]. И это у здоровых и молодых ребят.
          </p>
          <p class="post__text">
            Но это только полбеды, ведь вследствие депривации сна меняются наши
            предпочтения в еде. Да-да, как и с микрофлорой, но теперь еще больше
            интересного: недосыпая, у нас меняется активность некоторых участков
            мозга [<a href="#sources-list">5</a>]. А если быть точным, то
            понижается активность областей, ассоциируемых с предпочтениями в еде
            на основе вкуса и запаха [<a href="#sources-list">6, 7</a>]. В тоже
            время сильно активируется амигдала, во многом отвечающая за желание
            что-то сожрать [<a href="#sources-list">8</a>].
          </p>
          <p class="post__text">
            Очевидным образом это приводит к повышению желания “поесть”. Но что
            интересно, вы начинаете желать более калорийную еду. При этом
            реально голоднее не являетесь, это просто реакция мозга при
            недосыпании. Наверняка вы, как и я, замечали, что не выспавшись
            сложнее отказаться от какой-то плохой еды. Теперь вы знаете почему.
            Вообще, даже чем позже ложишься спать, тем более калорийную еду ты
            захочешь утром [<a href="#sources-list">9</a>]. И что немаловажно,
            получая больше энергии таким образом, ее расход не увеличивается [<a
              href="#sources-list"
              >10</a
            >]. Что может быстро вылиться в лишний вес. А в довершение,
            депривация сна повышает аппетит, влияя на аппетит-регулирующий
            гормон грелин [<a href="#sources-list">11</a>]. Ну и заодно
            подталкивает есть больше, снижая производство лептина - гормона
            насыщения [<a href="#sources-list">12</a>].
          </p>
          <p class="post__text">
            Ну, и классически, связь двусторонняя. Как сон, влияет на
            предпочтения в еде, так и предпочтения в еде влияют на сон [<a
              href="#sources-list"
              >13</a
            >]. Например, обнаружили, что большее количество клетчатки в диете
            приводит к большей продолжительности глубокого сна. В то время как
            сахар и прочие простые углеводы напротив, продолжительность понижают
            [<a href="#sources-list">14</a>]. И дополнительно люди чаще
            просыпаются ночью [<a href="#sources-list">15</a>]. В целом, большое
            количество сахаров и насыщенных жиров, при низком количестве
            клетчатки в диете ассоциируют с худшим качеством сна, равно как и
            нарушением восстановительных процессов во время него [<a
              href="#sources-list"
              >16</a
            >]
          </p>
          <p class="post__text">
            Так что да, диета еще и на это влияет. На всякий случай также
            напоминаю, что очень поздний ужин и ночные перекусы также негативно
            сказываются на сне [<a href="#sources-list">17</a>]. Да и на
            пищеварении тоже. Лучше не есть хотя бы за три часа до сна [<a
              href="#sources-list"
              >18</a
            >]. Если не выходит, то можно и пропустить ужин, здоровее будете.
            Причем намного здоровее, но эффект голодания мы обсудим после темы
            сна (спойлер). Ну а пока же про сон: в следующем посте наконец
            подберемся к мозгу и его эффективности.
          </p>

          <div class="post__continue continue">
            <a href="./sleepy-immune-system.html" class="continue__button">
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Сон</span>
                <span class="continue__heading">Сонная иммунная система</span>
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a
              href="./cleaning-byproducts-during-sleep.html"
              class="continue__button"
            >
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Сон</span>
                <span class="continue__heading"
                  >Избавляемся от отходов производства во время сна</span
                >
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a
                  class="sources__link"
                  href="https://sci-hub.st/10.1210/jc.2009-2430"
                  target="_blank"
                  >Donga, et al. “A single night of partial sleep deprivation
                  induces insulin resistance in multiple metabolic pathways in
                  healthy subjects.” The Journal of clinical endocrinology and
                  metabolism vol. 95,6 (2010): 2963-8.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3669075/"
                  target="_blank"
                  >Klingenberg, Lars et al. “Acute Sleep Restriction Reduces
                  Insulin Sensitivity in Adolescent Boys.” <i>Sleep</i> vol.
                  36,7 1085-1090. 1 Jul. 2013.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5723935/"
                  target="_blank"
                  >Ndisang, Joseph Fomusi et al. “Insulin Resistance, Type 1 and
                  Type 2 Diabetes, and Related Complications 2017.”
                  <i>Journal of diabetes research</i> vol. 2017 (2017):
                  1478294.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a
                  class="sources__link"
                  href="http://sci-hub.st/10.1016/S0140-6736(99)01376-8"
                  target="_blank"
                  >Spiegel, K et al. "Impact of sleep debt on metabolic and
                  endocrine function". <i>Lancet (London, England)</i> vol. 354,
                  9188. 10/23/1999.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3763921/"
                  target="_blank"
                  >Greer, M et al. “The impact of sleep deprivation on food
                  desire in the human brain.” Nature communications vol. 4
                  (2013): 2259.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a
                  class="sources__link"
                  href="sci-hub.se/10.1038/ijo.2011.125"
                  target="_blank"
                  >Hollmann, M et al. “Neural correlates of the volitional
                  regulation of the desire for food.” International journal of
                  obesity (2005) vol. 36,5 (2012): 648-55.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a
                  class="sources__link"
                  href="https://sci-hub.se/https://pubmed.ncbi.nlm.nih.gov/16028032/"
                  target="_blank"
                  >Small, Dana M et al. "Odor/taste integration and the
                  perception of flavor". <i>Experimental brain research</i> vol.
                  166, 3-4. 2005 Oct.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[8]</span>
                <a
                  class="sources__link"
                  href="https://sci-hub.se/https://doi.org/10.1016/j.neuroimage.2010.11.055"
                  target="_blank"
                  >Laan, L N van der et al. "The first taste is always with the
                  eyes: a meta-analysis on the neural correlates of processing
                  visual food cues". <i>NeuroImage</i> vol. 55, 1.
                  03/01/2011.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[9]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5558152/"
                  target="_blank"
                  >Asarnow, D et al. “The Impact of Sleep Improvement on Food
                  Choices in Adolescents With Late Bedtimes.” The Journal of
                  adolescent health : official publication of the Society for
                  Adolescent Medicine vol. 60,5 (2017): 570-576.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[10]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3142720/"
                  target="_blank"
                  >St-Onge, et al. “Effects of Diet on Sleep Quality.” Advances
                  in nutrition (Bethesda, Md.) vol. 7,5 938-49. 15 Sep. 2016.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[11]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC535701/"
                  target="_blank"
                  >Taheri, et al. “Short sleep duration is associated with
                  reduced leptin, elevated ghrelin, and increased body mass
                  index.” PLoS medicine vol. 1,3 (2004): e62.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[12]</span>
                <a
                  class="sources__link"
                  href="https://academic.oup.com/jcem/article/89/11/5762/2844744"
                  target="_blank"
                  >Spiegel, Karine et al. “Leptin levels are dependent on sleep
                  duration: relationships with sympathovagal balance,
                  carbohydrate regulation, cortisol, and thyrotropin.” The
                  Journal of clinical endocrinology and metabolism vol. 89,11
                  (2004): 5762-71.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[13]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5015038/"
                  target="_blank"
                  >St-Onge, Marie-Pierre et al. “Effects of Diet on Sleep
                  Quality.” <i>Advances in nutrition (Bethesda, Md.)</i> vol.
                  7,5 938-49. 15 Sep. 2016.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[14]</span>
                <a
                  class="sources__link"
                  href="https://jpma.org.pk/article-details/2815?article_id=2815"
                  target="_blank"
                  >Jalilolghadr, Shabnam et al. “Effect of low and high
                  glycaemic index drink on sleep pattern in children.” JPMA. The
                  Journal of the Pakistan Medical Association vol. 61,6 (2011):
                  533-6.
                </a>
              </li>
              <li class="sources__item">
                <span class="sources__number">[15]</span>
                <a
                  class="sources__link"
                  href="https://sci-hub.se/10.3945/an.116.012336"
                  target="_blank"
                  >St-Onge, Marie-Pierre et al. "Effects of Diet on Sleep
                  Quality". <i>Advances in nutrition (Bethesda, Md.)</i> vol. 7,
                  5. 09/15/2016.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[16]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4702189/"
                  target="_blank"
                  >St-Onge, Marie-Pierre et al. “Fiber and Saturated Fat Are
                  Associated with Sleep Arousals and Slow Wave Sleep.”
                  <i
                    >Journal of clinical sleep medicine : JCSM : official
                    publication of the American Academy of Sleep Medicine</i
                  >
                  vol. 12,1 (2016): 19-24.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[17]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3227713/"
                  target="_blank"
                  >Crispim, Aparecida et al. “Relationship between food intake
                  and sleep pattern in healthy individuals.” Journal of clinical
                  sleep medicine : JCSM : official publication of the American
                  Academy of Sleep Medicine vol. 7,6 (2011): 659-64.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[18]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6411188/"
                  target="_blank"
                  >Lopes, Tássia do Vale Cardoso et al. “Eating Late Negatively
                  Affects Sleep Pattern and Apnea Severity in Individuals With
                  Sleep Apnea.”
                  <i
                    >Journal of clinical sleep medicine : JCSM : official
                    publication of the American Academy of Sleep Medicine</i
                  >
                  vol. 15,3 383-392. 15 Mar. 2019.</a
                >
              </li>
            </ul>
          </div>
        </article>
      </section>
    </main>
  </body>
</html>
