<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/articles.css" />
    <link rel="stylesheet" href="../styles/post.css" />
    <link rel="stylesheet" href="../styles/continue.css" />
    <link rel="stylesheet" href="../styles/sources.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <title>
      ПРОбиотики и ПРЕбиотики - инструмент для втюхивания йогуртов или важная
      составляющая крепкого здоровья? | Адам Леос
    </title>
  </head>

  <body>
    <header class="header header--secondary">
      <nav class="header__nav nav">
        <input type="checkbox" id="hamburger" class="nav__hamburger-checkbox" />
        <label for="hamburger" class="nav__hamburger">
          <span class="nav__bar-one"></span>
          <span class="nav__bar-two"></span>
          <span class="nav__bar-three"></span>
        </label>
        <a href="../index.html" class="header__link header__link--mobile">
          <img
            src="../img/logo.png"
            alt="graphic brain with mustache"
            class="header__logo"
          />
        </a>
        <ul class="nav__list">
          <li class="nav__item">
            <a href="../index.html" class="nav__link">Главная</a>
          </li>
          <li class="nav__item">
            <a href="../topics/index.html" class="nav__link">Темы</a>
          </li>
          <li class="nav__item nav__item--logo">
            <a href="../index.html" class="header__link">
              <img
                src="../img/logo.png"
                alt="graphic brain with mustache"
                class="header__logo"
              />
            </a>
          </li>
          <li class="nav__item">
            <a href="../media/index.html" class="nav__link">Медиа</a>
          </li>
          <li class="nav__item">
            <a href="../contacts/index.html" class="nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main">
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="../topics/microbiome.html"><span>Микрофлора</span></a>
            <div class="post__delimiter"></div>
          </span>
          ПРОбиотики и ПРЕбиотики - инструмент для втюхивания йогуртов или
          важная составляющая крепкого здоровья?
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img
              class="post__image"
              src="../img/posts/probiotics-and-prebiotics-crucial-for-health.jpg"
              alt="probiotics-and-prebiotics-crucial-for-health"
            />
          </div>
          <p class="post__text">
            Наверняка каждый из вас слышал слово «пробиотики». Скорее всего в
            контексте с йогуртом. Возможно в связке с непонятными «бифидо- и
            лактобактериями» и что-то там про улучшение пищеварения и здоровья.
            И надеюсь что вы, как и я, задавались вопросом - очередной ли это
            инструмент маркетинга или действительно что-то полезное? А ещё, что
            насчёт ПРЕбиотиков - это синоним ПРОбиотиков или что-то другое?
          </p>
          <p class="post__text">
            Сегодня мы во всем разберёмся, ведь это как нельзя близко к
            последней нашей теме - микрофлоре кишечника.
          </p>
          <p class="post__text">
            Прежде всего обозначим что есть два отдельных понятия - пребиотики
            [<a href="#sources-list">1</a>] и пробиотики. Приставки «пре» и
            «про» указывают на то, как будет оказано влияние на вашу микрофлору.
            Здесь все довольно прозрачно - «пре» можно воспринимать как «до» или
            «перед». А что нужно бактериям перед процветающим развитием?
            Правильно - ресурсы! «Пребиотики» это попросту еда для
            микроорганизмов [<a href="#sources-list">2</a>]. Вы же помните, что
            они питаются клетчаткой? Все виды сложных углеводов, что мы
            обсуждали в предыдущем посте, можно называть пребиотиками. Совет
            здесь простой - ешьте побольше клетчатки! [<a href="#sources-list"
              >3</a
            >]
          </p>
          <p class="post__text">
            Но что же с «про»? Пробиотики - это уже сами бактерии, которые по
            идее должны попасть внутрь нас и колонизировать кишечник. Вообще
            микробы и так постоянно в нас попадают, особенно вместе с едой.
            Например с той же клетчаткой - так вы можете постепенно улучшить
            свой микробиом. Но пробиотики это большая концентрация таких
            бактерий, позволяющая восстановить микрофлору и решить множество
            проблем со здоровьем [<a href="#sources-list">4, 5, 6</a>]. Кроме
            широкого медицинского применения в виде специальных веществ,
            пробиотиками являются и много видов продуктов. Преимущественно это
            ферментированная еда, что логично, ведь ферментируют продукты именно
            бактерии [<a href="#sources-list">7</a>]. Отличный пример, это
            широко распространённые у нас квашеная капуста и свекла. Рекомендую
            также попробовать корейское блюдо кимчхи (острые ферментированные
            овощи, чаще всего пекинская капуста).
          </p>
          <p class="post__text">
            Но не ограничивайте себя, пробуйте разную ферментированную
            продукцию. Если молочные продукты являются неотъемлемой частью
            вашего рациона и вы хорошо их переносите, то кефир и йогурт также
            представители пробиотиков, так как являются ферментированным
            молоком. Но даже если вы молочку не употребляете (также как и я, но
            о причинах в других постах. Спойлер, с вегетарианством это никак не
            связано), всегда есть растительные альтернативы. К примеру, любимый
            мной кокосовый йогурт.
          </p>
          <p class="post__text">
            Напоследок, давайте вернемся к магазинной продукции, но уже с новыми
            знаниями, и зафиксируем как нами манипулируют и как этого избежать.
            Важно понимать, что все эти пестрящие лейблы типа “в нашем йогурте
            из сахара 9999 триллионов бактерий” несут мало полезной информации
            из-за пары моментов:
          </p>
          <p class="post__text">
            1. Бактерии в пробиотиках должны быть живыми. Что логично, ведь
            мертвые бактерии не смогут колонизировать ваш кишечник. Максимум -
            послужат едой для других видов бактерий, но эффекта пробиотика вы не
            получите. Поэтому важно чтобы пробиотик содержал живые бактерии.
            Также не менее важны условия производства и хранения продукции -
            микроорганизмы очень чувствительны к окружению и могут испустить дух
            задолго до того, как будут вами съедены [<a href="#sources-list"
              >8</a
            >]
          </p>
          <p class="post__text">
            2. Пробиотик, как и любая еда, скорее всего попадет к вам в кишечник
            через пищеварительный тракт. Где большинство бактерий будут
            переварены или повреждены. Так что не ожидайте получить и близко
            “9999 триллионов”, если только вы не употребляете специальные
            медицинские препараты [<a href="#sources-list">9</a>]
          </p>
          <p class="post__text">
            В довершении ко всему, должен очень сильно вас попросить выбирать
            всю продукцию без сахара, подсластителей и прочего мусора. Мы об
            этом поговорим отдельно, но даже в разрезе микрофлоры эти вещи
            оказывают негативный эффект на ваш микробиом [<a
              href="#sources-list"
              >10</a
            >]. Набросайте сами туда ягод или орехов, приправьте корицей или
            мятой и выйдет в сотни раз лучше любого магазинного.
          </p>
          <p class="post__text">
            Вообще все можно делать самому дома, это очень просто. Те же
            закваски для молочки продаются в любой аптеке или даже магазине.
          </p>

          <div class="post__continue continue">
            <a
              href="./what-to-eat-for-microbiome-to-thrive.html"
              class="continue__button"
            >
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Микрофлора</span>
                <span class="continue__heading"
                  >Чем питаться, чтобы микрофлора кишечника процветала (а вместе
                  с ней и вы)</span
                >
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a
              href="./how-our-immune-system-depends-on-microbs.html"
              class="continue__button"
            >
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Микрофлора</span>
                <span class="continue__heading">
                  Как наш иммунитет зависит от микробов в кишечнике</span
                >
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6463098/"
                  target="_blank"
                  >Dorna Davani-Davari, Dorna et al. “Prebiotics: Definition,
                  Types, Sources, Mechanisms, and Clinical Applications.” Foods
                  (Basel, Switzerland) vol. 8,3 92. 9 Mar. 2019.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5390821/"
                  target="_blank"
                  >Hannah Holscher, Hannah D. “Dietary fiber and prebiotics and
                  the gastrointestinal microbiota.” Gut microbes vol. 8,2
                  (2017): 172-184.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a
                  class="sources__link"
                  href="https://www.gastrojournal.org/article/S0016-5085(17)35698-6/fulltext"
                  target="_blank"
                >
                  Nicolucci, Alissa C et al. “Prebiotics Reduce Body Fat and
                  Alter Intestinal Microbiota in Children Who Are Overweight or
                  With Obesity.” Gastroenterology vol. 153,3 (2017): 711-722.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[4]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4997396/"
                  target="_blank"
                  >Huang, Ruixue et al. “Effect of Probiotics on Depression: A
                  Systematic Review and Meta-Analysis of Randomized Controlled
                  Trials.” <i>Nutrients</i> vol. 8,8 483. 6 Aug. 2016.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[5]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4356930/"
                  target="_blank"
                  >Didari, Tina et al. “Effectiveness of probiotics in irritable
                  bowel syndrome: Updated systematic review with meta-analysis.”
                  <i>World journal of gastroenterology</i> vol. 21,10 (2015):
                  3072-84.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[6]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6319478/"
                  target="_blank"
                  >Kijmanawat, Athasit et al. “Effects of probiotic supplements
                  on insulin resistance in gestational diabetes mellitus: A
                  double-blind randomized controlled trial.”
                  <i>Journal of diabetes investigation</i> vol. 10,1 (2019):
                  163-170.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[7]</span>
                <a
                  class="sources__link"
                  href="https://sci-hub.se/10.1016/j.copbio.2005.02.008"
                  target="_blank"
                  >Stanton, Catherine et al. "Fermented functional foods based
                  on probiotics and their biogenic metabolites".
                  <i>Current opinion in biotechnology</i> vol. 16, 2. 2005
                  Apr.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[8]</span>
                <a
                  class="sources__link"
                  href="https://sci-hub.se/https://doi.org/10.1080/10408690590900144"
                  target="_blank"
                  >Champagne, Claude P et al. "Challenges in the addition of
                  probiotic cultures to foods".
                  <i>Critical reviews in food science and nutrition</i> vol. 45,
                  1. 2005.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[9]</span>
                <a
                  class="sources__link"
                  href="https://www.sciencedirect.com/science/article/pii/S0022030212007138"
                  target="_blank"
                  >F, Ortakci, F, and S Sert. “Stability of free and
                  encapsulated Lactobacillus acidophilus ATCC 4356 in yogurt and
                  in an artificial human gastric digestion system.” Journal of
                  dairy science vol. 95,12 (2012): 6918-25.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[10]</span>
                <a
                  class="sources__link"
                  href="https://www.sciencedirect.com/science/article/abs/pii/S0031938416309489"
                  target="_blank"
                  >Sen, Tanusree et al. “Diet-driven microbiota dysbiosis is
                  associated with vagal remodeling and obesity.” Physiology &
                  behavior vol. 173 (2017): 305-317.
                </a>
              </li>
            </ul>
          </div>
        </article>
      </section>
    </main>
  </body>
</html>
