<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/articles.css" />
    <link rel="stylesheet" href="../styles/post.css" />
    <link rel="stylesheet" href="../styles/continue.css" />
    <link rel="stylesheet" href="../styles/sources.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <title>
      Какие повседневные вещи уничтожают микрофлору. Часть I | Адам Леос
    </title>
  </head>

  <body>
    <header class="header header--secondary">
      <nav class="header__nav nav">
        <input type="checkbox" id="hamburger" class="nav__hamburger-checkbox" />
        <label for="hamburger" class="nav__hamburger">
          <span class="nav__bar-one"></span>
          <span class="nav__bar-two"></span>
          <span class="nav__bar-three"></span>
        </label>
        <a href="../index.html" class="header__link header__link--mobile">
          <img
            src="../img/logo.png"
            alt="graphic brain with mustache"
            class="header__logo"
          />
        </a>
        <ul class="nav__list">
          <li class="nav__item">
            <a href="../index.html" class="nav__link">Главная</a>
          </li>
          <li class="nav__item">
            <a href="../topics/index.html" class="nav__link">Темы</a>
          </li>
          <li class="nav__item nav__item--logo">
            <a href="../index.html" class="header__link">
              <img
                src="../img/logo.png"
                alt="graphic brain with mustache"
                class="header__logo"
              />
            </a>
          </li>
          <li class="nav__item">
            <a href="../media/index.html" class="nav__link">Медиа</a>
          </li>
          <li class="nav__item">
            <a href="../contacts/index.html" class="nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main">
      <section class="main__section">
        <h2 class="main__heading main__heading--post">
          <span class="main__subheading">
            <a href="../topics/microbiome.html"><span>Микрофлора</span></a>
            <div class="post__delimiter"></div>
          </span>
          Какие повседневные вещи уничтожают микрофлору. Часть I
        </h2>

        <article class="post">
          <div class="post__imagewrapper">
            <img
              class="post__image"
              src="../img/posts/what-destroying-microbiome-i.jpg"
              alt="what-destroying-microbiome-i"
            />
          </div>
          <p class="post__text">
            Сегодня последний пост о микрофлоре (который не влез в один пост,
            поэтому их два сразу). В конце поста, кстати, упомяну тему следующей
            серии публикаций. В завершении этой темы хотел бы обратить внимание
            на основные вещи в нашей с вами ежедневной жизни, которые незаметно
            разрушают нашу микрофлору.
          </p>
          <p class="post__text">
            Начну с медикаментов. Прежде всего, конечно же, антибиотики. Они
            были великолепным открытием и спасли многие миллионы жизней. Но как
            же неправильно мы их использовали… Они прописывались налево и
            направо, по каждому чиху и просто в целях профилактики. Да и люди
            любили принять антибиотик без повода, ведь “что в этом плохого, они
            убивают все эти плохие бактерии”. И не просто убивают, антибиотики
            буквально выжигают всю вашу микрофлору, будто напалмом [<a
              href="#sources-list"
              >1</a
            >]. Только вот потом оказалось, что многие бактерии не только “не
            плохие”, но и критически необходимые для здорового функционирования
            человека. Мы сейчас опустим детали других серьёзных проблем, ждущих
            человечество в будущем из-за переиспользования антибиотиков (как
            бактериальная резистентность) [<a href="#sources-list">2</a>] и
            сосредоточимся лишь на микрофлоре. Но об антибиотиках я обязательно
            сделаю отдельное видео и ряд постов. Пока что же, если вам
            действительно прописали антибиотики и случай серьезный - обязательно
            закончите весь курс, и в особенности курс по восстановлению
            микрофлоры после (и не забывайте о диете).
          </p>
          <p class="post__text">
            Еще есть Нестероидные Противовоспалительные Препараты (НПВП): группа
            лекарственных средств, обладающих обезболивающим, жаропонижающим и
            противовоспалительным эффектами, уменьшают боль, лихорадку и
            воспаление. Известными представителями являются Аспирин и Ибупрофен.
            Такие препараты оказывают значительное негативное влияние на
            микробов в кишечнике [<a href="#sources-list">3</a>]. Так что в
            следующий раз, когда решите принять “аспиринчик для профилактики”,
            вспомните, что сделаете только хуже себе.
          </p>
          <p class="post__text">
            Это ещё не всё! Так как материал в один пост не влез, продолжение о
            незаметных повседневных вещах - ниже, во второй части.
          </p>

          <div class="post__continue continue">
            <a
              href="./how-microbs-manipulate-with-our-food-preferences.html"
              class="continue__button"
            >
              <div class="continue__arrow">&#10229;</div>
              <div class="continue__content">
                <span class="continue__tag">Микрофлора</span>
                <span class="continue__heading"
                  >Как микробы манипулируют нашими предпочтениями в еде</span
                >
              </div>
            </a>
            <div class="continue__delimiter"></div>
            <a
              href="./what-destroying-microbiome-ii.html"
              class="continue__button"
            >
              <div class="continue__content continue__content--right">
                <span class="continue__tag">Микрофлора</span>
                <span class="continue__heading"
                  >Какие повседневные вещи уничтожают микрофлору. Часть II</span
                >
              </div>
              <div class="continue__arrow">&#10230;</div>
            </a>
          </div>

          <div class="post__sources sources" id="sources-list">
            <h5 class="sources__toggler">Источники</h5>
            <ul class="sources__list">
              <li class="sources__item">
                <span class="sources__number">[1]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4831151/"
                  target="_blank"
                  >Amy Langdon, Amy et al. “The effects of antibiotics on the
                  microbiome throughout development and alternative approaches
                  for therapeutic modulation.” Genome medicine vol. 8,1 39. 13
                  Apr. 2016.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[2]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2937522/"
                  target="_blank"
                  >Davies, Julian, and Dorothy Davies. “Origins and evolution of
                  antibiotic resistance.”
                  <i>Microbiology and molecular biology reviews : MMBR</i> vol.
                  74,3 (2010): 417-33.</a
                >
              </li>
              <li class="sources__item">
                <span class="sources__number">[3]</span>
                <a
                  class="sources__link"
                  href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4754147/"
                  target="_blank"
                  >M Rogers, M A M, and D M Aronoff. “The influence of
                  non-steroidal anti-inflammatory drugs on the gut microbiome.”
                  Clinical microbiology and infection : the official publication
                  of the European Society of Clinical Microbiology and
                  Infectious Diseases vol. 22,2 (2016): 178.e1-178.e9.</a
                >
              </li>
            </ul>
          </div>
        </article>
      </section>
    </main>
  </body>
</html>
