{% extends "base.html" %}
{% block head %}
{{ super() }}
<meta name="description"
  content="Адам Леос - сайт с полезной информацией по улучшению здоровья и качества жизни, опираясь на науку и исследования" />
{% endblock %}
{% block title %}
Адам Леос - улучшаем здоровье и качество жизни, опираясь на научные
    исследования
{% endblock %}

{% block picture_header %}
<h1 class="header__heading">
  Улучшаем здоровье и качество жизни,<br />
  опираясь на научные исследования
</h1>
{% endblock %}

{% block content %}
<section class="main__section videos">
  <a href="/media/videos.html" class="main__heading-link">
    <h2 class="main__heading">Видео</h2>
  </a>

  <div class="videos__grid">
    <div class="videos__container">
      <iframe src="https://www.youtube-nocookie.com/embed/lfTmfrPGx50" title="Голодание" loading="lazy"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <div class="videos__container">
      <iframe src="https://www.youtube-nocookie.com/embed/Pz_8yxa916I" title="Сон" loading="lazy"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>

    <a href="/media/videos.html" class="articles__all">
      <span class="articles__arrow articles__arrow--top">&nbsp;</span>
      <span class="articles__arrow-text">Все мои видео</span>
      <span class="articles__arrow articles__arrow--bottom">&nbsp;</span>
    </a>

    <a href="/media/videos.html" class="articles__button articles__button--mobile">
      Все мои видео
    </a>
  </div>
</section>

<section class="main__section extra">
  <a href="/media/extra.html" class="main__heading-link">
    <h2 class="main__heading">Экстра</h2>
  </a>

  <div class="videos__grid">
    <div class="videos__container">
      <iframe src="https://www.youtube-nocookie.com/embed/of-8kriAwvo" title="Биохакинг" loading="lazy"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>

    <div class="videos__container">
      <iframe src="https://www.youtube-nocookie.com/embed/7tmloOjVa6M" title="Работа" loading="lazy"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>

    <a href="/media/extra.html" class="articles__all">
      <span class="articles__arrow articles__arrow--top">&nbsp;</span>
      <span class="articles__arrow-text">Все экстра</span>
      <span class="articles__arrow articles__arrow--bottom">&nbsp;</span>
    </a>

    <a href="/media/extra.html" class="articles__button articles__button--mobile">
      Все экстра
    </a>
  </div>
</section>
{% set header='Темы' %}
{% include "topics/last_topics_section.html" ignore missing with context %}
{% endblock %}