{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='styles/contacts.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='styles/copyright.css')}}" />
<meta name="description"
  content="Все контакты, группы и социальные сети, где можно найти мои работы, публикации, или просто общение. Всегда рад обратной связи" />
{% endblock %}
{% block title %} Контакты | Адам Леос
{% endblock %}

{% block content%}
<section class="main__section contacts">
  <h2 class="main__heading main__heading--tall">Контакты</h2>

  <img class="contacts__image" src="{{url_for('static', filename='img/me.jpg')}}" alt="Адам Леос, я" />

  <div class="contacts__wrapper">
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__paragraph">
          <a class="contacts__link" href="https://www.youtube.com/c/AdamLeos" rel="noopener noreferrer"
            target="_blank">Ютуб канал</a>
          - основной канал проекта, вокруг которого я строю все остальные
          социальные сети. Хотя видео и выкладываю редко, моя цель -
          <b>создавать качественный и надежный контент</b>.
        </p>
        <p class="contacts__paragraph">
          А это значит: длительная подготовка материала, сбор
          исследований, перепроверки источников, написание сценария, и
          реализация идей максимально хорошо.
        </p>
      </li>

      <li class="contacts__item">
        <p class="contacts__paragraph">
          <a class="contacts__link" href="https://t.me/adamleos" rel="noopener noreferrer" target="_blank">Группа в
            телеграмм</a>
          - второй по важности канал, т.к. отсюда все и началось. На
          протяжении нескольких недель, пока я подготавливаю следующий
          видеоролик на какую-либо тему, в телеграмме я раскрываю тему
          отдельными, короткими постами.
        </p>

        <p class="contacts__paragraph">
          Часто информация там более детальная, чем в видео (в силу
          сложности подачи материала). После публикации видеоролика тему
          закрываю и перехожу к новой. Рекомендую комбинировать просмотры
          видеороликов с прочтением телеграмма, дабы разобраться лучше.
        </p>
      </li>

      <li class="contacts__item">
        <p class="contacts__paragraph">
          <a class="contacts__link" href="https://www.instagram.com/adam4leos/" rel="noopener noreferrer"
            target="_blank">Инстаграмм</a>
          - здесь присутсвует уникальный контент, который я подаю отлично
          от других соц. сетей. В силу специфики платформы, в инстаграмм я
          выкладываю разные фотографии и короткие видео из своей жизни.
        </p>

        <p class="contacts__paragraph">
          Но обязательно подкрепляя их рассказом о каком-то интересном
          исследовании, напрямую связанным с публикацией. Разве что форма
          подачи проще и менее подробная, чем в телеграмме.
        </p>
      </li>

      <li class="contacts__item">
        <p class="contacts__paragraph">
          <a class="contacts__link" href="https://www.facebook.com/adamleosfb" rel="noopener noreferrer"
            target="_blank">Группа в фейсбук</a>
          - существует скорее "чтоббыло". В основном, преследуя цель
          распространения информации, покрывая как можно больше источников
          распространения. Может кому-то будет удобнее читать фейсбук.
        </p>

        <p class="contacts__paragraph">
          Туда копирую посты из телеграмма, разбавляя разве что картинкой
          (которую можно увидеть и здесь, на сайте). Посты там публикуются
          с задержкой, уникального контента нет. Но все еще с любовью.
        </p>
      </li>

      <li class="contacts__item">
        <p class="contacts__paragraph">
          <a class="contacts__link" href="https://www.facebook.com/adam4leos" rel="noopener noreferrer"
            target="_blank">Личный фейсбук
          </a>
          - здесь появляются репосты из инстаграмма, а также репосты
          других моих "публичных появлений" и важный событий (типа
          публикации видео!).
        </p>

        <p class="contacts__paragraph">
          Можете добавляться в друзья, но так как я не использую фейсбук
          для общения, то могу легко пропустить личные сообщения там.
        </p>
      </li>

      <li class="contacts__item">
        <p class="contacts__paragraph">
          <a class="contacts__link" href="mailto:adam.leos.contact@pm.me">Имейл</a>
          - специальный почтовый ящик, на случай необходимости написать
          мне электронное письмо. Этот имейл создан исключительно для
          связи с аудиторией, так что можете писать что угодно (только без
          мата).
        </p>
      </li>
    </ul>
  </div>

  <div class="copyright" id="copyright">
    <span class="copyright__letter copyright__letter--1">W</span>
    <span class="copyright__letter copyright__letter--2">I</span>
    <span class="copyright__letter copyright__letter--3">T</span>
    <span class="copyright__letter copyright__letter--4">H</span>
    <span class="copyright__letter copyright__letter--5">&nbsp;</span>
    <span class="copyright__letter copyright__letter--6">L</span>
    <span class="copyright__letter copyright__letter--7">O</span>
    <span class="copyright__letter copyright__letter--8">V</span>
    <span class="copyright__letter copyright__letter--9">E</span>
    <span class="copyright__letter copyright__letter--10">&nbsp;</span>
    <span class="copyright__letter copyright__letter--11">F</span>
    <span class="copyright__letter copyright__letter--12">R</span>
    <span class="copyright__letter copyright__letter--13">O</span>
    <span class="copyright__letter copyright__letter--14">M</span>
    <span class="copyright__letter copyright__letter--15">&nbsp;</span>
    <span class="copyright__letter copyright__letter--16">A</span>
    <span class="copyright__letter copyright__letter--17">D</span>
    <span class="copyright__letter copyright__letter--18">A</span>
    <span class="copyright__letter copyright__letter--19">M</span>
    <span class="copyright__letter copyright__letter--20">&nbsp;</span>
    <span class="copyright__letter copyright__letter--21">L</span>
    <span class="copyright__letter copyright__letter--22">E</span>
    <span class="copyright__letter copyright__letter--23">O</span>
    <span class="copyright__letter copyright__letter--24">S</span>
    <span class="copyright__letter copyright__letter--25">&nbsp;</span>
  </div>
</section>
{% endblock %}